<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 全局的映射器启用或禁用缓存。 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 全局启用或禁用延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 允许或不允许多种结果集从一个单独的语句中返回 -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!-- 使用列标签代替列名 -->
		<setting name="useColumnLabel" value="true" />
		<!-- 允许JDBC支持生成的键 -->
		<setting name="useGeneratedKeys" value="false" />
		<!-- 配置默认的执行器 -->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<!-- 设置超时时间 -->
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<!-- 实体类别名 -->
	<typeAliases>
		<package name="com.cn.periodical.pojo" />
		<!-- <package name="com.chanjetpay.gateway.enumtype"/> -->
		<!-- <typeAlias type=”com.someapp.model.User” alias="User"/> 试试这个,resultMap指定到此别名-->
		<package name="com.cn.periodical.request"/>
		<package name="com.cn.periodical.response"/>
	</typeAliases>

	<!-- 类型转换处理器 -->
	<typeHandlers>
		<!-- <typeHandler handler="com.chanjetpay.gaterouter.handler.TokenStatusEnumHandler" 
			javaType="com.chanjetpay.gaterouter.enumtype.TokenStatusEnum"/> -->
	</typeHandlers>

	<!-- 映射文件 -->
	<mappers>
		<mapper resource="sqlmap/AuthorInfoMapper.xml" />
		<mapper resource="sqlmap/UserInfoMapper.xml"/>
		<mapper resource="sqlmap/AddressInfoMapper.xml"/>
		<mapper resource="sqlmap/ArticleInfoMapper.xml"/>
		<mapper resource="sqlmap/ArticleAttachmentInfoMapper.xml"/>
		<mapper resource="sqlmap/CouncilInfoMapper.xml"/>
		<mapper resource="sqlmap/ArticleInfoExtendMapper.xml"/>
		<mapper resource="sqlmap/ArticleFlowsMapper.xml"/>
		<mapper resource="sqlmap/OrderInfoMapper.xml"/>
		<mapper resource="sqlmap/PeriodicalDetailsMapper.xml"/>
		<mapper resource="sqlmap/PeriodicalInfoMapper.xml"/>
		<mapper resource="sqlmap/PeriodicalMapper.xml"/>
		<mapper resource="sqlmap/PayeeInfoMapper.xml"/>
		<mapper resource="sqlmap/AccountInfoMapper.xml"/>
		<mapper resource="sqlmap/EditorInfoMapper.xml"/>
		<mapper resource="sqlmap/ExpertInfoMapper.xml"/>
		<mapper resource="sqlmap/ReaderInfoMapper.xml"/>
		<!-- 业务 -->
		<mapper resource="sqlmap/ArticleQueryMapper.xml"/>
		<mapper resource="sqlmap/UserQueryMapper.xml"/>
	</mappers>
</configuration>