<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 全局的映射器启用或禁用缓存。 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 全局启用或禁用延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 允许或不允许多种结果集从一个单独的语句中返回 -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!-- 使用列标签代替列名 -->
		<setting name="useColumnLabel" value="true" />
		<!-- 允许JDBC支持生成的键 -->
		<setting name="useGeneratedKeys" value="false" />
		<!-- 配置默认的执行器 -->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<!-- 设置超时时间 -->
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<!-- 实体类别名 -->
	<typeAliases>
		<package name="com.cn.periodical.pojo" />
		<!-- <package name="com.chanjetpay.gateway.enumtype"/> -->
		<!-- <typeAlias type=”com.someapp.model.User” alias="User"/> 试试这个,resultMap指定到此别名-->
		<package name="com.cn.periodical.request"/>
		<package name="com.cn.periodical.response"/>
	</typeAliases>

	<!-- 类型转换处理器 -->
	<typeHandlers>
		<!-- <typeHandler handler="com.chanjetpay.gaterouter.handler.TokenStatusEnumHandler" 
			javaType="com.chanjetpay.gaterouter.enumtype.TokenStatusEnum"/> -->
	</typeHandlers>

	<!-- 映射文件 -->
	<mappers>
		<mapper resource="sqlmap/AuthorInfoMapper.xml" /><!-- 作者mapper -->
		<mapper resource="sqlmap/UserInfoMapper.xml"/><!-- 用户mapper -->
		<mapper resource="sqlmap/AddressInfoMapper.xml"/><!-- 各种地址mapper -->
		<mapper resource="sqlmap/ArticleInfoMapper.xml"/><!-- 稿件mapper -->
		<mapper resource="sqlmap/ArticleAttachmentInfoMapper.xml"/><!-- 稿件附件mapper -->
		<mapper resource="sqlmap/ArticleInfoExtendMapper.xml"/><!-- 稿件扩展mapper,都谁能看这个稿件 -->
		<mapper resource="sqlmap/ArticleFlowsMapper.xml"/><!-- 稿件流水mapper -->
		<mapper resource="sqlmap/OrderInfoMapper.xml"/><!-- 订单mapper -->
		<mapper resource="sqlmap/PeriodicalDetailsMapper.xml"/><!-- 期刊内容mapper,包括广告+稿件 -->
		<mapper resource="sqlmap/PeriodicalInfoMapper.xml"/><!-- 一种期刊信息mapper -->
		<mapper resource="sqlmap/PeriodicalMapper.xml"/><!-- 期刊期数信息mapper:一本农业期刊一年12期,此处将创建12本该期刊,后续组刊时用此表-->
		<mapper resource="sqlmap/PayeeInfoMapper.xml"/><!-- 收款人信息 -->
		<mapper resource="sqlmap/PayerInfoMapper.xml"/><!-- fu款人信息 -->
		<mapper resource="sqlmap/AccountInfoMapper.xml"/><!-- 账户信息 -->
		<mapper resource="sqlmap/EditorInfoMapper.xml"/><!-- 编辑信息 -->
		<mapper resource="sqlmap/ExpertInfoMapper.xml"/><!-- 专家信息 -->
		<mapper resource="sqlmap/ReaderInfoMapper.xml"/><!-- 读者信息 -->
		<mapper resource="sqlmap/PeriodicalDistributMapper.xml"/><!-- 期刊分发信息 -->
		<mapper resource="sqlmap/AdInfoMapper.xml"/><!-- 广告信息 -->
		<mapper resource="sqlmap/SectionInfoMapper.xml"/><!-- 栏目信息 -->
		<mapper resource="sqlmap/ResetPasswordMapper.xml"/><!-- 忘记密码 -->
		<mapper resource="sqlmap/BizPeriodicalMapper.xml"/><!-- 期刊业务 -->
		<mapper resource="sqlmap/CouncilContractFlowsMapper.xml"/><!-- 理事会付款流水 -->
		<mapper resource="sqlmap/CouncilInfoMapper.xml"/><!-- 理事会信息:一个理事会机构对应多条广告信息(不止一条广告)和付款流水(续签)-->
		<!-- 业务 -->
		<mapper resource="sqlmap/ArticleQueryMapper.xml"/>
		<mapper resource="sqlmap/UserQueryMapper.xml"/>
		<mapper resource="sqlmap/BizArticleFeeMapper.xml"/><!-- 稿费查询 -->
		<mapper resource="sqlmap/BizOrderMapper.xml"/><!-- 读者编辑订单 -->
	</mappers>
</configuration>