<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="css/icon.css" type="text/css" rel="stylesheet"/>
    <link href="css/easyui.css" type="text/css" rel="stylesheet"/>
   	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
   	<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/easyui-lang-zh_CN.js"></script>
   	<style>
   		#text p{padding-left:30px;padding-top:10px;padding-right:30px;}
   	</style>
  </head>
  <body>
    <div class=""  style="margin-left:30px;margin-right:30px;">
      <!-- Unnamed (Shape) -->
      <div id="u46" class="ax_shape"  style="float:left;">
        <img id="u46_img" class="img " src="img/portal/u68.png"/>
        <!-- Unnamed () -->
      </div>
       <div>
          <p><span>&nbsp;&nbsp; </span><span>论文要求/规范</span></p>
        </div>
        <!-- Unnamed () -->
        <div  id="text"  style="background-color:#F7F7F7;">
	        	<div id="tt" class="easyui-tabs" style="width:600px;height:600px;background-color:#cccccc;">   
				    <div title="研究性论文要求" style="padding:20px;">   
				        <div>
				        	研究性论文（包括研究简报）书写顺序为：基金项目、第一作者简介、通讯作者简介、标题、作者姓名、作者单位全称（所在省市、邮政编码）、所在城市、邮政编码、中文摘要、关键词、英文题名（与中文一致）、英文作者、单位全称、英文摘要、英文关键词。论文包括引言、材料与方法、结果与分析、结论、讨论、参考文献、致谢。<br>
							论文标题上方书写项<br>
							基金项目：项目来源“项目名称”（项目编号）。（一般不接受无项目资助的论文，除非具有重大学术价值。）<br>
							第一作者简介：姓名，性别，出生年月，籍贯，职称，学历，学位，研究方向及学术成就。通信地址：邮政编码具体地址、单位，Tel：区号-********，E-mail：***@*****，qq：****。<br>
							通讯作者简介(若没有通讯作者或通讯作者与第一作者为同一人，不需要此简介)：姓名，性别，出生年月，籍贯，职称，学历，学位，研究方向及学术成就。通信地址：邮政编码具体地址、单位，Tel：区号-********，E-mail：***@*****，qq：****。<br>
							收稿日期：201*-**-**，修回日期：201*-**-**。<br>
							上述项目置于论文标题上方（即可），不必设为脚注<br>
							一、标题<br>
							标题是论文的“眼”，论文的中心论点，论文内容的高度概括，是连接论文和读者的桥梁。应简明确切反映论文的特定内容，外延和内涵恰如其分。<br>
							正文中的各级标题用阿拉伯数字连续编号，可至3级标题。<br>
							二、作者与单位<br>
							署名限于选定研究课题和制订研究方案、参加全部或主要部分研究工作并作出主要贡献、参加撰写论文并能对内容负责的人。按贡献大小或实际参与分量排列名次。多位作者的署名之间应用逗号隔开，姓名之间不留空格。<br>
							单位包括工作单位全称、所在省市名（省会城市可略去省名）及邮政编码；单位名称与省市名之间应以逗号分隔，邮编和省市之间空一格；整个数据项用圆括号括起。<br>
							三、中文摘要<br>
							须采用报道性摘要编写形式，要求：完整，概括出研究的目的、方法、结果及结论；简洁，排除常识内容，避免重复题目；独立，不得引用文中参考文献号、图号和公式号；具体，尽量用具体数字来说明该项工作取得的进展或成效，例如某项性能指标提高了百分之多少，避免“效果很好”这类的含糊其辞。<br>
							③摘要中的缩略语、代号等须注明全称或加以说明；<br>
							④字数：300～400字。<br>
				        </div>   
				    </div>   
				    <div title="综述性论文要求" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
					        	综述性论文书写顺序为：基金项目、第一作者简介、通讯作者简介、标题、作者姓名、作者单位全称（所在省市城市名、邮政编码）、中文摘要、关键词、英文题名（与中文一致）、英文作者、单位全称（所在省市、邮政编码）、英文摘要、英文关键词、引言、主体部分、总结部分、参考文献、致谢。<br>
								标题上方书写项<br>
								基金项目：项目来源“项目名称”（项目编号）。（一般不接受无项目资助的论文，除非具有重大学术价值。）<br>
								第一作者简介：姓名，性别，出生年月，籍贯，职称，学历，学位，研究方向及学术成就。通信地址：邮政编码具体地址、单位，Tel：区号-********，E-mail：***@*****，qq：****。<br>
								通讯作者简介（若没有通讯作者或通讯作者与第一作者为同一人，不需要此简介）：姓名，性别，出生年月，籍贯，职称，学历，学位，研究方向及学术成就。通信地址：邮政编码具体地址、单位，Tel：区号-********，E-mail：***@*****，qq：****。<br>
								收稿日期：201*-**-**，修回日期：201*-**-**。<br>
								上述项目置于论文标题上方（即可），不必设为脚注<br>
								一、标题<br>
								标题是论文的“眼”，论文的中心论点，论文内容的高度概括，是连接论文和读者的桥梁。应简明确切反映论文的特定内容，外延和内涵恰如其分。<br>
								正文中的各级标题用阿拉伯数字连续编号，可至3级标题。<br>
								二、作者与单位<br>
								署名限于选定研究课题和制订研究方案、参加全部或主要部分研究工作并作出主要贡献、参加撰写论文并能对内容负责的人。按贡献大小或实际参与分量排列名次。多位作者的署名之间应用逗号隔开，姓名之间不留空格。<br>
								单位包括工作单位全称、所在省市名（省会城市可略去省名）及邮政编码；单位名称与省市名之间应以逗号分隔，邮编和省市之间空一格；整个数据项用圆括号括起。<br>
								三、中文摘要<br>
								1．请采用报道性摘要编写<br>
								要求：完整，概括出研究的目的、方法、结果及结论；简洁，排除常识内容，避免重复题目；独立，不得引用文中参考文献号、图号和公式号；具体，要能明确提出作者自己的观点。<br>
								2．书写时<br>
								（1）不分段，独立成篇、意义完整、信息具体；在描述结果和结论时要使用具体数据和科学术语，不使用文学性修饰词、不空洞自评；不使用图、表、参考文献、复杂的公式或化学式；<br>
								（2）不出现“文章”“本文”或“我们”等主语，宜采用“对……进行了研究”、“报告了……的现状”、“就……进行了调查（或统计分析）”等写法。应着重反映新内容和作者特别强调的观点，排除在本学科领域已成常识的内容，不简单重复题目中已有的信息；<br>
				        </div>  
				    </div>   
				    <div title="格式模板" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
				        	收稿日期：2014-5-23<br>
							作者简介：刘洪斌，男，农艺师，主要从事农药应用技术研究。联系电话：0731-82561663；E-mail：plantist@sohu.com。<br>
							松脂•咪鲜胺18%乳油防治水稻稻瘟病田间药效研究<br>
							刘洪斌1，陈  萱1，邹美汝2，廖基常2，陈伟峰2<br>
							（1.湖南省农药检定所，湖南 长沙 410005；<br>
							2. 湖南省新化县植保站，湖南 新化 417600）<br>
							Experiments on Controlling Rice Blast with Prochloraz-copper Rosin 18% EC <br>
							 LiuHongbin,ChenXuan( Institute for the Control of Agrochemicals，Hunan Province，Changsha，410005,China)<br>
							ZouMeiru,LiaoJichang,ChenWeifeng(Plant protection station of Xinhua County, Hunan Province,xinhua 417600 ,China)<br>
							Abstract: The results of field test showed that prochloraz-copper rosin 18% EC had good effects to control rice blast. The suitable diluent was 162～270 g•ai/ hm2.Under this using dosage, the control effect were 91.7%～94.6% and 81.5%～86.4% for leaf blast and spike blast. For controlling leaf blast, spray the fungicide twice between 7d apart in its early stages. For controlling spike blast, spray the fungicide at the rupturing stage and full heading stage of rice, respectively.<br>
							Key words:  rice blast；prochloraz-copper rosin 18% EC ；control effect<br>
							摘 要：试验结果表明，松脂•咪鲜胺18%乳油对水稻稻瘟病有较好的防治效果。适宜施药剂量为162～70 g•ai/ hm2，对水稻叶瘟和穗瘟的防效分别为91.7%～94.6%和81.5%～86.4%。施药适期：防治叶瘟在发病初期施药1次，视病害发生情况间隔7d左右施第2次药，防治穗瘟在破口期和齐穗期各用药1次。<br>
							关键词：稻瘟病；松脂•咪鲜胺18%乳油；防治效果<br>
							中图分类号：S482.2；S481+.9       文献标识码：A       文章编号：<br>
							水稻稻瘟病是我国南北稻区危害最严重的水稻病害之一,常年均有不同程度的发生,流行年份,重病地区一般减产10%～20%,重的达40%～50%,局部田块甚至颗粒无收。90年代以来,我国稻瘟病的年发生面积均在380万hm2以上,年损失稻谷达数亿公斤 [1]。<br>
							松脂•咪鲜胺18%乳油是一种新型复配杀菌剂，具有杀菌谱广、药效高、持效长、安全可靠、成本低等特点[2]。为了明确松脂•咪鲜胺18%乳油对水稻稻瘟病的防治效果、最佳用药剂量及安全性,我们于2013年7-8月进行了松脂•咪鲜胺18%乳油防治水稻稻瘟病的田间药效试验，现将试验结果总结如下。<br>
							 1试验材料及方法<br>
							1.1供试药剂及来源  松脂•咪鲜胺18%乳油，湖南万家丰科技有限公司生产并提供；松脂酸铜12%乳油，天津施普乐农药技术公司产品，试验单位自购；咪鲜胺450g/L水乳剂，江苏瑞泽农化有限公司产品，试验单位自购。<br>
							1.2试验地基本情况  试验安排在新化县水车镇建国村进行，试验地总面积2.3 667m2，该地为水稻稻瘟病常年重发区。上年为一季稻，冬闲垅田，地势平垣，潜育型水稻沙土，排灌方便，肥力水平中等，耕作水平一般，中稻，4月23日播种，5月23日移栽，株行距22.6cm×32.9cm，生长较均匀。<br>
							1.3试验设计  试验共设6个处理，即：1）松脂•咪鲜胺18%乳油，162g/hm2；2）松脂•咪鲜胺18%乳油，216g/hm2；3）松脂•咪鲜胺18%乳油，270g/hm2；4）松脂酸铜12%乳油，540g/hm2；5）咪鲜胺450g/L水乳剂，405g/hm2；6）空白对照。采用随机区组排列，重复4次，共计24个小区，每小区面积30m2，相邻小区间设保护行，以防药剂间相互干扰。<br>
							1.4施药时期，次数和方法  于2013年7月19日叶瘟发病初期施第1次药，7月27日施第2次药，8月4日水稻破口期施第3次药，8月12日水稻齐穗期施第4次药，共施药4次。，采用喷雾法，用山东卫士牌WS-16型背负式压缩喷雾器雾，喷药液45kg/667m2，均匀喷施于水稻植株上。<br>
							1.5药效调查<br>
							1.5.1调查时间和方法  药前调查叶瘟病情基数，叶瘟定案期8月2日调查叶瘟防治效果，穗瘟定案期8月25日调查穗瘟防治效果，共调查3次。采用对角线五点取样法，每小区调查25蔸，计数各级病叶（穗）数。<br>
							1.5.2分级标准[3] 病叶分级标准：0级，无病；1级，病斑<5个，长度<1cm；3级，叶片病斑6～10个，部分病斑长度>1cm；5级，叶片病斑11～25个，部份病斑连成片，占叶面积10%～25%;7级，病斑26个以上，病斑连成片，占叶面积26%～50%；9级，病斑连成片，占叶面积50%以上或全叶枯死。<br>
							病穗分级标准：0级，无病；1级，每穗损失5%以下（个别枝梗发病）;3级，每穗损失6%～20%(1/3左右枝梗发病);5级，每穗损失21%～50%,(穗颈或主轴发病,谷粒半瘪);7级，每穗损失51%～70%,(穗颈发病,大部瘪谷);9级，每穗损失71%～100%(穗颈发病,造成白穗)。<br>
							1.6 数据处理<br>
							     病情指数=     ∑（各级病叶（穗）数×相对级数值）     ×100<br>
							     调查总叶（穗）数×9     <br>
							  叶瘟防治效果（%）=（1-     空白区药前病指×处理区药后病指     ）×100<br>
							     空白区药后病指×处理区药前病指     <br>
							穗瘟防治效果（%）=     空白区病指-处理区病指     ×100<br>
							     空白区病指     <br>
							数据采用DPS（Data Process System）数据处理系统进行Ducan’s新复极差法对不同处理的校正防治效果进行统计分析[4]。<br>
							2 试验结果与评价<br>
							2.1松脂•咪鲜胺18%乳油对水稻稻瘟病防治效果  松脂•咪鲜胺18%乳油162、216、270g/hm2防治水稻稻瘟病,对叶瘟的防效分别为91.7%、93.2%、94.6%；对穗瘟的防效分别为81.5%、84.4%、86.4%。试验结果详（表1）。<br>
							表1松脂•咪鲜胺18%乳油防治水稻稻瘟病田间药效试验表<br>
							处理项目     用药量     叶瘟试验结果调查     穗瘟试验结果调查<br>
							     （g•ai/ hm2）     药前基数病指     定案期调查     病指     防效(%)<br>
							               病指     防效(%)          <br>
							松脂•咪鲜胺18%乳油     162     11.41     1.73     91.7 c     4.47     81.5 c<br>
							     216     11.46     1.42     93.2 b     3.75     84.4 b<br>
							     270     11.49     1.14     94.6 a     3.29     86.4 a<br>
							松脂酸铜12%乳油     540     11.40     1.54     92.6 b     4.43     81.6 c<br>
							咪鲜胺450g/L水乳剂     405     11.39     1.98     90.5 d     5.29     78.1 d<br>
							空白对照     -     11.52     21.20     －     24.18     －<br>
							  注：表中数据为4次重复的平均值,小写字母表示显著水平（P<0.05）。<br>
							2.2评价与讨论   松脂•咪鲜胺18%乳油用于防治水稻稻瘟病，对叶瘟和穗瘟均有较好防效，对水稻安全，是防治稻瘟病的较理想药剂。施药适期：防治叶瘟在发病初期施药1次，视病害发生情况间隔7d左右施第2次药，防治穗瘟在破口期和齐穗期各用药1次，共施药4次；用药量:松脂•咪鲜胺18%乳油，以162～270 g•ai/ hm2较为适宜。使用方法：常规喷雾法，将药液均匀细水喷施于水稻植株上。<br>
							松脂酸铜作为有机铜制剂，常用于柑橘溃疡病、葡萄霜霉病等病害防治，目前无产品在水稻上登记。松脂•咪鲜胺18%乳油是由松脂酸铜与咪鲜胺复配而成，对水稻稻瘟病有较好的防治效果，且具有增效、延缓抗药性等特点，推广和应用前景广阔。<br>
							参考文献<br>
							[1] 孙国昌,杜新法,陶荣祥,毛雪琴,孙漱沅. 水稻稻瘟病防治研究进展和21世纪初研究设想[J ]. 植物保护, 2000, 26(1) : 33- 35.<br>
							[2] 黄安辉,张燕,王谷良. 18咪鲜•松脂铜乳油中咪鲜胺的分析 [J].农药，2008，47（9）：663-664<br>
							[3] 国家质量技术监督局．杀菌剂防治水稻叶部病害，农药田间药效试验准则(一)[M]．北京:中国标准出版社,2000:77-81．<br>
							[4] 唐启义.实用统计分析及其DPS数据处理系统[M].北京:科学出版社,2002.<br>
				        </div>
				    </div>
				     <div title="评审标准" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
				        	论文同行评议标准与规范<br>
							一、量化评分（总分10分，1分最差，10分最好）<br>
							创新性（3分）<br>
							□1分  □1.25分  □1.5分  □1.75分  □2.0分 □2.25分  □2.5分  □2.75分  □3.0分<br>
							【考察点：1．选题创新。是否属于所在学科领域的前沿或关键问题？是否比较满意地回答了现实世界中的重大问题？或指出了某种理论观点的问题、局限？2．材料创新。是否是以新的或未被发现、末被利用的材料为主要依据，并在材料分析基础上做了有深度的理论归纳？3．视角创新。是否是从一个新的、独特的角度去研究一种现象或问题，从而得出一个全新的、独到的结论？4．方法创新。实验设计、实验方法、实证方法是否具有原创性？或以新方式（法）说明老问题？5．成果创新。结论或成果是否是一个或多个具有理论意义的新结果，在领域内具有开创性或突破性？或所报告的结果或理论具有普遍性，能激发一批后续研究？或有重要的实际意义和可应用性？6．观点创新。是否提出了独到、新颖的观点，或在客观分析的基础上对既有观点提出不同的见解？7．体系创新。是否在内容上建构起一个新的理论体系或逻辑体系？或是否构思新异，在理论上具有原创性？8．其他创新。符合任意一条均可打3分】<br>
							科学性（2分）<br>
							□0.5分  □1.0分 □1.5分 □1.75分 □2.0分<br>
							【考察点：1．假定是否较好地简化了现实问题，满足了推导的需要？2．是否是重复研究？3．用所用方法、条件、实施步骤，能否给出相应的结果及得出相应的结论？4．论点是否正确？论据是否充分？论证是否严密？判断是否恰当？推理是否符合逻辑吗？；5．结论是否客观、可靠？】<br>
							学术性（2分）<br>
							□0.5分  □1.0分 □1.5分 □1.75分 □2.0分<br>
							【考察点：1．表述对象是学术成果？核心是学术见解？基础是否是科学实验（或试验）、文献分析？目的是否是揭示事物发展、变化的客观规律，探索科技领域中的客观真理，推动科学技术的发展？2．参考文献引用是否时间新、数量多、原始文献多、转引（或译文）少、权威？有无漏引、误引或非相关引用文献？3．文献综述是否涵盖了本领域内的重要论文？】<br>
							严谨性（1分）<br>
							□0.25分  □0.5分 □0.75分 □1.0分<br>
							【考察点：1．是否较好地回答了开篇提出的问题？2．观察、记录是否真实、客观？数据、图片是否准确、可靠？3．概念、判断、文献引用是否规范、准确？4．实验过程、结果是否能被他人再现和印证，是否是否充分支持结论？是否以简明方式综合了新的研究数据？】<br>
							规范性（1分）<br>
							□0.25分  □0.5分 □0.75分 □1.0分<br>
							【考察点：1．研究工作是否完整？有无明确的研究图式、思路或者实验（或实践）操作？2．首次用到的术语、缩略语、符号等有无出处、注解、全称？3．论文结构等是否严密、简洁、完整，环环相<br>
				        </div>   
				    </div>   
				    <div title="约稿" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
				        	《农药科学与管理》稿约<br>
					    《农药科学与管理》是由中华人民共和国农业部主管，农业部农药检定所主办，国内外公开发行的正式出版的期刊，本刊主要宣传农药管理、政策、国内外农药领域的最新动态、农药科研成果，农药经营策略、农药使用方法等，具有很强的政策性、科学性、指导性和实用性。是国内农药管理和科研方面的权威性期刊。是农药管理、科研院校、生产企业、销售人员以及农药使用者真正的良师益友。<br>
					　　《农药科学与管理》主要栏目有农药管理、农药政策法规、农药分析、农药残留、环境与安全、研究与开发、应用技术、综述、农药市场监督、地方管理、信息窗、新农药介绍，登记动态等。<br>
					来稿要求：<br>
					    来稿内容需科学、真实，数据准确，重点突出，逻辑性强，层次清楚，文字精炼，题目和标题言简意赅。来稿一般掌握在2000~5000字，也欢迎500字以下的稿件（最新信息、科技动态、市场快讯等）。<br>
					    来稿请务必注明作者姓名、工作单位全称、城市、邮政编码。以*号注明通讯作者，首页下脚注明基金资助项目类别及编号，写明第一作者及通讯作者简介（姓名、出生年月，性别，籍贯，民族，学历，职称，主要研究方向）以及联系地址、电话、E-mail。<br>
					    研究性论文需有中文、英文摘要，3~6个中英文关键词。4~6篇已公开发表的主要参考文献，参考文献著录格式采用顺序编码制，即引用处出现先后以阿拉伯数字排序，文内引用处右上角用方括号标注。<br>
					    来稿需用电子稿，WORD格式，可向我编辑部寄送光盘也可发送E-mail向编辑部投稿。编辑部E-mail: icamainf@agri.gov.cn，icamainf@126.com。<br>
					    文稿中表格、图片应少而精，数据要完整、准确。表格采用三线表的形式，使用WORD软件中的表格工具制作标准表格。图片尽量使用电子图，尽量避免扫描图。减少图文重复、图表繁杂等现象。<br>
					    文中所用计量单位请按新版国标GB3100~3102-92（量和单位）的各项规定。》规定执行。<br>
					    译稿请附原文，新名词术语在文中第一次出现时，请注明原文。<br>
					    文中农药名称请使用登记名称，请按通用名+含量+剂型的形式进行标注，不可使用农药商品名，农药使用量请注明有效成份用量。<br>
					    来稿文责自负，不得一稿多投。采用的稿件发表后将给付稿酬，并赠送当期样刊两册。稿酬包含了文稿内容上网及入编光盘版的报酬，如作者不同意文章上网及入编光盘版，可在投稿时声明。未采用的文稿其原稿恕不退还，请作者自留底稿。返加作者修改的稿件应按时寄回编辑部，超过3个月不寄回，按自行退稿处理。<br>
				        </div>   
				    </div>   
				    <div title="国家规范" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
				        	论文结构/写作<br>
						   >>文摘编写规则(GB6447-86)<br>
						   >>文献叙词标引规则(GB 3860-1995)<br>
						   >>文献类型与文献载体代码(GB 3469-83) <br>
						   >>文后参考文献著录规则(GB/T 7714-2005)<br>
						   >>科学技术报告、学位论文和学术论文的编写格式(GB 7713—87)>>文献叙词标引规则(GB 3860-1995)<br>
						字词规范<br>
						   >>出版物上数字用法的规定(GB/T 15835-1995)<br>
						   >>语言文字规范标准明细表 <br>
						标点符号<br>
						   >>标点符号用法(中华人民共和国国家标准GB/T 15834-2011)  <br>
						   >>标点符号用法及常见差错辨析<br>
				        </div>   
				    </div>   
				</div>  
        </div>
      </div>
  </body>
</html>
