<!DOCTYPE html>
<html>
  <head>
    <title>论文要求/规范</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../css/data_styles.css" type="text/css" rel="stylesheet"/>
    <link href="../css/portal_styles.css" type="text/css" rel="stylesheet"/>
   	<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
   	<style>
   		#text p{padding-left:30px;padding-top:10px;padding-right:30px;}
   	</style>
  </head>
  <body>
    <div class=""  style="margin-left:30px;margin-right:30px;">
      <!-- Unnamed (Shape) -->
      <div id="u46" class="ax_shape"  style="float:left;">
        <img id="u46_img" class="img " src="img/portal/u68.png"/>
        <!-- Unnamed () -->
      </div>
       <div>
          <p><span>&nbsp;&nbsp; </span><span>论文要求/规范</span></p>
        </div>
      <!-- Unnamed (Shape) -->
      <div>
        <!-- Unnamed () -->
        <div  id="text"  style="background-color:#F7F7F7;">
        
        </div>
      </div>
    </div>
  </body>
</html>
