<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../css/data_styles.css" type="text/css" rel="stylesheet"/>
    <link href="../css/portal_styles.css" type="text/css" rel="stylesheet"/>
   	<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
   	<style>
   		#text p{padding-left:30px;padding-top:50px;padding-right:30px;}
   	</style>
  </head>
  <body>
    <div class=""  style="margin-left:30px;margin-right:30px;">
      <!-- Unnamed (Shape) -->
      <div id="u46" class="ax_shape"  style="float:left;">
        <img id="u46_img" class="img " src="img/portal/u68.png"/>
        <!-- Unnamed () -->
      </div>
       <div>
          <p><span>&nbsp;&nbsp; </span><span>期刊介绍</span></p>
        </div>
      <!-- Unnamed (Shape) -->
      <div>
        <!-- Unnamed () -->
        <div  id="text"  style="background-color:#F7F7F7;height:600px;">
          <p><span>《农药科学与管理》是由中华人民共和国农业部主管，农业部农药检定所主办，国内外公开发行的正式出版的期刊，本刊主要宣传农药管理、政策、国内外农药领域的最新动态、农药科研成果，农药经营策略、农药使用方法等，具有很强的政策性、科学性、指导性和实用性。是国内农药管理和科研方面的权威性期刊。是农药管理、科研院校、生产企业、销售人员以及农药使用者真正的良师益友。

         《农药科学与管理》主要栏目有农药管理、农药政策法规、农药分析、农药残留、环境与安全、研究与开发、应用技术、综述、农药市场监督、地方管理、信息窗、新农药介绍，登记动态等。
</span>
        </div>
      </div>
    </div>
  </body>
</html>
