<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="css/icon.css" type="text/css" rel="stylesheet"/>
    <link href="css/easyui.css" type="text/css" rel="stylesheet"/>
   	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
   	<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/easyui-lang-zh_CN.js"></script>
   	<style>
   		#text p{padding-left:30px;padding-top:10px;padding-right:30px;}
   	</style>
  </head>
  <body>
    <div class=""  style="margin-left:30px;margin-right:30px;">
      <!-- Unnamed (Shape) -->
      <div id="u46" class="ax_shape"  style="float:left;">
        <img id="u46_img" class="img " src="img/portal/u68.png"/>
        <!-- Unnamed () -->
      </div>
       <div>
          <p><span>&nbsp;&nbsp; </span><span>投稿须知</span></p>
        </div>
        <!-- Unnamed () -->
        <div  id="text"  style="background-color:#F7F7F7;">
	        	<div id="tt" class="easyui-tabs" style="width:600px;height:600px;">   
				    <div title="投稿须知" style="padding:20px;">   
				        <div>
				        	为规范编排，敬请作者投稿时注意以下事项： <br>
							一、稿件要求<br>
							投给的文章必须未在其他任何地方、以任何形式发表过,并具备以下条件:<br>
							1．是农业科学基础理论或应用研究的最新成果；<br>
							2．有重要科学意义,属国内外研究热点或前沿领域；<br>
							3．有创新(新思路、新方法、新认识、新发现等);<br>
							4．对本学科领域或(和)相关学科领域的研究有较大的促进作用;<br>
							5．对大同行或非同行科学家都有可读性和启发性。<br>
							（一）选录标准<br>
							视创新性及其价值大小，并综合下述方面决定：<br>
							1．立题的科学意义/学术价值；<br>
							2．对本学科、本领域科学研究进展的了解和引用；<br>
							3．方法或其应用的创新性；<br>
							4．方法的科学性；<br>
							5．论证的逻辑性；<br>
							6．结果及其分析的合理性；<br>
							7．结论的科学性及可参考性/推广应用前景；<br>
							8．信息量与写作质量。<br>
							（二）规范要求<br>
							1     文章要包含：<br>
							文章名、作者、工作单位（所有作者）、摘要、以及关键词的中文和文章名、作者、工作单位（所有作者）、摘要、以及关键词的英文，摘要、以及关键词中英文对照翻译。题名应鲜明突出，概括性强，中文题名一般不超过20个汉字，英文题名一般不超过10个实词，必要时可加副题名；中、英文摘要均应使用第三人称编写。摘要下面附3~6个关键词；尽可能列出文章的中图分类号。<br>
							2     作者信息：<br>
							在题名下面列出作者姓名及工作单位全称、城市和邮政编码，以*号注明通讯作者（可无）。在左上角写明第一作者及通讯作者简介（姓名，性别，学历，职称，主要研究方向）以及联系电话和E-mail。第一作者的身份证号和详细地址也需要提供到简介下方。<br>
							3     文稿正文：<br>
							正文一般掌握在2000~5000字。正文设三级标题，一级标题序号为1，二级标题为1.1，三级标题为1.1.1，均靠左侧顶格书写。正文汉字体为5号宋体，外文字母及符号为5号Times New Roman；大小写、正斜体、上下角标、数字和易混淆的字母必须书写清楚。<br>
							4     图和表：<br>
							图片、表格应少而精，不应重复，并与正文表述一致。图片尽量使用电子图，照片须提供电子版，并保证所描述特征清晰；表格使用三线表，一律排成word生成的电子表，由数据生成的图（或表）请附带上数据源。<br>
							5     计量单位：<br>
							文稿中所用度量衡单位一律按《量和单位》标准（GB3100～3102-93）执行。译稿请附原文，新名词术语在文中第一次出现时，请注明原文。应使用农药通用名称，涉及剂型含量的，按通用名+含量+剂型的形式标注，农药使用量应注明有效成份用量。<br>
							6     参考文献：<br>
							直接引用的公开发表的主要参考文献，以顺序编码制著录，即按文献在文中出现的先后顺序连续编码，在正文引用处加注上角标，文后按引用顺序依次列出，具体按照《参考文献格式》国家标准(GB/T 7714-2005)执行。例如：<br>
							[期刊] 序号作者（不超过3人者全部写出，超过者只写前3名，后加“等”或“et al.”）。题名[J]。期刊名，年，卷（期）:起止页码。<br>
							[著作] 序号作者。书名[M]。译者。版次。出版地:出版单位，出版年:起止页码。<br>
				        </div>   
				    </div>   
				    <div title="论文著作权转让协议" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
					        	根据《中华人民共和国著作权法》，自本协议签署之日起，全体著作权人一致同意：论文如能在《农药科学与管理》发表，愿意将该文所享有（各种语言版本）的复制权、发行权、网络传播权、翻译权、汇编权（世界范围内）免费转让给《农药科学与管理》出版单位《农药科学与管理》期刊社。全体著作权人授权《农药科学与管理》期刊社根据实际需要，独家代理申请论文各种语言版本（包含各种介质）的版权登记事项。<br>
								一、著作权人可自由行使下列权利<br>
								（一）享有除著作权以外的其他产权。<br>
								（二）享有非专有权：<br>
								在汇编个人文集或以其他方式(含作者个人网页、博客中)出版个人作品时，不经修订地全部或部分使用该文上述版式，无须获得《农药科学与管理》期刊社许可，但须说明该文发表于《农药科学与管理》某卷某期某页。<br>
								（三）在研究、总结、讲演或教学中全部或部分复制该文。<br>
								（四）职务论文的法人或组织在其业务范围内复制该文用于内部使用。<br>
								著作权人承诺在行使上述权利，制作该文复制品时，将声明该文已在《农药科学与管理》上发表。<br>
								二、著作权人保证<br>
								（一）上述论文是著作权人独立取得的原创性研究成果，内容不涉及国家机密。<br>
								（二）该文未曾以任何形式，用任何文种在国内外公开发表过。<br>
								（三）该文内容不侵犯他人著作权和其他权利，愿意承担论文侵权产生的全部责任，并赔偿由此给《农药科学与管理》期刊社造成的全部损失。<br>
								（四）该文内容、作者署名及署名顺序已经经过全部作者审核同意。<br>
								（五）全体著作权人同意《农药科学与管理》的审稿费、发表费和稿酬标准，并愿意配合执行。<br>
								三、著作权人承诺<br>
								（一）以后不考虑以任何形式，中文之外的任何语种，在其他地方发表该论文。<br>
								（二）因特殊原因未能亲自签署字的著作权人，已授权签字的著作权人代其签署本协议。签字的著作权人保证本人具有签署此协议并做出各项承诺之权利。此协议对全体著作权人均有约束力。<br>
								签署人：                     <br>     
								签署日期：    年  月  日<br>
				        	
				        </div>  
				    </div>   
				    <div title="论文学术诚信承诺书" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
				        	我（们）承诺，所投论文：   <br>                                         
							 一、研究规范<br>
							论文先期的研究记录、数据、文献真实完整，客观准确，无（故意）假造、篡改实验或调研数据、结论和引用资料等行为；亦无抄袭他人作品，剽窃他人学术观点、学术思想、实验数据和调查结果等的行为。<br>
							二、引用规范<br>
							对他人观点、结论、数据、公式、图表、程序的引用已在文中注明文献原始出处；无以引用方式将他人成果充作自己学术成果；未使用自己未阅读过的文献；从他人作品转引第三者成果，已注明转引出处。<br>
							三、署名规范<br>
							所有署名作者已签字同意投往贵刊发表，愿意承担相应的学术责任、道义责任和法律责任。通讯作者愿意对本论文整体负责。研究生作为第一作者的，业已经指导教师审核。无未参加实际研究或写作而在本文中署名，亦无未经被署名人同意而署其名的行为。<br>
							四、投稿规范<br>
							论文未曾以任何形式、用任何文种、在国内外公开发表过，未一稿多投。<br>
							签署人：     <br>                     
							签署日期：    年  月  日<br>
				        </div>
				    </div>
				     <div title="论文自我评审" data-options="" style="overflow:auto;padding:20px;">   
				        <div>
				        	为促进投稿论文的规范表达，提高成熟度，提升学术质量，完善编辑部要求的规范表述项，减少、消除审稿（同行）专家的误判；为增强作者责任意识，激发学术自省，激励科学创新；为加快审稿速度，提高投稿命中率；编辑部肯请您与通讯作者（或所有作者）一起对论文稿件中涉及的“对象与问题，创新点，研究背景、目的、意义、思想、路线、方法、依据、主要过程、数据、结论、分析与评价等”、“文字、公式、图形、图像、表格、音视频信息、软件程序、数值等”进行再次梳理，依据编辑部的“论文同行评议标准与规范”对投稿论文进行自我“称量”，自我“评审”，根据“称量”“评审”结果有针对性再充实、再凝练、再提升后提交系统。重点是：<br>
							一、规范性<br>
							按照编辑部网站上的“论文要求/规范”对论文进行逐项检查，务使论文稿件word文档中的：文题、作者、单位、中英文摘要、关键词等要素齐全，正文表述规范，图、表符合要求，文献著录准确，研究性论文参考文献不少于20条，综述性论文参考文献不少于40条。<br>
							因缺少英文摘要、关键词，参考文献少于要求的条数等瑕疵被拒、被退，实不值当。<br>
							二、创新性<br>
							结合领域研究背景和最新的学术动态，在word文档中把论文的创新点标红，以便责编、专家审稿，取舍论文时参考、把握。<br>
							三、逻辑性和论据<br>
							数据可靠、齐全吗？推理正确吗？研究工作完整吗？有无具体实现步骤？文章所用方法、条件、实施步骤，能否给出相应的结果及得出相应的结论？实验或计算的结果数据是否充分支持结论？有无漏引、误引或非相关引用文献？<br>
							四、论文价值<br>
							本研究是对前人相关研究的超越还是补充、完善？有何功用？是阶段性成果还是最终成果？重要意义在哪儿？<br>
							五、可读性<br>
							题名是否统领全文？关键词是否确切反映文章精要之点，能为检索提供引导吗？摘要能否说明研究的方法、结果和结论？是否突出了创新点？引言能否清晰勾勒本研究工作的背景，提供完整的研究脉络？对文章结构层次完整，逻辑清晰严谨，行文流畅达意，用词准确等方面的感觉如何？图表能与文字叙述切合吗？文中首次用到的术语、缩略语、符号等有无出处、注解、全称？文献著录准确吗？<br>
							六、论文学风<br>
							有无数据不可靠现象？有无抄袭或引用不当，或没有明确指明出处？有无重复研究？<br>
				        </div>   
				    </div>   
				</div>  
        </div>
      </div>
  </body>
</html>
