<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountInfoMapper">
	<resultMap id="BaseResultMap" type="AccountInfo">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="ref_id" jdbcType="VARCHAR" property="refId" />
	  <result column="author_amount" jdbcType="DECIMAL" property="authorAmount" />
	  <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
	  <result column="type" jdbcType="VARCHAR" property="type" />
	  <result column="user_id" jdbcType="VARCHAR" property="userId" />
	  <result column="article_id" jdbcType="VARCHAR" property="articleId" />
	  <result column="author_tax_amount" jdbcType="DECIMAL" property="authorTaxAmount" />
	  <result column="author_real_amount" jdbcType="DECIMAL" property="authorRealAmount" />
	  <result column="expert_tax_amount" jdbcType="DECIMAL" property="expertTaxAmount" />
	  <result column="expert_real_amount" jdbcType="DECIMAL" property="expertRealAmount" />
	  <result column="expert_amount" jdbcType="DECIMAL" property="expertAmount" />
	  <result column="expert_payee_id" jdbcType="VARCHAR" property="expertPayeeId" />
	  <result column="author_payee_id" jdbcType="VARCHAR" property="authorPayeeId" />
	  <result column="extend_1" jdbcType="VARCHAR" property="extend1" />
	  <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
	  <result column="extend_3" jdbcType="VARCHAR" property="extend3" />
	  <result column="extend_4" jdbcType="VARCHAR" property="extend4" />
	  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="refId != null" >
	      and ref_id = #{refId,jdbcType=VARCHAR}
	    </if>
      <if test="authorAmount != null" >
	      and author_amount = #{authorAmount,jdbcType=DECIMAL}
	    </if>
      <if test="payTime != null" >
	      and pay_time = #{payTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="type != null" >
	      and type = #{type,jdbcType=VARCHAR}
	    </if>
      <if test="userId != null" >
	      and user_id = #{userId,jdbcType=VARCHAR}
	    </if>
      <if test="articleId != null" >
	      and article_id = #{articleId,jdbcType=VARCHAR}
	    </if>
      <if test="authorTaxAmount != null" >
	      and author_tax_amount = #{authorTaxAmount,jdbcType=DECIMAL}
	    </if>
      <if test="authorRealAmount != null" >
	      and author_real_amount = #{authorRealAmount,jdbcType=DECIMAL}
	    </if>
      <if test="expertTaxAmount != null" >
	      and expert_tax_amount = #{expertTaxAmount,jdbcType=DECIMAL}
	    </if>
      <if test="expertRealAmount != null" >
	      and expert_real_amount = #{expertRealAmount,jdbcType=DECIMAL}
	    </if>
      <if test="expertAmount != null" >
	      and expert_amount = #{expertAmount,jdbcType=DECIMAL}
	    </if>
      <if test="expertPayeeId != null" >
	      and expert_payee_id = #{expertPayeeId,jdbcType=VARCHAR}
	    </if>
      <if test="authorPayeeId != null" >
	      and author_payee_id = #{authorPayeeId,jdbcType=VARCHAR}
	    </if>
      <if test="extend1 != null" >
	      and extend_1 = #{extend1,jdbcType=VARCHAR}
	    </if>
      <if test="extend2 != null" >
	      and extend_2 = #{extend2,jdbcType=VARCHAR}
	    </if>
      <if test="extend3 != null" >
	      and extend_3 = #{extend3,jdbcType=VARCHAR}
	    </if>
      <if test="extend4 != null" >
	      and extend_4 = #{extend4,jdbcType=VARCHAR}
	    </if>
      <if test="createTime != null" >
	      and create_time = #{createTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="updateTime != null" >
	      and update_time = #{updateTime,jdbcType=TIMESTAMP}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="refId != null">
        ref_id = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="authorAmount != null">
        author_amount = #{authorAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="authorTaxAmount != null">
        author_tax_amount = #{authorTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="authorRealAmount != null">
        author_real_amount = #{authorRealAmount,jdbcType=DECIMAL},
      </if>
      <if test="expertTaxAmount != null">
        expert_tax_amount = #{expertTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="expertRealAmount != null">
        expert_real_amount = #{expertRealAmount,jdbcType=DECIMAL},
      </if>
      <if test="expertAmount != null">
        expert_amount = #{expertAmount,jdbcType=DECIMAL},
      </if>
      <if test="expertPayeeId != null">
        expert_payee_id = #{expertPayeeId,jdbcType=VARCHAR},
      </if>
      <if test="authorPayeeId != null">
        author_payee_id = #{authorPayeeId,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend_1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend_2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend_3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        extend_4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    id,
    ref_id,
    author_amount,
    pay_time,
    type,
    user_id,
    article_id,
    author_tax_amount,
    author_real_amount,
    expert_tax_amount,
    expert_real_amount,
    expert_amount,
    expert_payee_id,
    author_payee_id,
    extend_1,
    extend_2,
    extend_3,
    extend_4,
    create_time,
    update_time,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        ref_id = #{refId,jdbcType=VARCHAR},
        author_amount = #{authorAmount,jdbcType=DECIMAL},
        pay_time = #{payTime,jdbcType=TIMESTAMP},
        type = #{type,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=VARCHAR},
        article_id = #{articleId,jdbcType=VARCHAR},
        author_tax_amount = #{authorTaxAmount,jdbcType=DECIMAL},
        author_real_amount = #{authorRealAmount,jdbcType=DECIMAL},
        expert_tax_amount = #{expertTaxAmount,jdbcType=DECIMAL},
        expert_real_amount = #{expertRealAmount,jdbcType=DECIMAL},
        expert_amount = #{expertAmount,jdbcType=DECIMAL},
        expert_payee_id = #{expertPayeeId,jdbcType=VARCHAR},
        author_payee_id = #{authorPayeeId,jdbcType=VARCHAR},
        extend_1 = #{extend1,jdbcType=VARCHAR},
        extend_2 = #{extend2,jdbcType=VARCHAR},
        extend_3 = #{extend3,jdbcType=VARCHAR},
        extend_4 = #{extend4,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <!-- ID, -->
    <if test="refId != null">
      ref_id,
    </if>
    <if test="authorAmount != null">
      author_amount,
    </if>
    <if test="payTime != null">
      pay_time,
    </if>
    <if test="type != null">
      type,
    </if>
    <if test="userId != null">
      user_id,
    </if>
    <if test="articleId != null">
      article_id,
    </if>
    <if test="authorTaxAmount != null">
      author_tax_amount,
    </if>
    <if test="authorRealAmount != null">
      author_real_amount,
    </if>
    <if test="expertTaxAmount != null">
      expert_tax_amount,
    </if>
    <if test="expertRealAmount != null">
      expert_real_amount,
    </if>
    <if test="expertAmount != null">
      expert_amount,
    </if>
    <if test="expertPayeeId != null">
      expert_payee_id,
    </if>
    <if test="authorPayeeId != null">
      author_payee_id,
    </if>
    <if test="extend1 != null">
      extend_1,
    </if>
    <if test="extend2 != null">
      extend_2,
    </if>
    <if test="extend3 != null">
      extend_3,
    </if>
    <if test="extend4 != null">
      extend_4,
    </if>
    <if test="createTime != null">
      create_time,
    </if>
    <if test="updateTime != null">
      update_time,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{refId,jdbcType=VARCHAR},
    #{authorAmount,jdbcType=DECIMAL},
    #{payTime,jdbcType=TIMESTAMP},
    #{type,jdbcType=VARCHAR},
    #{userId,jdbcType=VARCHAR},
    #{articleId,jdbcType=VARCHAR},
    #{authorTaxAmount,jdbcType=DECIMAL},
    #{authorRealAmount,jdbcType=DECIMAL},
    #{expertTaxAmount,jdbcType=DECIMAL},
    #{expertRealAmount,jdbcType=DECIMAL},
    #{expertAmount,jdbcType=DECIMAL},
    #{expertPayeeId,jdbcType=VARCHAR},
    #{authorPayeeId,jdbcType=VARCHAR},
    #{extend1,jdbcType=VARCHAR},
    #{extend2,jdbcType=VARCHAR},
    #{extend3,jdbcType=VARCHAR},
    #{extend4,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP},
	</sql>
  <sql id="Selective_Value_List">
    <!-- SEQ_account_info.nextval, -->
    <if test="refId != null">
      #{refId,jdbcType=VARCHAR},
    </if>
    <if test="authorAmount != null">
      #{authorAmount,jdbcType=DECIMAL},
    </if>
    <if test="payTime != null">
      #{payTime,jdbcType=TIMESTAMP},
    </if>
    <if test="type != null">
      #{type,jdbcType=VARCHAR},
    </if>
    <if test="userId != null">
      #{userId,jdbcType=VARCHAR},
    </if>
    <if test="articleId != null">
      #{articleId,jdbcType=VARCHAR},
    </if>
    <if test="authorTaxAmount != null">
      #{authorTaxAmount,jdbcType=DECIMAL},
    </if>
    <if test="authorRealAmount != null">
      #{authorRealAmount,jdbcType=DECIMAL},
    </if>
    <if test="expertTaxAmount != null">
      #{expertTaxAmount,jdbcType=DECIMAL},
    </if>
    <if test="expertRealAmount != null">
      #{expertRealAmount,jdbcType=DECIMAL},
    </if>
    <if test="expertAmount != null">
      #{expertAmount,jdbcType=DECIMAL},
    </if>
    <if test="expertPayeeId != null">
      #{expertPayeeId,jdbcType=VARCHAR},
    </if>
    <if test="authorPayeeId != null">
      #{authorPayeeId,jdbcType=VARCHAR},
    </if>
    <if test="extend1 != null">
      #{extend1,jdbcType=VARCHAR},
    </if>
    <if test="extend2 != null">
      #{extend2,jdbcType=VARCHAR},
    </if>
    <if test="extend3 != null">
      #{extend3,jdbcType=VARCHAR},
    </if>
    <if test="extend4 != null">
      #{extend4,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
    </if>
  </sql>
  
  <select id="selectByExample" parameterType="AccountInfoQuery" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from account_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from account_info
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from account_info
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="AccountInfoQuery">
    delete from account_info
    <include refid="Example_Where_Clause" />
  </delete>
  <insert id="insert" parameterType="AccountInfo">
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Base_Value_List"/>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="AccountInfo">
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <select id="countByExample" parameterType="AccountInfoQuery" resultType="java.lang.Integer">
    select count(*) from account_info
    <include refid="Example_Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="AccountInfo">
    update account_info
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="AccountInfo">
    update account_info
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPageByExample" parameterType="AccountInfoQuery" resultMap="BaseResultMap">
  	<include refid="Page_Query_Begin" />
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from account_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
    <include refid="Page_Query_End" />
  </select>
</mapper>