<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountInfoMapper">
	<resultMap id="BaseResultMap" type="AccountInfo">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="ref_id" jdbcType="VARCHAR" property="refId" />
	  <result column="amount" jdbcType="DECIMAL" property="amount" />
	  <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
	  <result column="type" jdbcType="VARCHAR" property="type" />
	  <result column="user_id" jdbcType="VARCHAR" property="userId" />
	  <result column="article_id" jdbcType="VARCHAR" property="articleId" />
	  <result column="amount_tax" jdbcType="DECIMAL" property="amountTax" />
	  <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
	  <result column="payee_id" jdbcType="VARCHAR" property="payeeId" />
	  <result column="extend_1" jdbcType="VARCHAR" property="extend1" />
	  <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
	  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="refId != null" >
	      and ref_id = #{refId,jdbcType=VARCHAR}
	    </if>
      <if test="amount != null" >
	      and amount = #{amount,jdbcType=DECIMAL}
	    </if>
      <if test="payTime != null" >
	      and pay_time = #{payTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="type != null" >
	      and type = #{type,jdbcType=VARCHAR}
	    </if>
      <if test="userId != null" >
	      and user_id = #{userId,jdbcType=VARCHAR}
	    </if>
      <if test="articleId != null" >
	      and article_id = #{articleId,jdbcType=VARCHAR}
	    </if>
      <if test="amountTax != null" >
	      and amount_tax = #{amountTax,jdbcType=DECIMAL}
	    </if>
      <if test="realAmount != null" >
	      and real_amount = #{realAmount,jdbcType=DECIMAL}
	    </if>
      <if test="payeeId != null" >
	      and payee_id = #{payeeId,jdbcType=VARCHAR}
	    </if>
      <if test="extend1 != null" >
	      and extend_1 = #{extend1,jdbcType=VARCHAR}
	    </if>
      <if test="extend2 != null" >
	      and extend_2 = #{extend2,jdbcType=VARCHAR}
	    </if>
      <if test="createTime != null" >
	      and create_time = #{createTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="updateTime != null" >
	      and update_time = #{updateTime,jdbcType=TIMESTAMP}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="refId != null">
        ref_id = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="amountTax != null">
        amount_tax = #{amountTax,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null">
        real_amount = #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="payeeId != null">
        payee_id = #{payeeId,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend_1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend_2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    id,
    ref_id,
    amount,
    pay_time,
    type,
    user_id,
    article_id,
    amount_tax,
    real_amount,
    payee_id,
    extend_1,
    extend_2,
    create_time,
    update_time,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        ref_id = #{refId,jdbcType=VARCHAR},
        amount = #{amount,jdbcType=DECIMAL},
        pay_time = #{payTime,jdbcType=TIMESTAMP},
        type = #{type,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=VARCHAR},
        article_id = #{articleId,jdbcType=VARCHAR},
        amount_tax = #{amountTax,jdbcType=DECIMAL},
        real_amount = #{realAmount,jdbcType=DECIMAL},
        payee_id = #{payeeId,jdbcType=VARCHAR},
        extend_1 = #{extend1,jdbcType=VARCHAR},
        extend_2 = #{extend2,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <!-- ID, -->
    <if test="refId != null">
      ref_id,
    </if>
    <if test="amount != null">
      amount,
    </if>
    <if test="payTime != null">
      pay_time,
    </if>
    <if test="type != null">
      type,
    </if>
    <if test="userId != null">
      user_id,
    </if>
    <if test="articleId != null">
      article_id,
    </if>
    <if test="amountTax != null">
      amount_tax,
    </if>
    <if test="realAmount != null">
      real_amount,
    </if>
    <if test="payeeId != null">
      payee_id,
    </if>
    <if test="extend1 != null">
      extend_1,
    </if>
    <if test="extend2 != null">
      extend_2,
    </if>
    <if test="createTime != null">
      create_time,
    </if>
    <if test="updateTime != null">
      update_time,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{refId,jdbcType=VARCHAR},
    #{amount,jdbcType=DECIMAL},
    #{payTime,jdbcType=TIMESTAMP},
    #{type,jdbcType=VARCHAR},
    #{userId,jdbcType=VARCHAR},
    #{articleId,jdbcType=VARCHAR},
    #{amountTax,jdbcType=DECIMAL},
    #{realAmount,jdbcType=DECIMAL},
    #{payeeId,jdbcType=VARCHAR},
    #{extend1,jdbcType=VARCHAR},
    #{extend2,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP},
	</sql>
  <sql id="Selective_Value_List">
    <!-- SEQ_account_info.nextval, -->
    <if test="refId != null">
      #{refId,jdbcType=VARCHAR},
    </if>
    <if test="amount != null">
      #{amount,jdbcType=DECIMAL},
    </if>
    <if test="payTime != null">
      #{payTime,jdbcType=TIMESTAMP},
    </if>
    <if test="type != null">
      #{type,jdbcType=VARCHAR},
    </if>
    <if test="userId != null">
      #{userId,jdbcType=VARCHAR},
    </if>
    <if test="articleId != null">
      #{articleId,jdbcType=VARCHAR},
    </if>
    <if test="amountTax != null">
      #{amountTax,jdbcType=DECIMAL},
    </if>
    <if test="realAmount != null">
      #{realAmount,jdbcType=DECIMAL},
    </if>
    <if test="payeeId != null">
      #{payeeId,jdbcType=VARCHAR},
    </if>
    <if test="extend1 != null">
      #{extend1,jdbcType=VARCHAR},
    </if>
    <if test="extend2 != null">
      #{extend2,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
    </if>
  </sql>
  
  <select id="selectByExample" parameterType="AccountInfoQuery" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from account_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from account_info
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from account_info
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="AccountInfoQuery">
    delete from account_info
    <include refid="Example_Where_Clause" />
  </delete>
  <insert id="insert" parameterType="AccountInfo">
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Base_Value_List"/>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="AccountInfo">
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <select id="countByExample" parameterType="AccountInfoQuery" resultType="java.lang.Integer">
    select count(*) from account_info
    <include refid="Example_Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="AccountInfo">
    update account_info
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="AccountInfo">
    update account_info
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPageByExample" parameterType="AccountInfoQuery" resultMap="BaseResultMap">
  	<include refid="Page_Query_Begin" />
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from account_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
    <include refid="Page_Query_End" />
  </select>
</mapper>