<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AddressInfoMapper">
	<resultMap id="BaseResultMap" type="AddressInfo">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="ref_id" jdbcType="VARCHAR" property="refId" />
	  <result column="ref_role_id" jdbcType="VARCHAR" property="refRoleId" />
	  <result column="address_id" jdbcType="VARCHAR" property="addressId" />
	  <result column="contacter_name" jdbcType="VARCHAR" property="contacterName" />
	  <result column="contacter_telephone" jdbcType="VARCHAR" property="contacterTelephone" />
	  <result column="contacter_mobile" jdbcType="VARCHAR" property="contacterMobile" />
	  <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
	  <result column="receive_postcode" jdbcType="VARCHAR" property="receivePostcode" />
	  <result column="receive_contacter" jdbcType="VARCHAR" property="receiveContacter" />
	  <result column="status" jdbcType="VARCHAR" property="status" />
	  <result column="extend_1" jdbcType="VARCHAR" property="extend1" />
	  <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
	  <result column="extend_3" jdbcType="VARCHAR" property="extend3" />
	  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="refId != null" >
	      and ref_id = #{refId,jdbcType=VARCHAR}
	    </if>
      <if test="refRoleId != null" >
	      and ref_role_id = #{refRoleId,jdbcType=VARCHAR}
	    </if>
      <if test="addressId != null" >
	      and address_id = #{addressId,jdbcType=VARCHAR}
	    </if>
      <if test="contacterName != null" >
	      and contacter_name = #{contacterName,jdbcType=VARCHAR}
	    </if>
      <if test="contacterTelephone != null" >
	      and contacter_telephone = #{contacterTelephone,jdbcType=VARCHAR}
	    </if>
      <if test="contacterMobile != null" >
	      and contacter_mobile = #{contacterMobile,jdbcType=VARCHAR}
	    </if>
      <if test="receiveAddress != null" >
	      and receive_address = #{receiveAddress,jdbcType=VARCHAR}
	    </if>
      <if test="receivePostcode != null" >
	      and receive_postcode = #{receivePostcode,jdbcType=VARCHAR}
	    </if>
      <if test="receiveContacter != null" >
	      and receive_contacter = #{receiveContacter,jdbcType=VARCHAR}
	    </if>
      <if test="status != null" >
	      and status = #{status,jdbcType=VARCHAR}
	    </if>
      <if test="extend1 != null" >
	      and extend_1 = #{extend1,jdbcType=VARCHAR}
	    </if>
      <if test="extend2 != null" >
	      and extend_2 = #{extend2,jdbcType=VARCHAR}
	    </if>
      <if test="extend3 != null" >
	      and extend_3 = #{extend3,jdbcType=VARCHAR}
	    </if>
      <if test="createTime != null" >
	      and create_time = #{createTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="updateTime != null" >
	      and update_time = #{updateTime,jdbcType=TIMESTAMP}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="refId != null">
        ref_id = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="refRoleId != null">
        ref_role_id = #{refRoleId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="contacterName != null">
        contacter_name = #{contacterName,jdbcType=VARCHAR},
      </if>
      <if test="contacterTelephone != null">
        contacter_telephone = #{contacterTelephone,jdbcType=VARCHAR},
      </if>
      <if test="contacterMobile != null">
        contacter_mobile = #{contacterMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null">
        receive_address = #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="receivePostcode != null">
        receive_postcode = #{receivePostcode,jdbcType=VARCHAR},
      </if>
      <if test="receiveContacter != null">
        receive_contacter = #{receiveContacter,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null">
        extend_1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend_2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend_3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    id,
    ref_id,
    ref_role_id,
    address_id,
    contacter_name,
    contacter_telephone,
    contacter_mobile,
    receive_address,
    receive_postcode,
    receive_contacter,
    status,
    extend_1,
    extend_2,
    extend_3,
    create_time,
    update_time,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        ref_id = #{refId,jdbcType=VARCHAR},
        ref_role_id = #{refRoleId,jdbcType=VARCHAR},
        address_id = #{addressId,jdbcType=VARCHAR},
        contacter_name = #{contacterName,jdbcType=VARCHAR},
        contacter_telephone = #{contacterTelephone,jdbcType=VARCHAR},
        contacter_mobile = #{contacterMobile,jdbcType=VARCHAR},
        receive_address = #{receiveAddress,jdbcType=VARCHAR},
        receive_postcode = #{receivePostcode,jdbcType=VARCHAR},
        receive_contacter = #{receiveContacter,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR},
        extend_1 = #{extend1,jdbcType=VARCHAR},
        extend_2 = #{extend2,jdbcType=VARCHAR},
        extend_3 = #{extend3,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <if test="refId != null">
      ref_id,
    </if>
    <if test="refRoleId != null">
      ref_role_id,
    </if>
    <if test="addressId != null">
      address_id,
    </if>
    <if test="contacterName != null">
      contacter_name,
    </if>
    <if test="contacterTelephone != null">
      contacter_telephone,
    </if>
    <if test="contacterMobile != null">
      contacter_mobile,
    </if>
    <if test="receiveAddress != null">
      receive_address,
    </if>
    <if test="receivePostcode != null">
      receive_postcode,
    </if>
    <if test="receiveContacter != null">
      receive_contacter,
    </if>
    <if test="status != null">
      status,
    </if>
    <if test="extend1 != null">
      extend_1,
    </if>
    <if test="extend2 != null">
      extend_2,
    </if>
    <if test="extend3 != null">
      extend_3,
    </if>
    <if test="createTime != null">
      create_time,
    </if>
    <if test="updateTime != null">
      update_time,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{refId,jdbcType=VARCHAR},
    #{refRoleId,jdbcType=VARCHAR},
    #{addressId,jdbcType=VARCHAR},
    #{contacterName,jdbcType=VARCHAR},
    #{contacterTelephone,jdbcType=VARCHAR},
    #{contacterMobile,jdbcType=VARCHAR},
    #{receiveAddress,jdbcType=VARCHAR},
    #{receivePostcode,jdbcType=VARCHAR},
    #{receiveContacter,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR},
    #{extend1,jdbcType=VARCHAR},
    #{extend2,jdbcType=VARCHAR},
    #{extend3,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP},
	</sql>
  <sql id="Selective_Value_List">
    <if test="refId != null">
      #{refId,jdbcType=VARCHAR},
    </if>
    <if test="refRoleId != null">
      #{refRoleId,jdbcType=VARCHAR},
    </if>
    <if test="addressId != null">
      #{addressId,jdbcType=VARCHAR},
    </if>
    <if test="contacterName != null">
      #{contacterName,jdbcType=VARCHAR},
    </if>
    <if test="contacterTelephone != null">
      #{contacterTelephone,jdbcType=VARCHAR},
    </if>
    <if test="contacterMobile != null">
      #{contacterMobile,jdbcType=VARCHAR},
    </if>
    <if test="receiveAddress != null">
      #{receiveAddress,jdbcType=VARCHAR},
    </if>
    <if test="receivePostcode != null">
      #{receivePostcode,jdbcType=VARCHAR},
    </if>
    <if test="receiveContacter != null">
      #{receiveContacter,jdbcType=VARCHAR},
    </if>
    <if test="status != null">
      #{status,jdbcType=VARCHAR},
    </if>
    <if test="extend1 != null">
      #{extend1,jdbcType=VARCHAR},
    </if>
    <if test="extend2 != null">
      #{extend2,jdbcType=VARCHAR},
    </if>
    <if test="extend3 != null">
      #{extend3,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
    </if>
  </sql>
  
  <select id="selectByExample" parameterType="AddressInfoQuery" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from address_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from address_info
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from address_info
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="AddressInfoQuery">
    delete from address_info
    <include refid="Example_Where_Clause" />
  </delete>
  <insert id="insert" parameterType="AddressInfo">
    insert into address_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Base_Value_List"/>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="AddressInfo">
    insert into address_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <select id="countByExample" parameterType="AddressInfoQuery" resultType="java.lang.Integer">
    select count(*) from address_info
    <include refid="Example_Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="AddressInfo">
    update address_info
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="AddressInfo">
    update address_info
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPageByExample" parameterType="AddressInfoQuery" resultMap="BaseResultMap">
  	<include refid="Page_Query_Begin" />
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from address_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
    <include refid="Page_Query_End" />
  </select>
</mapper>