<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdInfoMapper">
	<resultMap id="BaseResultMap" type="AdInfo">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="ad_id" jdbcType="VARCHAR" property="adId" />
	  <result column="council_id" jdbcType="VARCHAR" property="councilId" />
	  <result column="ad_name" jdbcType="VARCHAR" property="adName" />
	  <result column="ad_type" jdbcType="VARCHAR" property="adType" />
	  <result column="ad_invest_position" jdbcType="VARCHAR" property="adInvestPosition" />
	  <result column="trial_no" jdbcType="VARCHAR" property="trialNo" />
	  <result column="ad_submit_time" jdbcType="TIMESTAMP" property="adSubmitTime" />
	  <result column="ad_audit_time" jdbcType="TIMESTAMP" property="adAuditTime" />
	  <result column="ad_audit_opinion" jdbcType="VARCHAR" property="adAuditOpinion" />
	  <result column="ad_attachment_name" jdbcType="VARCHAR" property="adAttachmentName" />
	  <result column="ad_attachment_path" jdbcType="VARCHAR" property="adAttachmentPath" />
	  <result column="ad_record_time" jdbcType="TIMESTAMP" property="adRecordTime" />
	  <result column="ad_contact_name" jdbcType="VARCHAR" property="adContactName" />
	  <result column="ad_contact_phone" jdbcType="VARCHAR" property="adContactPhone" />
	  <result column="ad_fee" jdbcType="DECIMAL" property="adFee" />
	  <result column="extend_1" jdbcType="VARCHAR" property="extend1" />
	  <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
	  <result column="extend_3" jdbcType="VARCHAR" property="extend3" />
	  <result column="extend_4" jdbcType="VARCHAR" property="extend4" />
	  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <!-- 广告管理查询sql start -->

	<select id="selectAdsForEditor" parameterType="BizAd" resultType="BizAd">
		select
		ai.ad_id as adId,ci.council_id as councilId,ai.ad_name as adName,
		ci.council_name as councilName,ci.council_type as councilType,
		ai.ad_type as adType,ai.trial_no as trialNo,DATE_FORMAT(ci.create_time, '%Y-%m-%d') as createTime,
		DATE_FORMAT(ccf.start_time, '%Y-%m-%d') as startTime, DATE_FORMAT(ccf.start_time, '%Y-%m-%d') as endTime
		from council_info ci,ad_info ai,council_contract_flows ccf
		where ci.council_id=ai.council_id and ccf.council_id=ci.council_id 
		<if test="startTime != null and ''!=startTime">
			and #{startTime,jdbcType=VARCHAR} &lt;= DATE_FORMAT(ccf.start_time, '%Y-%m-%d') 
		</if>
		<if test="endTime != null and ''!=endTime">
			and #{endTime,jdbcType=VARCHAR} &gt;= DATE_FORMAT(ccf.start_time, '%Y-%m-%d')
		</if>
		<!-- <if test="createTime != null and ''!=createTime">
			and DATE_FORMAT(ci.create_time, '%Y-%m-%d') = #{createTime,jdbcType=VARCHAR}
		</if> -->
		<if test="councilType != null  and ''!=councilType">
			and ci.council_type =#{councilType,jdbcType=VARCHAR}
		</if>
		<if test="adType != null  and ''!=adType">
			and ai.ad_type =#{adType,jdbcType=VARCHAR}
		</if>
		<if test="councilName != null and ''!=councilName">
			and ci.council_name = #{councilName,jdbcType=VARCHAR}
		</if>
		<if test="adName != null and ''!=adName">
			and ai.ad_name = #{adName,jdbcType=VARCHAR}
		</if>
		<if test="trialNo != null and ''!=trialNo">
			and ai.trial_no = #{trialNo,jdbcType=VARCHAR}
		</if>
	</select>
  <!-- 广告管理查询sql end -->
  
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="adId != null" >
	      and ad_id = #{adId,jdbcType=VARCHAR}
	    </if>
      <if test="councilId != null" >
	      and council_id = #{councilId,jdbcType=VARCHAR}
	    </if>
      <if test="adName != null" >
	      and ad_name = #{adName,jdbcType=VARCHAR}
	    </if>
      <if test="adType != null" >
	      and ad_type = #{adType,jdbcType=VARCHAR}
	    </if>
      <if test="adInvestPosition != null" >
	      and ad_invest_position = #{adInvestPosition,jdbcType=VARCHAR}
	    </if>
      <if test="trialNo != null" >
	      and trial_no = #{trialNo,jdbcType=VARCHAR}
	    </if>
      <if test="adSubmitTime != null" >
	      and ad_submit_time = #{adSubmitTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="adAuditTime != null" >
	      and ad_audit_time = #{adAuditTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="adAuditOpinion != null" >
	      and ad_audit_opinion = #{adAuditOpinion,jdbcType=VARCHAR}
	    </if>
      <if test="adAttachmentName != null" >
	      and ad_attachment_name = #{adAttachmentName,jdbcType=VARCHAR}
	    </if>
      <if test="adAttachmentPath != null" >
	      and ad_attachment_path = #{adAttachmentPath,jdbcType=VARCHAR}
	    </if>
      <if test="adRecordTime != null" >
	      and ad_record_time = #{adRecordTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="adContactName != null" >
	      and ad_contact_name = #{adContactName,jdbcType=VARCHAR}
	    </if>
      <if test="adContactPhone != null" >
	      and ad_contact_phone = #{adContactPhone,jdbcType=VARCHAR}
	    </if>
      <if test="adFee != null" >
	      and ad_fee = #{adFee,jdbcType=DECIMAL}
	    </if>
      <if test="extend1 != null" >
	      and extend_1 = #{extend1,jdbcType=VARCHAR}
	    </if>
      <if test="extend2 != null" >
	      and extend_2 = #{extend2,jdbcType=VARCHAR}
	    </if>
      <if test="extend3 != null" >
	      and extend_3 = #{extend3,jdbcType=VARCHAR}
	    </if>
      <if test="extend4 != null" >
	      and extend_4 = #{extend4,jdbcType=VARCHAR}
	    </if>
      <if test="createTime != null" >
	      and create_time = #{createTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="updateTime != null" >
	      and update_time = #{updateTime,jdbcType=TIMESTAMP}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="adId != null">
        ad_id = #{adId,jdbcType=VARCHAR},
      </if>
      <if test="councilId != null">
        council_id = #{councilId,jdbcType=VARCHAR},
      </if>
      <if test="adName != null">
        ad_name = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adType != null">
        ad_type = #{adType,jdbcType=VARCHAR},
      </if>
      <if test="adInvestPosition != null">
        ad_invest_position = #{adInvestPosition,jdbcType=VARCHAR},
      </if>
      <if test="trialNo != null">
        trial_no = #{trialNo,jdbcType=VARCHAR},
      </if>
      <if test="adSubmitTime != null">
        ad_submit_time = #{adSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adAuditTime != null">
        ad_audit_time = #{adAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adAuditOpinion != null">
        ad_audit_opinion = #{adAuditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="adAttachmentName != null">
        ad_attachment_name = #{adAttachmentName,jdbcType=VARCHAR},
      </if>
      <if test="adAttachmentPath != null">
        ad_attachment_path = #{adAttachmentPath,jdbcType=VARCHAR},
      </if>
      <if test="adRecordTime != null">
        ad_record_time = #{adRecordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adContactName != null">
        ad_contact_name = #{adContactName,jdbcType=VARCHAR},
      </if>
      <if test="adContactPhone != null">
        ad_contact_phone = #{adContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="adFee != null">
        ad_fee = #{adFee,jdbcType=DECIMAL},
      </if>
      <if test="extend1 != null">
        extend_1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null">
        extend_2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null">
        extend_3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null">
        extend_4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    id,
    ad_id,
    council_id,
    ad_name,
    ad_type,
    ad_invest_position,
    trial_no,
    ad_submit_time,
    ad_audit_time,
    ad_audit_opinion,
    ad_attachment_name,
    ad_attachment_path,
    ad_record_time,
    ad_contact_name,
    ad_contact_phone,
    ad_fee,
    extend_1,
    extend_2,
    extend_3,
    extend_4,
    create_time,
    update_time,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        ad_id = #{adId,jdbcType=VARCHAR},
        council_id = #{councilId,jdbcType=VARCHAR},
        ad_name = #{adName,jdbcType=VARCHAR},
        ad_type = #{adType,jdbcType=VARCHAR},
        ad_invest_position = #{adInvestPosition,jdbcType=VARCHAR},
        trial_no = #{trialNo,jdbcType=VARCHAR},
        ad_submit_time = #{adSubmitTime,jdbcType=TIMESTAMP},
        ad_audit_time = #{adAuditTime,jdbcType=TIMESTAMP},
        ad_audit_opinion = #{adAuditOpinion,jdbcType=VARCHAR},
        ad_attachment_name = #{adAttachmentName,jdbcType=VARCHAR},
        ad_attachment_path = #{adAttachmentPath,jdbcType=VARCHAR},
        ad_record_time = #{adRecordTime,jdbcType=TIMESTAMP},
        ad_contact_name = #{adContactName,jdbcType=VARCHAR},
        ad_contact_phone = #{adContactPhone,jdbcType=VARCHAR},
        ad_fee = #{adFee,jdbcType=DECIMAL},
        extend_1 = #{extend1,jdbcType=VARCHAR},
        extend_2 = #{extend2,jdbcType=VARCHAR},
        extend_3 = #{extend3,jdbcType=VARCHAR},
        extend_4 = #{extend4,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <!-- ID, -->
    <if test="adId != null">
      ad_id,
    </if>
    <if test="councilId != null">
      council_id,
    </if>
    <if test="adName != null">
      ad_name,
    </if>
    <if test="adType != null">
      ad_type,
    </if>
    <if test="adInvestPosition != null">
      ad_invest_position,
    </if>
    <if test="trialNo != null">
      trial_no,
    </if>
    <if test="adSubmitTime != null">
      ad_submit_time,
    </if>
    <if test="adAuditTime != null">
      ad_audit_time,
    </if>
    <if test="adAuditOpinion != null">
      ad_audit_opinion,
    </if>
    <if test="adAttachmentName != null">
      ad_attachment_name,
    </if>
    <if test="adAttachmentPath != null">
      ad_attachment_path,
    </if>
    <if test="adRecordTime != null">
      ad_record_time,
    </if>
    <if test="adContactName != null">
      ad_contact_name,
    </if>
    <if test="adContactPhone != null">
      ad_contact_phone,
    </if>
    <if test="adFee != null">
      ad_fee,
    </if>
    <if test="extend1 != null">
      extend_1,
    </if>
    <if test="extend2 != null">
      extend_2,
    </if>
    <if test="extend3 != null">
      extend_3,
    </if>
    <if test="extend4 != null">
      extend_4,
    </if>
    <if test="createTime != null">
      create_time,
    </if>
    <if test="updateTime != null">
      update_time,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{adId,jdbcType=VARCHAR},
    #{councilId,jdbcType=VARCHAR},
    #{adName,jdbcType=VARCHAR},
    #{adType,jdbcType=VARCHAR},
    #{adInvestPosition,jdbcType=VARCHAR},
    #{trialNo,jdbcType=VARCHAR},
    #{adSubmitTime,jdbcType=TIMESTAMP},
    #{adAuditTime,jdbcType=TIMESTAMP},
    #{adAuditOpinion,jdbcType=VARCHAR},
    #{adAttachmentName,jdbcType=VARCHAR},
    #{adAttachmentPath,jdbcType=VARCHAR},
    #{adRecordTime,jdbcType=TIMESTAMP},
    #{adContactName,jdbcType=VARCHAR},
    #{adContactPhone,jdbcType=VARCHAR},
    #{adFee,jdbcType=DECIMAL},
    #{extend1,jdbcType=VARCHAR},
    #{extend2,jdbcType=VARCHAR},
    #{extend3,jdbcType=VARCHAR},
    #{extend4,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP},
	</sql>
  <sql id="Selective_Value_List">
    <!-- SEQ_ad_info.nextval, -->
    <if test="adId != null">
      #{adId,jdbcType=VARCHAR},
    </if>
    <if test="councilId != null">
      #{councilId,jdbcType=VARCHAR},
    </if>
    <if test="adName != null">
      #{adName,jdbcType=VARCHAR},
    </if>
    <if test="adType != null">
      #{adType,jdbcType=VARCHAR},
    </if>
    <if test="adInvestPosition != null">
      #{adInvestPosition,jdbcType=VARCHAR},
    </if>
    <if test="trialNo != null">
      #{trialNo,jdbcType=VARCHAR},
    </if>
    <if test="adSubmitTime != null">
      #{adSubmitTime,jdbcType=TIMESTAMP},
    </if>
    <if test="adAuditTime != null">
      #{adAuditTime,jdbcType=TIMESTAMP},
    </if>
    <if test="adAuditOpinion != null">
      #{adAuditOpinion,jdbcType=VARCHAR},
    </if>
    <if test="adAttachmentName != null">
      #{adAttachmentName,jdbcType=VARCHAR},
    </if>
    <if test="adAttachmentPath != null">
      #{adAttachmentPath,jdbcType=VARCHAR},
    </if>
    <if test="adRecordTime != null">
      #{adRecordTime,jdbcType=TIMESTAMP},
    </if>
    <if test="adContactName != null">
      #{adContactName,jdbcType=VARCHAR},
    </if>
    <if test="adContactPhone != null">
      #{adContactPhone,jdbcType=VARCHAR},
    </if>
    <if test="adFee != null">
      #{adFee,jdbcType=DECIMAL},
    </if>
    <if test="extend1 != null">
      #{extend1,jdbcType=VARCHAR},
    </if>
    <if test="extend2 != null">
      #{extend2,jdbcType=VARCHAR},
    </if>
    <if test="extend3 != null">
      #{extend3,jdbcType=VARCHAR},
    </if>
    <if test="extend4 != null">
      #{extend4,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null">
      #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null">
      #{updateTime,jdbcType=TIMESTAMP},
    </if>
  </sql>
  
  <select id="selectByExample" parameterType="AdInfoQuery" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from ad_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from ad_info
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ad_info
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="AdInfoQuery">
    delete from ad_info
    <include refid="Example_Where_Clause" />
  </delete>
  <insert id="insert" parameterType="AdInfo">
    insert into ad_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Base_Value_List"/>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="AdInfo">
    insert into ad_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <select id="countByExample" parameterType="AdInfoQuery" resultType="java.lang.Integer">
    select count(*) from ad_info
    <include refid="Example_Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="AdInfo">
    update ad_info
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="AdInfo">
    update ad_info
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPageByExample" parameterType="AdInfoQuery" resultMap="BaseResultMap">
  	<include refid="Page_Query_Begin" />
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from ad_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
    <include refid="Page_Query_End" />
  </select>
</mapper>