<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleFlowsExtendMapper">
	<resultMap id="BaseResultMap" type="ArticleFlowsExtend">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="article_id" jdbcType="VARCHAR" property="articleId" />
	  <result column="lately_flows_id" jdbcType="BIGINT" property="latelyFlowsId" />
  </resultMap>
  <sql id="Page_Query_Begin">
    select * from(select t.*,rownum rn from(
  </sql>
  <sql id="Page_Query_End">
  	) t where rownum &lt;= ${endRow}) where rn &gt; ${startRow}
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="articleId != null" >
	      and article_id = #{articleId,jdbcType=VARCHAR}
	    </if>
      <if test="latelyFlowsId != null" >
	      and lately_flows_id = #{latelyFlowsId,jdbcType=BIGINT}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="latelyFlowsId != null">
        lately_flows_id = #{latelyFlowsId,jdbcType=BIGINT},
      </if>
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    id,
    article_id,
    lately_flows_id,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        article_id = #{articleId,jdbcType=VARCHAR},
        lately_flows_id = #{latelyFlowsId,jdbcType=BIGINT},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <!-- ID, -->
    <if test="articleId != null">
      article_id,
    </if>
    <if test="latelyFlowsId != null">
      lately_flows_id,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{id,jdbcType=BIGINT},
    #{articleId,jdbcType=VARCHAR},
    #{latelyFlowsId,jdbcType=BIGINT},
	</sql>
  <sql id="Selective_Value_List">
    <!-- SEQ_article_flows_extend.nextval, -->
    <if test="articleId != null">
      #{articleId,jdbcType=VARCHAR},
    </if>
    <if test="latelyFlowsId != null">
      #{latelyFlowsId,jdbcType=BIGINT},
    </if>
  </sql>
  
  <select id="selectByExample" parameterType="ArticleFlowsExtendQuery" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from article_flows_extend
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from article_flows_extend
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article_flows_extend
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="ArticleFlowsExtendQuery">
    delete from article_flows_extend
    <include refid="Example_Where_Clause" />
  </delete>
  <insert id="insert" parameterType="ArticleFlowsExtend">
    insert into article_flows_extend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Base_Value_List"/>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="ArticleFlowsExtend">
    insert into article_flows_extend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ArticleFlowsExtendQuery" resultType="java.lang.Integer">
    select count(*) from article_flows_extend
    <include refid="Example_Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="ArticleFlowsExtend">
    update article_flows_extend
    <include refid="Example_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ArticleFlowsExtend">
    update article_flows_extend
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPageByExample" parameterType="ArticleFlowsExtendQuery" resultMap="BaseResultMap">
  	<include refid="Page_Query_Begin" />
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from article_flows_extend
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
    <include refid="Page_Query_End" />
  </select>
</mapper>