<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizArticleFeeMapper">
	<select id="editArticleFee" parameterType="BizArticleFee"
		resultType="BizArticleFee">
		select acci.id as accountInfoId,infos.articleId as articleId,infos.articleCnTitle as articleCnTitle,
		infos.aAuthorId as authorId,infos.aAuthorName as authorName,
		infos.expertId as expertId,infos.expertName as expertName, infos.aPayeeId as authorPayeeId,infos.ePayeeId as expertPayeeId,
		acci.author_amount as authorAmount,acci.author_tax_amount as authorTaxAmount,acci.author_real_amount as authorRealAmount,
		acci.expert_amount as expertAmount,acci.expert_tax_amount as expertTaxAmount,acci.expert_real_amount as expertRealAmount ,
		infos.authorState ,infos.editorState,infos.expertState
		from (
			select 
			ari.article_id as articleId,ari.article_cn_title as articleCnTitle,ari.author_state as authorState,ari.editor_state as editorState,ari.expert_state as expertState,
			eInfos.payee_id as ePayeeId,eInfos.payee_account_no as ePayeeAccountNo,eInfos.payee_account_name as ePayeeAccountName,
			eInfos.payee_account_open as ePayeeAccountOpen,eInfos.payee_account_address as ePayeeAccountAddress,
			eInfos.payee_account_post as ePayeeAccountPost,eInfos.payee_account_postCode as ePayeeAccountPostCode,
			eInfos.payee_idcard_no as ePayeeIdcardNo,eInfos.expert_id as expertId,eInfos.expert_name as expertName,eInfos.article_id as eArticleId,
			aInfos.payee_id as aPayeeId,aInfos.payee_account_no as aPayeeAccountNo,aInfos.payee_account_name as aPayeeAccountName,
			aInfos.payee_account_open as aPayeeAccountOpen,aInfos.payee_account_address as aPayeeAccountAddress,
			aInfos.payee_account_post as aPayeeAccountPost,aInfos.payee_account_postCode as aPayeeAccountPostCode,
			aInfos.payee_idcard_no as aPayeeIdcardNo,aInfos.author_id as aAuthorId,aInfos.author_name as aAuthorName,aInfos.article_id aArticleId
			from
			(select pi.payee_id,pi.payee_account_no,pi.payee_account_name,pi.payee_account_open,pi.payee_account_address,pi.payee_account_post,pi.payee_account_postCode,
					payee_idcard_no,aie.article_id,ei.expert_name,ei.expert_id from article_info_extend aie,expert_info ei,user_info ui,payee_info pi 
					where aie.role_id='1003' and ei.expert_id=ui.ref_id and aie.user_id=ui.user_id and pi.ref_id=ei.expert_id and pi.type='002'
			
			) as eInfos,
			(
					select pi.payee_id,pi.payee_account_no,pi.payee_account_name,pi.payee_account_open,pi.payee_account_address,pi.payee_account_post,pi.payee_account_postCode,
					payee_idcard_no,ai.article_id,ai.author_name,ai.author_id
					from author_info ai ,payee_info pi where ai.author_id=pi.ref_id and ai.isfirstauthor='Y' and pi.type='001'
			) as aInfos,article_info ari
			where eInfos.article_id=aInfos.article_id and ari.article_id=eInfos.article_id ) as infos left join account_info acci
			on infos.aArticleId=acci.article_id
			
			where infos.expertState='0003' and infos.editorState='0008'
	</select>
</mapper>