body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:158px;
  top:70px;
  width:1208px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:168px;
  top:87px;
  width:1172px;
  height:513px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:513px;
}
#u3 {
  position:absolute;
  left:2px;
  top:248px;
  width:1168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:235px;
  top:146px;
  width:1040px;
  height:364px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:364px;
  font-family:'新宋体 Regular', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:654px;
  top:100px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:70px;
  width:158px;
  height:540px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:540px;
}
#u8 {
  position:absolute;
  left:2px;
  top:262px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:9px;
  top:80px;
  width:140px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:9px;
  top:115px;
  width:140px;
  height:65px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:65px;
}
#u12 {
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:8px;
  top:195px;
  width:140px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:8px;
  top:230px;
  width:140px;
  height:115px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
}
#u16 {
  position:absolute;
  left:2px;
  top:50px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:205px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:30px;
  top:245px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:20px;
  top:264px;
  width:120px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u22 {
  position:absolute;
  left:20px;
  top:295px;
  width:120px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u23 {
  position:absolute;
  left:30px;
  top:279px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:20px;
  top:326px;
  width:120px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u26 {
  position:absolute;
  left:30px;
  top:307px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:8px;
  top:375px;
  width:140px;
  height:108px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:108px;
}
#u29 {
  position:absolute;
  left:2px;
  top:46px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:8px;
  top:413px;
  width:140px;
  height:80px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:32px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:425px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:444px;
  width:120px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u35 {
  position:absolute;
  left:30px;
  top:454px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:20px;
  top:473px;
  width:120px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u38 {
  position:absolute;
  left:28px;
  top:387px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:48px;
  top:140px;
  width:66px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:70px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:70px;
}
#u43 {
  position:absolute;
  left:2px;
  top:27px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:60px;
  top:27px;
  width:221px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:300px;
  top:27px;
  width:53px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
