@CHARSET "UTF-8";
body,div,ul,li,span,p,b,table,tr,td,th,h1,h2,h3,h4{
			margin:0; 
			padding:0;
	}
html{
	height:100%;
	}
body{
	background-size:100% 100%; 
	background-repeat:no-repeat; 
	overflow:hidden; 
	font-family:"黑体";
	height:100%;
	}
.navigation{
	font-size: 14px;
	color: #B8FAFF;
	background-color: #019CDE;
	line-height: 40px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	}
.body{
	background-color: #FFFFFF;
	height: 600px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	}
.office{
	background-color: #FBF6FC;
	position:absolute;
	width:245px;
	height:170px;
	z-index:1;
	margin-left: 45px;
	margin-top: 20px;
	border:1px solid;
	}
.council{
	background-color: #FBF6FC;
	position:absolute;
	width:245px;
	height:100px;
	z-index:2;
	margin-left: 45px;
	margin-top: 210px;
	border:1px solid;
	}
.cover{
	background-color: #FFFFFF;
	position:absolute;
	width:395px;
	height:541px;
	z-index:1;
	margin-left: 280px;
	margin-top: -290px;
	}
.notice{
	background-color: #FFFFFF;
	position:absolute;
	width:243px;
	height:115px;
	z-index:2;
	left: 705px;
	margin-top: -290px;
	}
.download{
	background-color: #FFFFFF;
	position:absolute;
	width:244px;
	height:283px;
	z-index:3;
	left: 706px;
	margin-top: -115px;
	}
.link{
	background-color: #FFFFFF;
	position:absolute;
	width:244px;
	height:120px;
	z-index:4;
	left: 708px;
	top: 220px;
	}
.office li{ 
	list-style-type:none;
	border:1px solid;
	border-radius:5px;
	text-align:center;
	height:25px;
	margin-left:10px;
	margin-right:10px;
	font-size:14px;
	margin-top:5px;
	line-height:25px;
	clear:both;
	cursor:pointer;
	}
.title{
	height:35px;
	line-height:35px;
	font-size:14px;
	background:url(../img/background-1.png) no-repeat;
	background-size:100%;
	color:#FFFFFF;
	}
.txtLink{
	height:32px;
	line-height:32px;
	font-size: 14px;
	border-bottom:1px solid;
	text-align:center;
	cursor:pointer
	}
.notice div li,.download div li{ 
		list-style-type:none;
		text-align:left;
		height:25px;
		margin-left:10px;
		margin-right:10px;
		font-size:12px;
		margin-top:5px;
		line-height:25px;
		overflow:hidden;
		border-bottom:1px dotted;
	}
.cdiv1{
	width:395px;
	height:35px;
	line-height:35px;
	margin-left:10px;
	}
.cdiv2{
	width:394px;
	border:1px solid;
	}
.cdiv3{
	width:395px;
	height:476px;
	background:url(../img/cover.png) no-repeat 10px 10px;
	background-size:95% 95%;
	}
							
.ndiv1{
	width:244px;
	height:35px;
	line-height:35px;
	margin-left:10px;
	}
.ndiv2{
	width:243px;
	border:1px solid;
	}
.ndiv3{
	width:243px;
	}

.ddiv1{
	width:244px;
	height:35px;
	line-height:35px;
	margin-left:10px;
	}
.ddiv2{
	width:243px;
	border:1px solid;
	}
.ddiv3{
	width:243px;
	}

.ldiv1{
	width:244px;
	height:35px;
	line-height:35px;
	margin-left:10px;
	}
.ldiv2{
	width:243px;
	border:1px solid;
	}