body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:158px;
  top:70px;
  width:1208px;
  height:540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:27px;
  width:221px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:300px;
  top:27px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:654px;
  top:100px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:173px;
  top:87px;
  width:1172px;
  height:513px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:513px;
}
#u11 {
  position:absolute;
  left:2px;
  top:248px;
  width:1168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:654px;
  top:128px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:230px;
  top:186px;
  width:1030px;
  height:42px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:42px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:230px;
  top:228px;
  width:1030px;
  height:149px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:149px;
}
#u17 {
  position:absolute;
  left:2px;
  top:66px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:270px;
  top:200px;
  width:65px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:230px;
  top:267px;
  width:1030px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:1013px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1030px;
  height:1px;
}
#u21 {
  position:absolute;
  left:969px;
  top:226px;
  width:10px;
  height:151px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:134px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:151px;
}
#u22 {
  position:absolute;
  left:430px;
  top:200px;
  width:65px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:666px;
  top:200px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1012px;
  top:200px;
  width:97px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1178px;
  top:200px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:393px;
  top:225px;
  width:10px;
  height:152px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:135px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:152px;
}
#u31 {
  position:absolute;
  left:508px;
  top:225px;
  width:10px;
  height:152px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:135px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:152px;
}
#u32 {
  position:absolute;
  left:610px;
  top:228px;
  width:10px;
  height:149px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:132px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:149px;
}
#u33 {
  position:absolute;
  left:724px;
  top:228px;
  width:10px;
  height:149px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:132px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:149px;
}
#u34 {
  position:absolute;
  left:1127px;
  top:228px;
  width:10px;
  height:149px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:132px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:149px;
}
#u35 {
  position:absolute;
  left:230px;
  top:320px;
  width:1030px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:1013px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1030px;
  height:1px;
}
#u36 {
  position:absolute;
  left:251px;
  top:245px;
  width:97px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1193px;
  top:247px;
  width:17px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:70px;
  width:158px;
  height:540px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:540px;
}
#u41 {
  position:absolute;
  left:2px;
  top:262px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:8px;
  top:83px;
  width:140px;
  height:100px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
}
#u43 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:8px;
  top:118px;
  width:140px;
  height:105px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u45 {
  position:absolute;
  left:2px;
  top:44px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:93px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:30px;
  top:133px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:152px;
  width:120px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u51 {
  position:absolute;
  left:30px;
  top:162px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:20px;
  top:181px;
  width:120px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u54 {
  position:absolute;
  left:10px;
  top:242px;
  width:140px;
  height:108px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:108px;
}
#u55 {
  position:absolute;
  left:2px;
  top:46px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:10px;
  top:273px;
  width:140px;
  height:80px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u57 {
  position:absolute;
  left:2px;
  top:32px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:32px;
  top:292px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:22px;
  top:311px;
  width:120px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u61 {
  position:absolute;
  left:32px;
  top:321px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:30px;
  top:254px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:446px;
  top:245px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:545px;
  top:200px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:885px;
  top:200px;
  width:65px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:545px;
  top:245px;
  width:9px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:666px;
  top:245px;
  width:25px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:844px;
  top:227px;
  width:10px;
  height:151px;
}
#u75_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u75_end {
  position:absolute;
  left:-5px;
  top:134px;
  width:20px;
  height:18px;
}
#u75_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:151px;
}
#u76 {
  position:absolute;
  left:760px;
  top:200px;
  width:65px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:251px;
  top:292px;
  width:97px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:446px;
  top:291px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:545px;
  top:290px;
  width:17px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:666px;
  top:289px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:755px;
  top:246px;
  width:75px;
  height:16px;
  font-size:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:755px;
  top:288px;
  width:75px;
  height:16px;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:880px;
  top:291px;
  width:75px;
  height:16px;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:638px;
  top:403px;
  width:93px;
  height:27px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
}
#u92_img.mouseOver {
}
#u92.mouseOver {
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1044px;
  top:286px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u94_img.mouseOver {
}
#u94.mouseOver {
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:777px;
  top:403px;
  width:93px;
  height:27px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
}
#u96_img.mouseOver {
}
#u96.mouseOver {
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1147px;
  top:287px;
  width:94px;
  height:21px;
  font-size:14px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:251px;
  top:338px;
  width:97px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u100_img.mouseOver {
}
#u100.mouseOver {
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:446px;
  top:336px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:545px;
  top:336px;
  width:17px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:666px;
  top:334px;
  width:33px;
  height:18px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:755px;
  top:334px;
  width:75px;
  height:16px;
  font-size:14px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:880px;
  top:336px;
  width:75px;
  height:16px;
  font-size:14px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:1044px;
  top:332px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u112_img.mouseOver {
}
#u112.mouseOver {
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1147px;
  top:332px;
  width:94px;
  height:21px;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1147px;
  top:242px;
  width:94px;
  height:21px;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
