<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<form action="../author/toArticleQuery" method="POST">
							<div class="con_article_title02 paddtb20">
						<input type="hidden" value="$!{pageInfo.id}" id="id" name="id">
						
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.userId}" id="userId" name="userId">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleName}" id="articleName" name="articleName">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">稿件编号：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleId}" id="articleId" name="articleId">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">稿件类型：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleType}" id="articleType" name="articleType">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleCnTitle}" id="articleCnTitle" name="articleCnTitle">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleEnTile}" id="articleEnTile" name="articleEnTile">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleCnSummary}" id="articleCnSummary" name="articleCnSummary">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleEnSummary}" id="articleEnSummary" name="articleEnSummary">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.artilce}" id="artilce" name="artilce">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleCnKeywords}" id="articleCnKeywords" name="articleCnKeywords">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.articleEnKeywords}" id="articleEnKeywords" name="articleEnKeywords">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.isfund}" id="isfund" name="isfund">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">拟投栏目：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.investSection}" id="investSection" name="investSection">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">中国分类号：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.classificationNums}" id="classificationNums" name="classificationNums">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">文献标识码：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.documentCode}" id="documentCode" name="documentCode">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">论文用途及要求备注：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.remark}" id="remark" name="remark">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">论文查新点、学术：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.inovationPoint}" id="inovationPoint" name="inovationPoint">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">参考信息：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.referenceDoc}" id="referenceDoc" name="referenceDoc">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.totalPics}" id="totalPics" name="totalPics">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.totalTabs}" id="totalTabs" name="totalTabs">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.totalPages}" id="totalPages" name="totalPages">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.fundTitle}" id="fundTitle" name="fundTitle">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.state}" id="state" name="state">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">稿件是否处于可编辑的状态:1不可编辑(作废)0可编辑：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.extends1}" id="extends1" name="extends1">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.extends2}" id="extends2" name="extends2">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.extends3}" id="extends3" name="extends3">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.extends4}" id="extends4" name="extends4">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.createTime}" id="createTime" name="createTime">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="$!{pageInfo.updateTime}" id="updateTime" name="updateTime">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="articleInfo"></span>
								</div>
							</div>
						<div class="blank20"></div>
					</div>
					<div class="con_core_info_div03 paddingl80">
						<div class="attr_con">
							<a class="chan_btn right wid93 margr40 margt10" href="${rc.contextPath}/params/articleInfoIndex">返回</a> 
							<a class="chan_btn right wid93 margr40 margt10" onclick="submit()">保存</a>
						</div>
					</div>
	</form>
</body>
</html>
