<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		// 表格数据源  
        var data = [];  
        var rows = $('#table').datagrid('getRows');
        for(var i=0;i<rows.length;i++) {
        	 data.push({  
                 "articleId":rows[i].articleId,  
                 "articleCnTitle":rows[i].articleCnTitle,
                 "aRealAmount":rows[i].aRealAmount
             }) ; 
		}
        $("#table").datagrid("loadData", data.slice(0, 5));
        var pager = $("#table").datagrid("getPager");  
        pager.pagination({  
            total:data.length, 
            pageSize:5,
            pageList: [5,10,15,20],
            onSelectPage:function (pageNo, pageSize) {  
                var start = (pageNo - 1) * pageSize;  
                var end = start + pageSize;  
                $("#table").datagrid("loadData", data.slice(start, end));  
                pager.pagination('refresh', {  
                    total:data.length,  
                    pageNumber:pageNo
                });  
            }  
        });  
	});
</script>
<body>
	<div id="articleInfos">
		<table id="table"  class="easyui-datagrid"   data-options="singleSelect:true,toolbar:'#bt',pagination:true">
			<thead>
				<tr>
					<th data-options="field:'articleId',width:400">稿件编号</th>
					<th data-options="field:'articleCnTitle',width:380">稿件标题</th>
					<th data-options="field:'aRealAmount',width:287">稿费金额</th>
				</tr>
			</thead>
			<tbody>
			#foreach($dtos in ${list})
			<tr>
				<td>${dtos.articleId}</td>
				<td><a
					href="../author/toArticleFeeDetailPage?articleId=${dtos.articleId}">${dtos.articleCnTitle}</a></td>
				<td>${dtos.aRealAmount}</td>
			</tr>
			#end
			</tbody>
		</table>
	</div>
</body>
</html>
