<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		
	});
	function yijian(value) {
		$.ajax({
				url:'../author/toOpinionQueryPage',
				data:{articleId:value},
				type:'POST',
				success:function(res){
					if (res=='null') {
						alert('无');
					}
					else {
						alert(eval('(' + res + ')').opinion);
					}
				}	
		});
	}
</script>
<body>
	<div id="articleInfos"  style="margin-top:50px;">
		<table style="border: 1px solid black;font-size:14px;" rules="all">
			<tr>
				<td style="width:20%;text-align:center;">稿件编号</td>
				<td style="width:20%;text-align:center;">稿件标题</td>
				<td style="width:20%;text-align:center;">投稿时间</td>
				<td style="width:20%;text-align:center;">稿件状态</td>
				<td style="width:20%;text-align:center;">备注信息</td>
			</tr>
			#foreach($dtos in ${list})   
			<tr>
				<td>$!{dtos.articleId}</td>
				<td><a href="../author/toArticleQueryDetailPage?articleId=${dtos.articleId}">$!{dtos.title}</a></td>
				<td>$!{dtos.contriTime}</td>
				<td>$!{dtos.authorState}</td>
				<td  onclick="yijian('${dtos.articleId}')">查看审稿意见</td>
			</tr>
			#end
		</table>
		<br>
	</div>
</body>
</html>
