<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		});

        $('#chongtou').click(function() {
            var articleId =  $("#articleId").val() ;

            var files = $("#files").val();
            if(files== ""){
                alert("请上传附件");
                return ;
            }
            if(!checkFile(files)){
                return ;
            }

            $.ajaxFileUpload({
                url:'../author/toChongTou',            //需要链接到服务器地址
                secureuri:false,
                fileElementId:'files',                  //文件选择框的id属性
                dataType: 'json',                      //服务器返回的格式，可以是json, xml
                data:{articleId:articleId},
                success: function (data, status){     //相当于java中try语句块的用法
                    if (data.message == "success") {
                        alert('重投成功');
                        window.location.href='../author/toArticleQueryPage';
                    } else{
                        alert('重投失败');
                    }

                },
                error: function (data, status, e){  //相当于java中catch语句块的用法
                    alert(data);
                }
            });
        });
	});
</script>
<body>
    <input type="hidden" value="$!{detail.oriArticleId}" id="articleId">
	<div>
		<table class="easyui-datagrid"   data-options="singleSelect:true,height:600" >
		<thead>
			<tr>
				<th data-options="field:'name',width:200"></th>
				<th data-options="field:'value',width:867"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>稿件编号：</td>
				<td>$!{detail.articleId}</td>
			</tr>
            <tr>
                <td>中国分类号：</td>
                <td>$!{detail.cNums}</td>
            </tr>
			<tr>
				<td>中文标题：</td>
				<td>$!{detail.articleCnTitle}</td>
			</tr>
			<tr>
				<td>英文标题：</td>
				<td>$!{detail.articleEnTile}</td>
			</tr>
			<tr>
				<td>中文关键词：</td>
				<td>$!{detail.articleCnKeywords}</td>
			</tr>
			<tr>
				<td>英文关键词：</td>
				<td>$!{detail.articleEnKeywords}</td>
			</tr>
			<tr>
				<td>中文摘要：</td>
				<td><textarea readonly="readonly" style="height:100px;width:600px;">$!{detail.articleCnSummary}</textarea></td>
			</tr>
			<tr>
				<td>英文摘要：</td>
				<td><textarea readonly="readonly" style="height:100px;width:600px;">$!{detail.articleEnSummary}</textarea></td>
			</tr>
            <tr>
                <td>拟投栏目：</td>
                <td>$!{detail.section}</td>
            </tr>
            <tr>
                <td>基金项目：</td>
                <td>
                    #if($!{detail.isfund}=='Y')
                        是 ($!{detail.fundTitle})
                    #elseif($!{detail.isfund}=='N')
                        否
                    #end
                </td>
            </tr>
            <tr>
                <td>页数：</td>
                <td>$!{detail.totalPages}</td>
            </tr>
            <tr>
                <td>图片：</td>
                <td>$!{detail.totalPics}</td>
            </tr>
            <tr>
                <td>表格：</td>
                <td>$!{detail.totalTabs}</td>
            </tr>
            <tr>
                <td>论文用途：</td>
                <td><textarea readonly="readonly" style="height:100px;width:600px;">$!{detail.remark}</textarea></td>
            </tr>
            <tr>
                <td>稿件下载：</td>
                <td>
                    #foreach($dtos in ${listAttr})
                        <a href="../downloadAttachment?fileName=$!{dtos.attachmentName}&filePath=$!{dtos.attachmentPath}"
                           class="easyui-linkbutton" data-options="width:120">$!{dtos.extend1}</a>
                        &nbsp;&nbsp;&nbsp;
                    #end
                </td>
            </tr>
            <tr>
                <td>参考信息：</td>
                <td><textarea readonly="readonly" style="height:100px;width:600px;">$!{detail.referenceDoc}</textarea></td>
            </tr>

            <tr>
                <td>重投稿件：</td>
                <td><input type="file" id="files" name="files"/><a style="font-size:12px;color:red;">(*)</a></td>
            </tr>
			</tbody>
		</table>
	</div>
	<div class="attr_con">
		<a id="back" class="easyui-linkbutton" data-options="width:50">返回</a>
		<a id="chongtou" href="#" class="easyui-linkbutton" data-options="width:50">重投</a>
	</div>
</body>
</html>
