<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-combox.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script type="text/javascript">
    $(function(){
        $('#submit').click(function(){
            $('#table').datagrid({queryParams:getUrl()});
        });

        $('#table').datagrid({
            url:'../author/toArticleQueryPageSet',
            queryParams:getUrl(),
            pageSize:10,
            pageList: [10,15,20],
            onLoadSuccess:function(){
                var rows = $('#table').datagrid('getRows');
                for(var i=0;i<rows.length;i++) {

                    if(rows[i].authorState =='0003'){
                        rows[i].option='<a href="../author/toEditAuthorPayeeInfoPage?articleId='+rows[i].articleId+'" class="easyui-linkbutton" >编辑账户信息</a>&nbsp;' +
                                '<a onclick="yijian(\''+rows[i].articleId+'\')" href="#" class="easyui-linkbutton" >查看审稿意见</a>';
                    }else if(rows[i].authorState=='0006'){
                        rows[i].option=' <a href="../author/toArticleQueryChongTouPage?articleId='+rows[i].articleId+'">重投</a>&nbsp;' +
                                ' <a onclick="yijian(\''+rows[i].articleId+'\')" href="#" class="easyui-linkbutton" >查看审稿意见</a>'  ;
                    }else if(rows[i].authorState=='0007'){
                        rows[i].option='<a onclick="yijian(\''+rows[i].articleId+'\')" href="#" class="easyui-linkbutton" >查看审稿意见</a>' ;
                    }
                    rows[i].articleId = '<a href="../author/toArticleQueryDetailPage?articleId='+rows[i].articleId+'">'+rows[i].articleId+'</a>' ;
                    rows[i].authorState=ArticleStateEnums(rows[i].authorState);
                $('#table').datagrid('refreshRow',i);
                }
            }
        });

        function getUrl() {
            var url = {
                'articleId':$('input[name="articleId"]').val(),
                'articleCnTitle':$('input[name="title"]').val(),
                'creatTime':$('input[name="contriTime"]').val()
            };
            return url;
        }
    });


	function yijian(value) {
		$.ajax({
				url:'../author/toOpinionQueryPage',
				data:{articleId:value},
				type:'POST',
				success:function(res){
					if (res=='null') {
						$.messager.alert('审稿意见','无');    
					}
					else {
						$.messager.alert('审稿意见',eval('(' + res + ')').opinion); 
					}
				}	
		});
	}
</script>
<body>
	<div id="articleInfos">
        <form action="../author/toArticleQueryPageSet" method="POST">
            <table>
                <tr>
                    <td>稿件编号：</td>
                    <td><input class="easyui-textbox" type="text" name="articleId" value=""></td>
                    <td>稿件标题：</td>
                    <td><input class="easyui-textbox" type="text" name="title" value=""></td>
                    <td>投稿时间：</td>
                    <td ><input class="easyui-datebox" type="text" name="contriTime" value=""></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <a  class="easyui-linkbutton"   style="width:50px;" href="#"  id="submit">查询</a>
                    </td>
                </tr>
            </table>
        </form>
		<table  id="table"  class="easyui-datagrid"   data-options="singleSelect:true,toolbar:'#bt',pagination:true">
			<thead>
				<tr>
					<th data-options="field:'articleId',width:140">稿件编号</th>
					<th data-options="field:'title',width:424">稿件标题</th>
					<th data-options="field:'contriTime',width:185">投稿时间</th>
					<th data-options="field:'authorState',width:85">稿件状态</th>
					<th data-options="field:'option',width:230">操作</th>
				</tr>
			</thead>
		</table>
		<br>
	</div>
</body>
</html>
