<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		});
		// 表格数据源  
        var data = [];  
        var rows = $('#table').datagrid('getRows');
        for(var i=0;i<rows.length;i++) {
        	if(i==0) {
        		data.push({  
   		 		 "name":rows[i].name,  
                 "value":ArticleStateEnums(rows[i].value),  
                }) ; 
        	}
        	else {
        		data.push({  
   		 		 "name":rows[i].name,  
                 "value":rows[i].value,  
                }) ; 
        	}
		}
        $("#table").datagrid("loadData", data);
	});
</script>
<body>
	<div>
		<input type="hidden" value="$!{articleInfo.id}" id="id" name="id">
		<table id="table" class="easyui-datagrid"   data-options="singleSelect:true">
		<thead>
			<tr>
				<th data-options="field:'name',width:200"></th>
				<th data-options="field:'value',width:867"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>稿件状态：</td>
				<td>$!{obj.authorState}</td>
			</tr>
			<tr>
				<td>中文标题：</td>
				<td>$!{obj.articleCnTitle}</td>
			</tr>
			<tr>
				<td>英文标题：</td>
				<td>$!{obj.articleEnTile}</td>
			</tr>
			<tr>
				<td>中国分类号：</td>
				<td>$!{obj.cNums}</td>
			</tr>
			<tr>
				<td>拟投栏目：</td>
				<td>$!{obj.section}</td>
			</tr>
			<tr>
				<td>中文关键词：</td>
				<td>$!{obj.articleCnKeywords}</td>
			</tr>
			<tr>
				<td>英文关键词：</td>
				<td>$!{obj.articleEnKeywords}</td>
			</tr>
			<tr>
				<td>中文摘要：</td>
				<td>$!{obj.articleCnSummary}</td>
			</tr>
			<tr>
				<td>英文摘要：</td>
				<td>$!{obj.articleEnSummary}</td>
			</tr>
			#if($!{roleId}=="1001")
			<tr>
				<td>作者信息</td>
				<td>姓名:$!{author.authorName}  身份证号:$!{author.certificateNo}</td>
			</tr>
			#else
			<tr>
				<td>专家信息</td>
				<td>姓名:$!{expert.expertName}  身份证号:$!{expert.certificateNo}</td>
			</tr>
			#end
			<tr>
				<td>稿费</td>
				<td>应发金额:$!{obj.aAmount} 扣税:$!{obj.aTaxAmount} 实发金额:$!{obj.aRealAmount} 汇款时间:$!{obj.payTime}</td>
			</tr>
			<!-- <tr>
				<td>刊登日期</td>
				<td>$!{p.periodicalYear}年$!{p.cycleNums}期</td>
			</tr> -->
			</tbody>
		</table>
	</div>
	<div class="attr_con">
		<a id="back" href="#" class="easyui-linkbutton" data-options="width:50">返回</a>
	</div>
</body>
</html>
