<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#submit').click(function(){
			$('form').submit();
		});
	});
</script>
<body>
	<div id="articleInfos">
	<form action="../editor/toPeriodicalManagerPage" method="POST">
		<table>
			<tr>
				<td>期刊名称：</td>
				<td><input class="easyui-textbox" type="text" name="periodicalCnName" value=""></td>
				<td>期刊编号：</td>
				<td><input class="easyui-textbox" type="text" name="periodicalId" value=""></td>
				<td>主办单位：</td>
				<td><input class="easyui-textbox" type="text" name="hostOrganization" value=""></td>
			</tr>
			<tr>
				<td colspan="6">
					<a id="submit"  class="easyui-linkbutton"  style="width:50px;" href="#">查询</a>
					<a  class="easyui-linkbutton"  style="width:50px;" href="../editor/toPeriodicalInfoAdd"">新增</a>
				</td>
			</tr>
		</table>
	</form>
	
		<table class="easyui-datagrid"   data-options="singleSelect:true,fitColumns:true">
			<thead>
				<tr>
					<th data-options="field:'periodicalId',width:200">期刊编号</th>
					<th data-options="field:'periodicalCnName',width:200">期刊名称</th>
					<th data-options="field:'hostOrganization',width:200">主办单位</th>
					<th data-options="field:'press',width:100">编辑社</th>
					<th data-options="field:'inFixPrice',width:100">单价</th>
					<th data-options="field:'option',width:100">操作</th>
				</tr>
			</thead>
			<tbody>
			#foreach($dtos in ${list})   
				<tr>
					<td>$!{dtos.periodicalId}</td>
					<td>$!{dtos.periodicalCnName}</td>
					<td>$!{dtos.hostOrganization}</td>
					<td>$!{dtos.press}</td>
					<td>$!{dtos.inFixPrice}</td>
					<td><a class="easyui-linkbutton"  href="../editor/toSectionManagerPage?periodicalId=${dtos.periodicalId}">编辑栏目信息</a></td>
				</tr>
			#end
			</tbody>
		</table>
		<br>
	</div>
</body>
</html>
