<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		});
		$('#submit').click(function(){
			if ($("#sectionName").val()=='') {
				alert('栏目名称不能为空');
				return;
			}
			else {
				$('form').submit();
			}
		});
		$('#sectionName').blur(function(){
			if ($("#sectionName").val()=='') {
				alert('栏目名称不能为空');
				return;
			}
			else {
				$.post('../editor/isSecNameExsit',{name:$("#sectionName").val(),value:'$!{periodical.periodicalId}'},function(data){
					if(data==true) {
						alert('栏目名称【'+$("#sectionName").val()+'】已存在');
						$("#sectionName").val('');
						return;
					}
				})
			}
		});
	});
</script>
<body>
	<div id="articleInfos">
	<form action="../editor/toSaveSectionInfo" method="POST">
		<table>
			<tr>
				<td>期刊名称：</td>
				<td>$!{periodical.periodicalCnName}<input type="hidden" name="periodicalId" value="$!{periodical.periodicalId}"></td>
			</tr>
			<tr>	
				<td>栏目名称：</td>
				<td><input id="sectionName" type="text" name="sectionName" value="" size="30"></td>
			</tr>
			<tr>	
				<td>栏目类别：</td>
				<td><select name="state">
					<option value="0002">稿件类</option>
					<option value="0001">广告类</option>
				</select></td>
			</tr>
			<tr>	
				<td>栏目简介：</td>
				<td><textarea name="sectionSummary" style="height:200px;"  rows="100" cols="100"></textarea></td>
			</tr>
			<tr>
				<td colspan="4">
					<a class="easyui-linkbutton"  style="width:50px;" href="#"  id="back">返回</a>
					<a class="easyui-linkbutton"  style="width:50px;" href="#"  id="submit">增加</a>
				</td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>
