<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
<script type="text/javascript" src="../js/fileUpload.js"></script>
</head>
<script>
    var haveUploadFile = false ;
	$(function() {
		$('#dd').click(function() {
			if($("#eId").val()==""){
				alert("请选择专家");
				return;
			}
            if(haveUploadFile== false){
                alert("请上传附件");
                return;
            }
            $.post('../editor/toSubmitState',{articleId:'${respDto.articleId}',eId:$("#eId").val()},
                    function(data){
                        if (data=="true") {
                            alert('稿件已送审');
                            window.location.href='../editor/toEnlistedArticlePage';
                        }
                    })
		});
		
		var data=$('#grid').datagrid('getData');
	    data.rows[1].value=ArticleStateEnums('$!{respDto.editorState}');
	    $("#grid").datagrid("loadData", data);
	});
</script>
<body>
	<form action="../editor/toSubmitState"  method="POST">
		<input type="hidden" name="articleId" value="${respDto.articleId}">
		<table id="grid" class="easyui-datagrid"
			data-options="singleSelect:true,toolbar:'#bt'">
			<thead>
				<tr>
					<th data-options="field:'name',width:200"></th>
					<th data-options="field:'value',width:800"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>稿件编号:</td>
					<td>${respDto.articleId}</td>
				</tr>
				<tr>
					<td>稿件状态:</td>
					<td></td>
				</tr>
				<tr>
					<td>标题:</td>
					<td>${respDto.title}</td>
				</tr>
				<tr>
					<td>拟投栏目:</td>
					<td>${respDto.section}</td>
				</tr>
				<tr>
					<td>送审专家:</td>
					<td><select id="eId" name="eId"> 
							<option value="" selected>请选择</option>
							#foreach($dtos in ${expertInfos})
							<option value="$!{dtos.expertId}">$!{dtos.expertName}</option>
							#end
					</select></td>
				</tr>
                <tr>
                    <td>送审附件:</td>
                    <td> <input type="file" id="files" name="files"/><a style="font-size:12px;color:red;">(*)</a><input type="button" value="上传" onclick="ajaxFileUpload()"/></td>
                </tr>
				<tr>
					<td>送审日期:</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<a id="dd" class="easyui-linkbutton" style="width: 50px;">送审</a> <br>
	</form>
</body>
</html>
