<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<form action="" method="POST">
			<div class="main_con">
				<div class="con_article_title02 paddtb20">
					<input type="hidden" value="" id="id" name="id">
					<div class="blank20"></div>
					<div class="con_core_info_div02 rel_pos wid500 padding0">
						<label class="label_txt wid135 txtright margt10 margr8"> <span
							class="right">：</span></label>
						<div class="input_con_type_top wid343">
							<input maxlength="30" class="wid333 ip_input_con lightgrey"
								value="" id="adId" name="adId">
						</div>
						<div style="display: none; margin-left: 150px;"
							class="left wid360">
							<span class="label_txt wid190 margt10 red01" error="adInfo"></span>
						</div>
					</div>
					<div class="blank20"></div>
					<div class="con_core_info_div02 rel_pos wid500 padding0">
						<label class="label_txt wid135 txtright margt10 margr8"> <span
							class="right">：</span></label>
						<div class="input_con_type_top wid343">
							<input maxlength="30" class="wid333 ip_input_con lightgrey"
								value="" id="councilId" name="councilId">
						</div>
						<div style="display: none; margin-left: 150px;"
							class="left wid360">
							<span class="label_txt wid190 margt10 red01" error="adInfo"></span>
						</div>
					</div>
					<div class="blank20"></div>
					<div class="con_core_info_div02 rel_pos wid500 padding0">
						<label class="label_txt wid135 txtright margt10 margr8"> <span
							class="right">：</span></label>
						<div class="input_con_type_top wid343">
							<input maxlength="30" class="wid333 ip_input_con lightgrey"
								value="" id="adName" name="adName">
						</div>
						<div style="display: none; margin-left: 150px;"
							class="left wid360">
							<span class="label_txt wid190 margt10 red01" error="adInfo"></span>
						</div>
					</div>
					<div class="blank20"></div>
					<div class="con_core_info_div02 rel_pos wid500 padding0">
						<label class="label_txt wid135 txtright margt10 margr8"> <span
							class="right">：</span></label>
						<div class="input_con_type_top wid343">
							<input maxlength="30" class="wid333 ip_input_con lightgrey"
								value="" id="adType" name="adType">
						</div>
						<div style="display: none; margin-left: 150px;"
							class="left wid360">
							<span class="label_txt wid190 margt10 red01" error="adInfo"></span>
						</div>
					</div>
					<div class="blank20"></div>
					<div class="con_core_info_div02 rel_pos wid500 padding0">
						<label class="label_txt wid135 txtright margt10 margr8"> <span
							class="right">刊登位置：</span></label>
						<div class="input_con_type_top wid343">
							<input maxlength="30" class="wid333 ip_input_con lightgrey"
								value="" id="adPosition" name="adPosition">
						</div>
						<div style="display: none; margin-left: 150px;"
							class="left wid360">
							<span class="label_txt wid190 margt10 red01" error="adInfo"></span>
						</div>
					</div>
					<div class="blank20"></div>
					<div class="con_core_info_div02 rel_pos wid500 padding0">
						<label class="label_txt wid135 txtright margt10 margr8"> <span
							class="right">广审号：</span></label>
						<div class="input_con_type_top wid343">
							<input maxlength="30" class="wid333 ip_input_con lightgrey"
								value="" id="trialNo" name="trialNo">
						</div>
						<div style="display: none; margin-left: 150px;"
							class="left wid360">
							<span class="label_txt wid190 margt10 red01" error="adInfo"></span>
						</div>
					</div>
				</div>
				<div class="con_core_info_div03 paddingl80">
					<div class="attr_con">
						<!-- 					<a class="chan_btn right wid93 margr40 margt10" href="${rc.contextPath}/params/adInfoIndex">返回</a> 
 -->
						<a class="chan_btn right wid93 margr40 margt10"><input
							type="submit" value="保存"></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
