<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#submit').click(function(){
			$('form').submit();
		});
	});
</script>
<body>
	<div id="articleInfos">
	<form>
		<table>
			<tr>
				<td>编辑姓名：</td>
				<td><input class="easyui-textbox" type="text" name="editorName" value=""></td>
				<td>登录名：</td>
				<td><input class="easyui-textbox" type="text" name="logonName" value=""></td>
				<td>编辑类型：</td>
				<td><select name="roleId" class="easyui-combobox"  style="width:155px;">
					<option value="" selected>全部</option>
					<option value="1006">稿件编</option>
					<option value="1007">广告编</option>
					<option value="1008">发行编</option>
					<option value="1009">签发编</option>
				</select></td>
			</tr>
			<tr>
				<td colspan="6">
					<a id="submit"  class="easyui-linkbutton"  style="width:50px;" href="#">查询</a>
					<a class="easyui-linkbutton"  href="../editor/toEditorInfoAdd"  style="width:50px;">新增</a>
				</td>
			</tr>
		</table>
	</form>
	
		<table class="easyui-datagrid"   data-options="singleSelect:true">
			<thead>
				<tr>
					<th data-options="field:'editorName',width:200">编辑姓名</th>
					<th data-options="field:'logonName',width:200">登录名</th>
					<th data-options="field:'email',width:200">emial</th>
					<th data-options="field:'roleId',width:200">角色</th>
					<!-- <td>操作</td> -->
				</tr>
			</thead>
			<tbody>
			#foreach($list in ${list})   
				<tr>
					<!-- <td>$!{list.refId}</td> -->
					<td>$!{list.editorName}</td>
					<td>$!{list.logonName}</td>
					<td>$!{list.email}</td>
					<td>$!{list.roleId}</td>
					<!-- <td>编辑</td> -->
				</tr>
			#end
			</tbody>
		</table>
		<br>
	</div>
</body>
</html>
