<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<form action="" method="POST">
		<table style="border: 1px solid black;" rules="all">
			<tr>
				<td>期刊名称</td>
				<td>发行年份</td>
				<td>发行期</td>
				<td>签发时间</td>
				<td>状态</td>
				<td>操作</td>
			</tr>
			#foreach($periodical in ${list})   
			<tr>
				<td>${p.periodicalCnName}</td>
				<td>${periodical.periodicalYear}</td>
				<td>${periodical.cycleNums}</td>
				<td>${periodical.cycleNums}</td>
				<td>${periodical.periodicalState}</td>
				#if(${periodical.periodicalState}=='FI')
				<td><a href="../editor/toEditArticleFeePage?periodicalIssueNo=${periodical.periodicalIssueNo}&periodicalId=${periodical.periodicalId}">编辑稿费</a></td>
				#elseif(${periodical.periodicalState}=='APD')
				<td>已完成</td>
				#else
				<td><a href="../editor/toArticleGroupDetailPage?periodicalIssueNo=${periodical.periodicalIssueNo}&periodicalId=${periodical.periodicalId}">组稿</a></td>
				#end
			</tr>
			#end
		</table>
		<br>
		</form>
	</div>
</body>
</html>
