<!DOCTYPE html>
<html>
<head>
<title>稿费编辑</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		var rows = $('#editTable').datagrid('getRows');
		for(var i=0;i<rows.length;i++) {
			$('#editTable').datagrid('beginEdit',i);
		}
		$('#editTable').datagrid('hideColumn','articleId');
		$('#editTable').datagrid('hideColumn','authorPayeeId');
		$('#editTable').datagrid('hideColumn','expertPayeeId');
		$('#submit').click(function(){
			var array=[];
			var data = $('#editTable').datagrid('getData');
			for(var i=0;i<data.rows.length;i++) {
				$('#editTable').datagrid('endEdit',i);
				var json={};
				json.articleId = data.rows[i].articleId;
				json.authorPayeeId = data.rows[i].authorPayeeId;
				json.expertPayeeId = data.rows[i].expertPayeeId;
				json.authorAmount = data.rows[i].authorAmount==''?0:data.rows[i].authorAmount;
				json.authorTaxAmount = data.rows[i].authorTaxAmount==''?0:data.rows[i].authorTaxAmount;
				json.authorRealAmount = data.rows[i].authorRealAmount==''?0:data.rows[i].authorRealAmount;
				json.expertAmount = data.rows[i].expertAmount==''?0:data.rows[i].expertAmount;
				json.expertTaxAmount = data.rows[i].expertTaxAmount==''?0:data.rows[i].expertTaxAmount;
				json.expertRealAmount = data.rows[i].expertRealAmount==''?0:data.rows[i].expertRealAmount;
				array.push(JSON.stringify(json));
			}
			window.location.href='../editor/toSaveArticleFee?array=['+array+']';
		});
		$('#back').click(function(){
			history.go(-1);
		});
	});
</script>
<body>
	<div id="articleInfos"  style="margin-top:50px;">
		<table  id="editTable"  class="easyui-datagrid"   data-options="singleSelect:true">
			<thead>
				<tr>
					<th data-options="field:'articleId',width:0">1id</th>
					<th data-options="field:'authorPayeeId',width:0">2id</th>
					<th data-options="field:'expertPayeeId',width:0">3id</th>
					<th data-options="field:'periodicalCnName',width:120">期刊名称</th>
					<th data-options="field:'periodicalIssueNo',width:120">期刊号</th>
					<th data-options="field:'sectionName',width:100">栏目名称</th>
					<th data-options="field:'articleId',width:100">稿件编号</th>
					<th data-options="field:'articleCnTitle',width:100">标题</th>
					<th data-options="field:'authorName',width:60">作者</th>
					<th data-options="field:'authorAmount',width:80,editor:'numberbox'">作者应发金额</th>
					<th data-options="field:'authorTaxAmount',width:80,editor:'numberbox'">作者扣税</th>
					<th data-options="field:'authorRealAmount',width:80,editor:'numberbox'">作者实发金额</th>
					
					<th data-options="field:'expertName',width:60">专家</th>
					<th data-options="field:'expertAmount',width:80,editor:'numberbox'">专家应发金额</th>
					<th data-options="field:'expertTaxAmount',width:80,editor:'numberbox'">专家扣税</th>
					<th data-options="field:'expertRealAmount',width:80,editor:'numberbox'">专家实发金额</th>
					
				</tr>
			</thead>
			<tbody>
				#foreach($dtos in ${list}) 
				<tr>
					<td>$!{dtos.articleId}</td>
					<td>$!{dtos.authorPayeeId}</td>
					<td>$!{dtos.expertPayeeId}</td>
					<td>$!{dtos.periodicalCnName}</td>
					<td>$!{dtos.periodicalIssueNo}</td>
					<td>$!{dtos.sectionName}</td>
					<td>$!{dtos.articleId}</td>
					<td>$!{dtos.articleCnTitle}</td>
					<td>$!{dtos.authorName}</td>
					<td>$!{dtos.authorAmount}</td>
					<td>$!{dtos.authorTaxAmount}</td>
					<td>$!{dtos.authorRealAmount}</td>
					<td>$!{dtos.expertName}</td>
					<td>$!{dtos.expertAmount}</td>
					<td>$!{dtos.expertTaxAmount}</td>
					<td>$!{dtos.expertRealAmount}</td>
				</tr>
				#end
			</tbody>
		</table>
		<a id="back" class="easyui-linkbutton"  style="50px;">返回</a> 
		<a id="submit" class="easyui-linkbutton"  style="50px;">保存</a>
	</div>
</body>
</html>
