<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		});
	})
</script>
<body>
	<div id="articleInfos"  style="margin-left:300px;margin-top:50px;">
		<table style="border: 1px solid green;" rules="all">
			<tr>
				<td>作者姓名:</td>
				<td>${authorInfo.authorName}</td>
			</tr>
			<tr>
				<td>详细地址:</td>
				<td>$!{addressInfo.receiveAddress}</td>
			</tr>
			<tr>
				<td>邮政编码:</td>
				<td>$!{addressInfo.receivePostcode}</td>
			</tr>
		</table>
		<input type="button" value="返回"  id="back">
	</div>
</body>
</html>
