<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
<script type="text/javascript" src="../js/enums-combox.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		// 表格数据源  
        var data = [];  
        var rows = $('#table').datagrid('getRows');
        for(var i=0;i<rows.length;i++) {
        	 data.push({  
                 "articleId":rows[i].articleId,  
                 "cnTitle":rows[i].cnTitle,
                 "authorNames":rows[i].authorNames,  
                 "createTime":rows[i].createTime,
                 "expertNames":rows[i].expertNames,
                 "state":ArticleStateEnums(rows[i].state),
                 "option":rows[i].option
             }) ; 
		}
        $("#table").datagrid("loadData", data.slice(0, 5));
        var pager = $("#table").datagrid("getPager");  
        pager.pagination({  
            total:data.length, 
            pageSize:5,
            pageList: [5,10,15,20],
            onSelectPage:function (pageNo, pageSize) {  
                var start = (pageNo - 1) * pageSize;  
                var end = start + pageSize;  
                $("#table").datagrid("loadData", data.slice(start, end));  
                pager.pagination('refresh', {  
                    total:data.length,  
                    pageNumber:pageNo
                });  
            }  
        });  
        
        $('#submit').click(function(){
        	$('form').submit();
        });
        
         $('#state').combobox({
        	data:getArticleState()
        }); 
	});
	
</script>
<body>
	<div id="articleInfos">
		<form action="../editor/toQueryArticlePage">
			<table style="text-align:right;font-size:14px;">
				<tr>
					<td>稿件标题：</td>
					<td><input class="easyui-textbox" type="text" name="cnTitle" value=""></td>
					<td>作者：</td>
					<td><input class="easyui-textbox" type="text" name="authorNames" value=""></td>
					<td>稿件编号：</td>
					<td><input class="easyui-textbox" type="text" name="articleId" value=""></td>
					<td>审稿专家：</td>
					<td><input class="easyui-textbox" type="text" name="expertNames" value=""></td>
				</tr>
				<tr>
					<td>稿件状态：</td>
					<td><select name="state"  id="state" class="easyui-combobox"  editable="false" style="width:155px;">
						</select>
					</td>
					<td>稿件栏目：</td>
					<td><select name="section"   class="easyui-combobox"   style="width:155px;">
							<option value="" selected>全部</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select></td>
					<td>中文关键字：</td>
					<td><input type="text" class="easyui-textbox" name="cnKeywords" value=""></td>
					<td>投稿时间：</td>
					<td><input type="text"  class="easyui-textbox" name="createTime" value=""></td>
				</tr>			
				<tr>
					<td colspan="8"   style="text-align:left;"><a id="submit"  class="easyui-linkbutton"  style="width:50px;" href="#">查询</a></td>
				</tr>
			</table>		
		</form>
		<table  id="table"  class="easyui-datagrid"   data-options="singleSelect:true,toolbar:'#bt',pagination:true">
			<thead>
				<tr>
					<th data-options="field:'articleId',width:140">稿件编号</th>
					<th data-options="field:'cnTitle',width:400">标题</th>
					<th data-options="field:'authorNames',width:100">投稿作者</th>
					<th data-options="field:'createTime',width:100">投稿时间</th>
					<th data-options="field:'expertNames',width:100">审稿专家</th>
					<th data-options="field:'state',width:100">稿件状态</th>
					<th data-options="field:'option',width:100">操作</th>
				</tr>
			</thead>
			<tbody>
			#foreach($dtos in ${list})   
				<tr>
					<td>${dtos.articleId}</td>
					<td>${dtos.cnTitle}</td>
					<td>${dtos.authorNames}</td>
					<td>${dtos.createTime}</td>
					<td>${dtos.expertNames}</td>
					<td>${dtos.state}</td>
					<td>查看稿件</td>
##					<td>查看稿件 <input type="button" value="催促专家审稿"></td>
				</tr>
			#end
			</tbody>
		</table>
		<br>
	</div>
</body>
</html>
