<!DOCTYPE html>
<html>
<head>
<title>稿件登记页</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<form action="../author/toArticleQuery" method="POST">
		<div id="articleInfos">
			<a style="font-size: 20px; color: #0000CC;">稿件登记</a><br>
			
			<TABLE style="border: 1px solid black;" rules="all">
				<tr>
					<td colspan="6" rowspan="4">稿件信息</td>
				</tr>
				<tr>
					<td colspan="4">稿件编号:</td>
					<td colspan="2">稿件状态:</td>
				</tr>
				<tr>
					<td colspan="2">标题:</td>
					<td colspan="2">下载原稿</td>
					<td colspan="2">拟投栏目:</td>
				</tr>
				<tr>
					<td colspan="2">作者:</td>
					<td colspan="2">提交日期:</td>
					<td colspan="2">登记日期:</td>
				</tr>
				<tr>
					<td colspan="6">登记</td>
				</tr>
			</table>
			<br>
		</div>
	</form>
</body>
</html>
