<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<table style="border: 1px solid black;" rules="all">
			<tr>
				<td>稿件编号</td>
				<td>稿件标题</td>
				<td>稿件作者</td>
				<td>稿件状态</td>
				<td>操作</td>
			</tr>
			#foreach($obj in ${list})   
			<tr>
				<td>$!{obj.articleId}</td>
				<td>$!{obj.title}</a></td>
				<td>$!{obj.authorName}</td>
				<td>$!{obj.expertState}</td>
				<td><a href="../editor/toPublishPage?articleId=${obj.articleId}">待刊</a></td>
			</tr>
			#end
		</table>
		<br>
	</div>
</body>
</html>
