<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="../css/easyui.css" type="text/css" rel="stylesheet" />
    <link href="../css/icon.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
    $(function(){
        $('#back').click(function(){
            history.go(-1);
        });
        $("#download").click(function(){
            var periodicalId = $("#periodicalId").val();
            var periodicalIssueNo_id = $("#periodicalIssueNo_id").val();
            $.ajax({
                type:"post",
                url:"../editor/downloadAllPeriodical" ,
                dataType:"json",
                data:{periodicalId:periodicalId,periodicalIsNo:periodicalIssueNo_id},
                beforeSend:function(){},
                success:function(data){
                   alert(data.message);
                },
                complete:function(){

                },
                error:function(data){
                    alert(data.message);
                }

            })
        });
    })
</script>
<body>
<form id="sub2" action="" method="POST">
    <input type="hidden" name="periodicalIssueNo" id="periodicalIssueNo_id" value="${periodicalIssueNo}">
    <input type="hidden" name="periodicalId" id="periodicalId" value="${periodicalId}"> <br />
    <div >
        <div >
            <input type='button' value='返回' id='back' />
            &nbsp;
            <a href="../editor/downloadAllPeriodical?periodicalId=$!{periodicalId}&periodicalIsNo=$!{periodicalIssueNo}" class="easyui-linkbutton" data-options="width:120">稿件下载</a>
        </div>
        #foreach($item in ${sList})
            <div class='box'>
                <div>${item.sectionName}</div>
                <div class='sectionId' style="display:none;">${item.sectionId}</div>
                <table style="border:1px solid green;width:100%;font-size:14px;" rules="all" class='selectedTable'>
                    <tr>
                        <td width = "30%">稿件编号</td>
                        <td width = "70%">标题</td>
                    #foreach($it in ${item.list})
                        <tr class='selectAble'>
                            <td>
                                #if(!${it.articleId})
                                    $!{it.oriArticleId}
                                #else
                                    $!{it.articleId}
                                #end
                            </td>
                            <td><a href="../author/toArticleQueryDetailPageNew?articleId=$!{it.oriArticleId}">${it.article_cn_title}</a></td>
                        </tr>
                    #end
                </table>
            </div>
        #end
    </div>
</body>
</html>
