<!DOCTYPE html>
<html>
<head>
<title>送审稿件明细</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		});
	});
</script>
<body>
	<div>
		<table class="easyui-datagrid"   data-options="singleSelect:true">
			<thead>
				<tr>
					<th data-options="field:'name',width:200"></th>
					<th data-options="field:'value',width:800"></th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td>稿件状态:</td>
				<td>$!{respDto.editorState}</td>
			</tr>
			<tr>
				<td>稿件中文:</td>
				<td>$!{respDto.title}</td>
			</tr>
			<tr>
				<td>稿件英文标题:</td>
				<td>$!{respDto.enTitle}</td>
			</tr>
			<tr>
				<td>中国分类号</td>
				<td>$!{respDto.fNums}</td>
			</tr>
			<tr>
				<td>拟投栏目:</td>
				<td>$!{respDto.section}</td>
			</tr>
			<tr>
				<td>中文关键字:</td>
				<td>$!{respDto.cnKeywords}</td>
			</tr>
			<tr>
				<td>英文关键字:</td>
				<td>$!{respDto.enKeyWords}</td>
			</tr>
			<tr>
				<td>中文摘要:</td>
				<td>$!{respDto.cnSummary}</td>
			</tr>
			<tr>
				<td>英文摘要:</td>
				<td>$!{respDto.enSummary}</td>
			</tr>
			<!-- <tr>
				<td><label>
						<span class="right">下载原稿件:</span>
				</label></td>
				<td>$!{respDto.attachName} 下载  $!{respDto.attachPath}</td>
			</tr> -->
			</tbody>
		</table>
	</div>
	<div class="attr_con">
		<a class="easyui-linkbutton"  style="width:50px;" href="../editor/toSubmitPage?articleId=$!{respDto.articleId}">送审</a>
	</div>
</body>
</html>
