<!DOCTYPE html>
<html>
<head>
<title>编辑人员增加</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/validate.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		});
		$('#submit').click(function(){
			if ($("#editorName").val()=='') {
				alert('编辑姓名不能为空');
				return;
			}
			else if ($("#email").val()=='') {
				alert('email不能为空');
				return;
			}
			else if (emailCheck($("#email"))==false) {
				alert('请输入正确的email格式');
				return;
			}
			else {
				$('form').submit();
			}
		});
		$('#editorName').blur(function(){
			if ($("#editorName").val()=='') {
				alert('编辑姓名不能为空');
				return;
			}
			else {
				$.post('../editor/isEditorNameExsit',{name:$("#editorName").val()},function(data){
					if(data==true) {
						alert('编辑姓名【'+$("#editorName").val()+'】已存在');
						$("#editorName").val('');
						return;
					}
				})
			}
		});
		$('#email').blur(function(){
			if ($("#email").val()=='') {
				alert('email不能为空');
				return;
			}
			else {
				$.post('../editor/isUserNameExsit',{name:$("#email").val()},function(data){
					if(data==true) {
						alert('email【'+$("#email").val()+'】已存在');
						$("#email").val('');
						return;
					}
				})
			}
		});
	});
</script>
<body>
	<div id="articleInfos">
	<form action="../editor/toSaveEditorInfo" method="POST">
		<table>
			<tr>
				<td>编辑姓名：</td>
				<td><input id="editorName" type="text" name="editorName" value=""></td>
			</tr>
			<tr>
				<td>email：</td>
				<td><input id="email" type="text" name="email" value=""></td>
			</tr>
			<tr>
				<td>编辑类型：</td>
				<td><select name="roleId"   class="easyui-combobox"  editable="false" style="width:155px;">
					<option value="1006" selected>稿件编</option>
					<option value="1007">广告编</option>
					<option value="1008">发行编</option>
					<option value="1009">签发编</option>
				</select></td>
			</tr>
			<tr>
				<td colspan="4">
					<a  id="back"  class="easyui-linkbutton"  style="width:50px;" href="#">返回</a>
					<a  id="submit"  class="easyui-linkbutton"  style="width:50px;" href="#">增加</a>
				</td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>
