<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script>
	$(function(){
		
		//点击登记按钮提交
		$('#submit').click(function(){
			$('form').submit();
		});
		
		//点击下载按钮--始发(记录流水并返回刷新)
		$('.down').click(function(){
			window.location.href='../editor/toDownLoadArticle?isDown=true&articleId=${respDto.articleId}&editorDownload=${respDto.editorDownload}';
		});
		
		$('#back').click(function(){
			window.location.href='../editor/toNewArticlePage';
		});
		
		//返回刷新后根据带过来的值进行判断，决定走向
		if('${respDto.editorDownload}'=='Y') {
			$("#submit").removeAttr("disabled")
		}
		else {
			$("#submit").attr({"disabled":"disabled"});
		}
		
		if ('${isDown}'=='true') {
			$('#hid').click();
		}
		
		var data=$('#grid').datagrid('getData');
	    data.rows[1].value=ArticleStateEnums('$!{respDto.editorState}');
	    $("#grid").datagrid("loadData", data);
	});
	
	//真正的点击下载按钮(隐藏)
	function download (a1,a2,a3) {
		window.location.href='../editor/toDownLoadNewArticle?articleId='+a1+'&fileName='+a2+'&filePath='+a3;
	}
</script>
<body>
	<form action="../editor/toEnlistedModify" method="POST">
	<input type="hidden" name="articleId" value="${respDto.articleId}">
		<div id="articleInfos">
			<a style="font-size: 20px; color: #0000CC;">稿件登记</a><br>
			<table id="grid" class="easyui-datagrid"   data-options="singleSelect:true" >
			<thead>
				<tr>
					<th data-options="field:'name',width:200"></th>
					<th data-options="field:'value',width:800"></th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td>稿件编号:</td>
						<td>$!{respDto.articleId}</td>
					</tr>
					<tr>
						<td>稿件状态:</td>
						<td></td>
					</tr>
					<tr>
						<td>标题:</td>
						<td>$!{respDto.title}</td>
					</tr>
					<tr>
						<td>拟投栏目:</td>
						<td>$!{respDto.section}</td>
					</tr>
					<tr>
						<td>作者:</td>
						<td>$!{respDto.authorName}</td>
					</tr>
					<tr>
						<td>提交日期:</td>
						<td>$!{respDto.contriTime}</td>
					</tr>
					<tr>
						<td>登记日期:</td>
						<td></td>
					</tr>
					<tr>
						<td>原稿下载:</td>
						<td>$!{respDto.attachName} </td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
	</form>
	<input type="button" id="submit" value="登记">
	#set($d=$!{respDto.attachPath})
	<input type="button" id="back" value="返回">
	<input type="button" class="down" value="下载原稿">#set($d=$d.replace("\","\\"))
	<input type="button" onclick="download('${respDto.articleId}','$!{respDto.attachName}','$d')" value="隐藏" id="hid" style="display:none;">
</body>
</html>
