<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
	<form>
		<table>
			<tr>
				<td>专家姓名</td>
				<td><input type="text" name="editorName" value=""></td>
				<td>登录名</td>
				<td><input type="text" name="logonName" value=""></td>
				<td>专家类型</td>
				<td><select name="roleId">
					<option value="" selected>全部</option>
					<option value="1004">英文专家</option>
					<option value="1003">中文专家</option>
				</select></td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" value="查询"/></td>
				<td colspan="3"><a href="../editor/toExpertInfoAdd" >新增</a></td>
			</tr>
		</table>
	</form>
	
		<table style="border: 1px solid black;" rules="all">
			<tr>
				<td>专家姓名</td>
				<td>登录名</td>
				<td>emial</td>
				<td>角色</td>
				<!-- <td>操作</td> -->
			</tr>
			#foreach($list in ${list})   
			<tr>
				<!-- <td>$!{list.refId}</td> -->
				<td>$!{list.expertName}</td>
				<td>$!{list.logonName}</td>
				<td>$!{list.email}</td>
				<td>$!{list.roleId}</td>
				<!-- <td>编辑</td> -->
			</tr>
			#end
		</table>
		<br>
	</div>
</body>
</html>
