<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<table  class="easyui-datagrid"   data-options="singleSelect:true">
		<thead>
			<tr>
				<th data-options="field:'pId',width:200">期刊id</th>
				<th data-options="field:'pCnName',width:200">期刊名称</th>
				<th data-options="field:'pIsNo',width:200">期刊编号</th>
				<th data-options="field:'cNums',width:200">期数</th>
				<th data-options="field:'isTime',width:200">签发时间</th>
				<th data-options="field:'option',width:70">操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($dtos in ${list})   
			<tr>
				<td>$!{dtos.pId}</td>
				<td>$!{dtos.pCnName}</td>
				<td>$!{dtos.pIsNo}</td>
				<td>第$!{dtos.cNums}期</td>
				<td>$!{dtos.isTime}</td>
				<td><a href="../editor/toIssue?periodicalId=${dtos.pId}&periodicalIsNo=${dtos.pIsNo}">签发</a></td>
			</tr>
			#end
		</tbody>	
		</table>
		<br>
	</div>
</body>
</html>
