<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			window.location.href='../editor/toPeriodicalManagerPage';
		});
		$('#submit').click(function(){
			$('form').submit();
		});
		// 表格数据源  
        var data = [];  
        var rows = $('#table').datagrid('getRows');
        for(var i=0;i<rows.length;i++) {
        	 data.push({  
		 		 "id":rows[i].id,  
                 "periodicalCnName":rows[i].periodicalCnName,  
                 "sectionName":rows[i].sectionName,
                 "sectionSummary":rows[i].sectionSummary,  
                 "extend1":getGGType(rows[i].extend1),
                 "option":rows[i].option
             }) ; 
		}
        $("#table").datagrid("loadData", data.slice(0, 15));
	});
</script>
<body>
	<div id="articleInfos">
	<form action="../editor/toSectionInfoAdd" method="GET">
		<input type="hidden" name="periodicalId" value="${periodical.periodicalId}">
		<a  id="submit" class="easyui-linkbutton" >新增栏目</a>
		<a  id="back" class="easyui-linkbutton"  style="width:50px;">返回</a>
	</form>
	
		<table id="table" class="easyui-datagrid"   data-options="singleSelect:true,fitColumns:true" >
			<thead>
				<tr>
					<th data-options="field:'id',width:45">序号</th>
					<th data-options="field:'periodicalCnName',width:235">期刊名称</th>
					<th data-options="field:'sectionName',width:235">栏目名称</th>
					<th data-options="field:'extend1',width:235">栏目类别</th>
					<th data-options="field:'sectionSummary',width:450">栏目简介</th>
					<th data-options="field:'option',width:70">操作</th>
				</tr>
			</thead>
			<tbody>
			#foreach($dtos in ${list})   
				<tr>
					<td>$!{velocityCount}</td>
					<td>$!{periodical.periodicalCnName}</td>
					<td>$!{dtos.sectionName}</td>
					<td>$!{dtos.extend1}</td>
					<td>$!{dtos.sectionSummary}</td>
					<td><a class="easyui-linkbutton"  style="width:50px;" href="../editor/toDeleteSectionInfo?sectionId=$!{dtos.sectionId}&periodicalId=${periodical.periodicalId}">删除</a>
					</td>
				</tr>
			#end
			</tbody>
		</table>
		<br>
	</div>
</body>
</html>
