<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<style>
#left, #right {
	/* border: 1px solid green; */
	float: left;
	width: 40%;
	padding: 5px;
	margin: 5px;
}

#center {
	float: left;
	padding: 5px;
	margin: 5px;
}

.box {
	margin: 5px;
	padding: 5px;
}

.selected {
	border: 3px solid red;
}

.selectedTr {
	background-color: #349000;
}
</style>

</head>
<body>
<!-- ../editor/toSaveAdGroup -->
	<form id="sub2" action="" method="POST">
		<input type="hidden" name="periodicalIssueNo" value="${periodicalIssueNo}"> 
		<input type="hidden" name="periodicalId" value="${periodicalId}"> <br />
		<div id='left'>
			<table style="border:1px solid green;width:100%;font-size:14px;" rules="all" id='leftSelect' class='selectedTable'>
				<tr>
					<td>广告编号</td>
					<td>标题</td>
					<td>广告类型</td>
				</tr>
				#foreach($ad in ${list})
				<tr class='selectAble'>
					<td>${ad.adId}</td>
					<td>${ad.adName}</td>
					<td>${ad.adType}</td>
				</tr>
				#end
			</table>
		</div>
		<div id='center'>
			<INPUT TYPE="button" VALUE=">>" id='btnRight' /><br/> 
			<INPUT TYPE="button" VALUE="<<" id='btnLeft'/>
 		 </div>

	  <div id='right'>
	  #foreach($item in ${sList})
		<div class='box'>
	  <div>${item.sectionName}</div>
	  <div class='sectionId' style="display:none;">${item.sectionId}</div>
			<table style="border:1px solid green;width:100%;font-size:14px;" rules="all" class='selectedTable'>
				<tr>
					<td>广告编号</td>
					<td>广告标题</td>
					<td>广告类型</td>
				</tr>
				#foreach($it in ${item.list})
				<tr class='selectAble'>
					<td>${it.ad_id}</td>
					<td>${it.ad_name}</td>
					<td>${it.ad_type}</td>
				</tr>
				#end
			</table>   	 
		</div>
	  	#end
  </div>
  <input type='button' value='保存' id='btnPreSubmit' />
  <input type='button' value='提交' id='btnSubmit' />
    </form>  
  </body>  
<SCRIPT LANGUAGE="JavaScript">
$('.selectedTable tr').filter('.selectAble').click(function(){
	if($(this).hasClass('selectedTr')){
		$(this).removeClass('selectedTr');
	}else{
		$(this).addClass('selectedTr');
	}
});
$('.box').click(function(){
	$('.box').removeClass('selected');
	$(this).addClass('selected');
});

$('#btnRight').click(function(){
	$('.selected table').append($('#leftSelect .selectedTr'));
});

$('#btnLeft').click(function(){
	$('#leftSelect').append($('.selected table .selectedTr'));
});

$('#btnSubmit').click(function(){
	 if (confirm('提交后不可修改,请确认后提交!') == true) {
		var sections=[];
		var leftArray=[];
		$('#right .box').each(function(){
			var section={};
			section.data=[];
			section.id=$(this).find('.sectionId').html();
			$(this).find('.selectAble').each(function(){
				section.data.push($(this).find('td:first').html());
			});
			sections.push(section);
		});
		$('#leftSelect .selectAble').each(function(){
			leftArray.push($(this).find('td:first').html());
		});
	 	$.ajax({
			url:'../editor/toSaveAdGroup',
			data:{leftArray:leftArray.toString(),periodicalId:'${periodicalId}',periodicalIssueNo:'${periodicalIssueNo}',str:JSON.stringify(sections),type:'Y'},
			success:function(d){
				window.location.href='../editor/toAdGroupDetailPage?periodicalId=${periodicalId}';
			}
		});  
	 }
});


//保存按钮
$('#btnPreSubmit').click(function(){
		var sections=[];
		var leftArray=[];
		$('#right .box').each(function(){
			var section={};
			section.data=[];
			section.id=$(this).find('.sectionId').html();
			$(this).find('.selectAble').each(function(){
				section.data.push($(this).find('td:first').html());
			});
			sections.push(section);
		});
		$('#leftSelect .selectAble').each(function(){
			leftArray.push($(this).find('td:first').html());
		});
	 	$.ajax({
			url:'../editor/toSaveAdGroup',
			data:{leftArray:leftArray.toString(),periodicalId:'${periodicalId}',periodicalIssueNo:'${periodicalIssueNo}',str:JSON.stringify(sections),type:''},
			success:function(d){
				window.location.href='../editor/toAdGroupDetailPage?periodicalId=${periodicalId}';
			}
		});  
});
</SCRIPT>
</html>