<!DOCTYPE html>
<html>
<head>
<title>稿件送审页</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<form action="../editor/toSubmitState" method="POST">
		<input type="hidden"  name="userId" value="${userId}">
		<input type="hidden"  name="id" value="${articleInfo.id}">
		<div id="articleInfos">
			<a style="font-size: 20px; color: #0000CC;">稿件送审</a><br>
			
			<TABLE style="border: 1px solid black;" rules="all">
				<tr>
					<td colspan="6" rowspan="4">稿件信息</td>
				</tr>
				<tr>
					<td colspan="4">稿件编号:${articleInfo.articleId}<input type="hidden" name="articleId" value=" ${articleInfo.articleId}"></td>
					<td colspan="2">稿件状态:${articleInfo.state}<input type="hidden" name="state" value=" ${articleInfo.state}"></td>
				</tr>
				<tr>
					<td colspan="4">标题:${articleInfo.articleCnTitle}</td>
					<td colspan="2">拟投栏目:</td>
				</tr>
				<tr>
					<td colspan="3">专家:</td>
					<td><select name="expertId">
							<option value="6afcfa2791784e6595560d916a667e39">张三</option>
							<!-- <option value="lisi">李四</option> -->
						</select></td>
					<td colspan="2">送审日期:</td>
				</tr>
				<tr>
					<td colspan="6"><input type="submit" value="送审"></td>
				</tr>
			</table>
			<br>
		</div>
	</form>
</body>
</html>
