<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		})
	})
</script>
<body>
	<form action="../editor/toSaveCouncilInfoEdit" method="POST">
		<input type="hidden" name="id" value="${c.id}" >
		<table style="border: 1px solid green;margin-left:300px;margin-top:50px;" rules="all">
			<tr>
				<td colspan="2">单位名称</td>
				<td colspan="6"><input type="text" name="councilCompany" value="$!{c.councilCompany}"></td>
			</tr>
			<!-- <tr>
				<td colspan="2">会员类型</td>
				<td colspan="2"><select name="type">
						<option value="D">理事</option>
						<option value="SD">常务理事</option>
				</select></td>
				<td ROWSPAN="4" colspan="4">上传logo</td>
			</tr> -->
			<!-- <tr>
				<td colspan="2">成立时间</td>
				<td colspan="2"><input type="text" name="companySetupTime" value="${c.companySetupTime}"></td>
			</tr> -->
			<!-- <tr>
				<td colspan="2">员工人数</td>
				<td colspan="2"><input type="text" name="employeeNums" value="${c.employeeNums}"></td>
			</tr> -->
			<tr>
				<td colspan="2">邮政编码</td>
				<td colspan="2"><input type="text" name="postCode" value="$!{c.postCode}"></td>
			</tr>
			<!-- <tr>
				<td colspan="2">所在地区</td>
				<td colspan="2"><SELECT NAME="areaPro">
						<OPTION VALUE="dd" SELECTED>DD</OPTION>
						<OPTION VALUE="">
				</SELECT></td>
				<td colspan="4"><SELECT NAME="areaCity">
						<OPTION VALUE="hh" SELECTED>RD</OPTION>
						<OPTION VALUE="">
				</SELECT></td>
			</tr> -->
			<tr>
				<td colspan="2">详细地址</td>
				<td colspan="6"><input type="text" name="addressDetail" value="$!{c.addressDetail}"></td>
			</tr>
			<tr>
				<td colspan="2">法人代表</td>
				<td colspan="6"><input type="text" name="legalName" value="$!{c.legalName}"></td>
			</tr>
			<tr>
				<td colspan="2">法人联系电话</td>
				<td colspan="2"><input type="text" name="legalTelephone" value="$!{c.legalTelephone}"></td>
			</tr>
			<tr>
				<td colspan="2">职务</td>
				<td colspan="6"><input type="text" name="legalDuties" value="$!{c.legalDuties}"></td>
			</tr>
			<tr>
				<td colspan="2">联系人</td>
				<td colspan="6"><input type="text" name="contactName" value="$!{c.contactName}"></td>
			</tr>
			<tr>
				<td colspan="2">联系电话</td>
				<td colspan="6"><input type="text" name="contactTelephone" value="$!{c.contactTelephone}"></td>
			</tr>
			<tr>
				<td colspan="2">企业网址</td>
				<td colspan="6"><input type="text" name="website" value="$!{c.website}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="button"  value="返回"  id="back"/></td>
				<td colspan="6"><input type="submit" value="保存"></td>
			</tr>
		</table>
	</form>
</body>
</html>
