<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
  <style>
	#left,#right {
		border:1px solid #330033;
		float:left;
		width:30%;
		padding:5px;
		margin:5px;
	}
	#center {		
		float:left;
		padding:5px;
		margin:5px;
	}
.box{
margin:5px;
padding:5px;
}
.selected{
		border:3px solid red;
}
  </style>
   
</head>
 <body>  
    <form id="sub2" action="../editor/toArticleGroup" method="POST">  
    <input type="hidden" name="periodicalIssueNo" value="${periodicalIssueNo}">
    <input type="hidden" name="periodicalId" value="${periodicalId}">
    <input type="text" id="sectionA" name="sectionA" value="">
    <br/>
  
      <div id='left' >
	<SELECT id='leftSelect' size='10' style='width:100%' >
#foreach($articleQueryRespDto in ${list})   
				<option value="${articleQueryRespDto.articleInfo.articleId}">${articleQueryRespDto.articleInfo.articleCnTitle}</option>
			#end
	</SELECT>
  </div>


  <div id='center' >
	<INPUT TYPE="button" VALUE=">>" id='btnRight'/></br>
	<INPUT TYPE="button" VALUE="<<" id='btnLeft'/>
  </div>

	  <div id='right'>
		<div class='box'>
	  	<SELECT  size='10' style='width:100%'>
		</SELECT>
		</div>
		
		
		<div class='box'>
		<SELECT  size='10' style='width:100%' >
		</SELECT>
		</div>
  </div>
    </form>  
  </body>  
</html>
<SCRIPT LANGUAGE="JavaScript">
$('.box').click(function(){
	$('.box').removeClass('selected');
	$(this).addClass('selected');
});

$('#btnRight').click(function(){
	$('.selected select').append($('#leftSelect').find('option:selected'));
});

$('#btnLeft').click(function(){
	$('#leftSelect').append($('.selected select').find('option:selected'));
});
</SCRIPT>