<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<link href="../js/uploadify/default.css" type="text/css" rel="stylesheet" />
<link href="../js/uploadify/uploadify.css"  type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/uploadify/jquery.uploadify.js"></script>
</head>
<script>

</script>
<body>
	<div id="articleInfos">
		<form method="POST"  action="../editor/toSaveAdInfo" enctype="multipart/form-data"> 
			<input type="hidden" name="councilId" value="${c.councilId}">
			<table style="border: 1px solid green;" rules="all">
				<tr>
					<td>理事会名称:</td>
					<td>${c.councilCompany}</td>
				</tr>
				<tr>
					<td>广告名称：</td>
					<td><input type="text" name="adName" value=""></td>
				</tr>
				 <tr>
					<td>广告类型：</td>
					<td><select name="adType">
						<option value="XXGG">形象广告</option>
						<option value="SPGG">审批广告</option>
					</select></td>
				</tr>
				<tr>
					<td>刊登位置：</td>
					<td><select name="adInvestPosition">
						#foreach($dto in ${sectionInfos})
						<option value="${dto.sectionId}">${dto.sectionName}</option>
						#end
					</select></td>
				</tr>
				<tr>
					<td>广审号：</td>
					<td><input type="text" name="trialNo" value=""></td>
				</tr>
				<tr>
					<td>提交日期：</td>
					<td><input class="easyui-datebox" type="text" name="adSubmitTime" value="1"></td>
				</tr>
				<tr>
					<td>审核日期：</td>
					<td><input class="easyui-datebox" type="text" name="adAuditTime" value="1"></td>
				</tr>
				<tr>
					<td>审核意见：</td>
					<td><input type="text" name="adAuditOpinion" value=""></td>
				</tr>
				<tr>
					<td>上传广告：</td>
					<td><input name="file" type="file" /></td>
<!-- 					<a class="easyui-linkbutton"   href="javascript:$('#uploadify').uploadify('upload', '*');">文件上传</a>
 -->				</tr>
				<tr>
					<td>报批日期：</td>
					<td><input class="easyui-datebox" type="text" name="adRecordTime" value="1"></td>
				</tr>
				<tr>
					<td>联系人姓名：</td>
					<td><input type="text" name="adContactName" value=""></td>
				</tr>
				<tr>
					<td>联系人电话：</td>
					<td><input type="text" name="adContactPhone" value=""></td>
				</tr>
				<!-- <tr>
					<td>刊登费：</td>
					<td><input type="text" name="adFee" value=""></td>
				</tr> -->	
				<tr>
					<td><input type="button" value="返回"></td>
					<td><input type="submit" value="提交"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
