<!DOCTYPE html>
<html>
  <head>
    <title>工作区首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="css/easyui.css" type="text/css" rel="stylesheet"/>
    <link href="css/icon.css" type="text/css" rel="stylesheet"/>
 	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
  </head>
  <script type="text/javascript">
  		$(function(){
  			var kk = ${roleId};
  			alert(kk);
  		});
  </script>
  <style>
  		.top{height:116px;background-image:url("img/portal/u2.jpg");line-height:116px;padding-left:30px;}
  		.left{width:200px;height:540px;float:left;}
  		.right{width:1070px;height:540px;float:left;}
  		.buttom{height:540px;margin-top:1px;}
		.work_area{height:30px;background:#4DA20B;}
		.area_name{height:30px;margin-left:45px;margin-top:8px;}
		.mode_name{height:30px;background:#4DA20B;line-height:30px;text-align:center;color:#ffffff}
  		.cLeft{height:200px;width:180px;margin-left:auto;margin-right:auto;margin-top:10px;border-radius:5px;}
		.leftUp{height:60px;width:180px;margin-left:auto;margin-right:auto;border:1px solid #349000;border-radius:5px;}
		.li1,.li2,.li3{height:30px;line-height:30px;width:160px;margin-left:auto;margin-right:auto;text-align:center;}
		.li1{border-top:1px solid #349000;border-left:1px solid #349000;border-right:1px solid #349000;}
		.li2{border-top:1px solid #349000;border-left:1px solid #349000;border-right:1px solid #349000;}
		.li3{border:1px solid #349000;}
		a{text-decoration:none;color:#000000}
  </style>
  <body>
    <div class="top">
       	<a>欢迎访问《 农药科学与管理  》网站！</a>
		<a>退出系统</a>
    </div>
    <div class="buttom">
	    <div class="left">
	       <div class="leftUp">
	       		<div  class="work_area"></div>
	       		<div  class="area_name">工作区首页</div>
	       </div>
	       #if(${roleId}=='1006')
	       <div id="1006"  class="cLeft">
	       		<div  class="mode_name">稿件管理</div>
	       		<div>
	       			<div class="easyui-accordion" style="width:180px;height:200px;">
	       				<div title="稿件处理" data-options="iconCls:'icon-save',selected:true" style="overflow:auto;padding:10px;">   
					        <div  class="li1"><a  href="#">111</a></div>
					        <div  class="li2"><a  href="#">222</a></div>
					        <div  class="li3"><a  href="#">333</a></div>
					    </div>   
					    <div title="编辑加工" data-options="iconCls:'icon-reload'" style="padding:10px;">   
					         <div  class="li1"><a  href="#">111</a></div>
					         <div  class="li2"><a  href="#">222</a></div>
					         <div  class="li3"><a  href="#">333</a></div>
					    </div>   
					    <div title="稿件查询"  data-options="iconCls:'icon-reload'" style="padding:10px;">   
					          <div  class="li1"><a  href="#">111</a></div>
					          <div  class="li2"><a  href="#">222</a></div>
					          <div  class="li3"><a  href="#">333</a></div>
					    </div> 
	       			</div>
	       		</div>
	       </div>
	       #elseif(${roleId}=='1007')
	       <div id="1006"  class="cLeft">
	       		<div  class="mode_name">稿件22</div>
	       		<div>
	       			<div class="easyui-accordion" style="width:180px;height:200px;">
	       				<div title="稿件处理" data-options="iconCls:'icon-save',selected:true" style="overflow:auto;padding:10px;">   
					        <div  class="li1"><a  href="#">444</a></div>
					        <div  class="li2"><a  href="#">55</a></div>
					        <div  class="li3"><a  href="#">666</a></div>
					    </div>   
					    <div title="编辑加工" data-options="iconCls:'icon-reload'" style="padding:10px;">   
					         <div  class="li1"><a  href="#">44</a></div>
					         <div  class="li2"><a  href="#">33</a></div>
					         <div  class="li3"><a  href="#">222</a></div>
					    </div>   
					    <div title="稿件查询"  data-options="iconCls:'icon-reload'" style="padding:10px;">   
					          <div  class="li1"><a  href="#">111</a></div>
					          <div  class="li2"><a  href="#">222222</a></div>
					          <div  class="li3"><a  href="#">3333333</a></div>
					    </div> 
	       			</div>
	       		</div>
	       </div>
	       #end
	    </div>
	    <div class="right">
	       <div><iframe   width ="100%"   height = "540"  src= "editor_area - 副本.html" frameborder="no" marginwidth="0"
				marginheight="0" scrolling="no" allowtransparency="yes" ></iframe></div>
	    </div>
    </div>
  </body>
</html>
