<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="councileInfos">
		
		<form action="../editor/toCouncilManagerPage" method="POST">
			<table style="border: 1px solid black;" rules="all">
				<tr>
					<td>注册时间</td>
					<td><input type="text" name="registerTime" value=""></td>
					<td>会员类型</td>
					<td><select name="type">
						<option value="" selected>全部</option>
						<option value="D">理事</option>
					</select></td>
					<td>广告刊登</td>
					<td></td>
				</tr>
				<tr>
					<td>会员编号</td>
					<td><input type="text" name="councilId" value=""></td>
					<td>企业名称</td>
					<td><input type="text" name="councilCompanyName" value=""></td>
					<td>发票号</td>
					<td><input type="text" name="invoiceNo" value=""></td>
				</tr>
				<tr>
					<td colspan="3"><input type="submit" value="查询"></td>
					<td colspan="3"><a href="../editor/toCouncilInfoAdd">新增</a></td>
				</tr>
			</table>
		</form>
		
		<br>
		<br>
		<table style="border: 1px solid black;" rules="all">
			<tr>
				<td>会员编号</td>
				<td>企业名称</td>
				<td>会员类型</td>
				<td>合同日期</td>
				<td>金额</td>
				<td>发票号</td>
				<td>广告刊登</td>
				<td>操作</td>
			</tr>
			
			#foreach($dtos in ${list})   
			<tr>
				<td>${dtos.councilId}</td>
				<td>${dtos.councilCompanyName}</td>
				<td>${dtos.type}</td>
				<td>${dtos.contractEndTime}</td>
				<td>${dtos.amount}</td>
				<td>${dtos.invoiceNo}</td>
				<td>此处未做</td>
				<td><a href="../editor/toQrySingleCouncilInfo?councilId=${dtos.councilId}">编辑</a></td>
			</tr>
			#end
		</table>
	</div>
</body>
</html>
