    <!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-combox.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
<style>
#left, #right {
	/* border: 1px solid green; */
	float: left;
	width: 40%;
	padding: 5px;
	margin: 5px;
}

#center {
	float: left;
	padding: 5px;
	margin: 5px;
}

.box {
	margin: 5px;
	padding: 5px;
}

.selected {
	border: 3px solid red;
}

.selectedTr {
	background-color: #349000;
}
</style>

</head>
<body>
 <div>
	<form id="sub2" action="../editor/toArticleGroupDetailPage" method="POST">
		<input type="hidden" name="periodicalIssueNo" value="${periodicalIssueNo}"> 
		<input type="hidden" name="periodicalId" value="${periodicalId}">
        <table style="text-align:right;font-size:14px;">
            <tr>
                <td>稿件编号：</td>
                <td><input class="easyui-textbox" type="text" name="articleId" value="$!{articleId}"></td>
                <td>稿件标题：</td>
                <td><input class="easyui-textbox" type="text" name="title" value="$!{title}"></td>
            </tr>
            <tr>
                <td  style="text-align:left;" colspan =2><a id="search"  class="easyui-linkbutton"  style="width:50px;" href="#" >查询</a></td>
                <td><input type='button' value='保存' id='btnPreSubmit' /></td>
                <td><input type='button' value='提交' id='btnSubmit' /></td>
            </tr>
        </table>
		<div id='left'>
			<table style="border:1px solid green;width:100%;font-size:14px;" id='leftSelect' rules="all" class='selectedTable'>
				<tr>
					<td width = "30%">稿件编号</td>
					<td width = "70%">标题</td>
				</tr>
				#foreach($articleQueryRespDto in ${list})
				<tr class='selectAble'>
					<td>${articleQueryRespDto.articleInfo.articleId}</td>
					<td>${articleQueryRespDto.articleInfo.articleCnTitle}</td>
				</tr>
				#end
			</table>
		</div>
		<div id='center'>
			<INPUT TYPE="button" VALUE=">>" id='btnRight' /><br/> 
			<INPUT TYPE="button" VALUE="<<" id='btnLeft'/>
 		 </div>

	  <div id='right'>
	  #foreach($item in ${sList})
		<div class='box'>
	  <div>${item.sectionName}</div>
	  <div class='sectionId' style="display:none;">${item.sectionId}</div>
			<table style="border:1px solid green;width:100%;font-size:14px;" rules="all" class='selectedTable'>
				<tr>
					<td width = "30%">稿件编号</td>
					<td width = "70%">标题</td>
				</tr>
				#foreach($it in ${item.list})
				<tr class='selectAble'>
					<td>${it.article_id}</td>
					<td>${it.article_cn_title}</td>
				</tr>
				#end
			</table>   	 
		</div>
	  	#end
  </div>
  
  
  
  
  
    </form>  
  </body>  
<SCRIPT LANGUAGE="JavaScript">
$('.selectedTable tr').filter('.selectAble').click(function(){
	if($(this).hasClass('selectedTr')){
		$(this).removeClass('selectedTr');
	}else{
		$(this).addClass('selectedTr');
	}
});
$('.box').click(function(){
	$('.box').removeClass('selected');
	$(this).addClass('selected');
});

$('#btnRight').click(function(){
	$('.selected table').append($('#leftSelect .selectedTr'));
});

$('#btnLeft').click(function(){
	$('#leftSelect').append($('.selected table .selectedTr'));
});
//确认保存!不可修改
$('#btnSubmit').click(function(){
	 if (confirm('提交后不可修改,请确认后提交!') == true) {
		var sections=[];
		var leftArray=[];
		$('#right .box').each(function(){
			var section={};
			section.data=[];
			section.id=$(this).find('.sectionId').html();
			$(this).find('.selectAble').each(function(){
				section.data.push($(this).find('td:first').html());
			});
			sections.push(section);
		});
		$('#leftSelect .selectAble').each(function(){
			leftArray.push($(this).find('td:first').html());
		});
	 	$.ajax({
			url:'../editor/toArticleGroup',
			data:{leftArray:leftArray.toString(),periodicalId:'${periodicalId}',periodicalIssueNo:'${periodicalIssueNo}',str:JSON.stringify(sections),type:'Y'},
			success:function(d){
				window.location.href='../editor/toGroupPage?periodicalId=${periodicalId}';
			}
		});  
	 }
});

//保存按钮 临时保存
$('#btnPreSubmit').click(function(){
		var sections=[];
		var leftArray=[];
		$('#right .box').each(function(){
			var section={};
			section.data=[];
			section.id=$(this).find('.sectionId').html();
			$(this).find('.selectAble').each(function(){
				section.data.push($(this).find('td:first').html());
			});
			sections.push(section);
		});
		$('#leftSelect .selectAble').each(function(){
			leftArray.push($(this).find('td:first').html());
		});
	 	$.ajax({
			url:'../editor/toArticleGroup',
			data:{leftArray:leftArray.toString(),periodicalId:'${periodicalId}',periodicalIssueNo:'${periodicalIssueNo}',str:JSON.stringify(sections),type:''},
			success:function(d){
				window.location.href='../editor/toGroupPage?periodicalId=${periodicalId}';
			}
		});  
});
$('#search').click(function(){
    if(confirm("查询前请先保存已经组刊文章")){
        $("#sub2").submit();
    }
});
</SCRIPT>
</html>