<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="councileInfos">
		
		<form action="../editor/toCouncilManagerPage" method="POST">
			<input type="hidden" name="reqDto.userId" value=${userId}>
			<table style="border: 1px solid black;" rules="all">
				<tr>
					<td colspan="6">理事会会员</td>
				</tr>
				<tr>
					<td>注册时间</td>
					<td><input type="text" name="reqDto.registeredTime" value=""></td>
					<td>会员类型</td>
					<td><input type="text" name="reqDto.councilType" value=""></td>
					<td>广告刊登</td>
					<td><input type="text" name="reqDto.adTimes" value=""></td>
				</tr>
				<tr>
					<td>会员编号</td>
					<td><input type="text" name="reqDto.councilId" value=""></td>
					<td>企业名称</td>
					<td><input type="text" name="councilName" value=""></td>
					<td>发票号</td>
					<td><input type="text" name="reqDto.invoiceNo" value=""></td>
				</tr>
				<tr>
					<td colspan="3"><input type="submit" value="查询"></td>
					<td colspan="3"><a href="toCouncilInfoAdd">新增</a></td>
				</tr>
			</table>
		</form>
		
		<br>
		<br>
		<table style="border: 1px solid black;" rules="all">
			<tr>
				<td>会员编号</td>
				<td>企业名称</td>
				<td>会员类型</td>
				<td>合同日期</td>
				<td>金额</td>
				<td>发票号</td>
				<td>广告刊登</td>
				<td>操作</td>
			</tr>
			
			#foreach($councilInfo in ${councilInfos})   
			<tr>
				<td>${councilInfo.councilId}</td>
				<td>${councilInfo.councilName}</td>
				<td>${councilInfo.councilId}</td>
				<td>${councilInfo.councilId}</td>
				<td>${councilInfo.councilId}</td>
				<td>${councilInfo.councilId}</td>
				<td>${councilInfo.councilId}</td>
				<td>${councilInfo.councilId}</td>
			</tr>
			#end
		</table>
	</div>
</body>
</html>
