<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="css/easyui.css" type="text/css" rel="stylesheet" />
<link href="css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/enums-table.js"></script>

</head>
<script type="text/javascript">
	$(function() {
		$('.area_name').click(function() {
			$('#other').hide();
			$('#area').show();
		});
		var data=$('#grid').datagrid('getData');
		for(var i=0;i<data.rows.length;i++){
			 data.rows[i].status=ArticleStateEnums(data.rows[i].status);
		}
		$("#grid").datagrid("loadData", data);
	    
		$('#xingao')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toNewArticlePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#yidengji')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toEnlistedArticlePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#fanxiu')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toRepaireArticlePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#tuigao')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toReturnedArticlePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#daikan')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toPublishArticlePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#paikanzugao')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toArticleGroupPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#chaxungaojian')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toQueryArticlePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		//<!--广告编辑 start-->
		$('#huiyuanguanli')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toCouncilManagerPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#adguanli')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toAdManagerPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		//<!--广告编辑 end-->
		//<!-- 发行编辑 start-->
		$('#gaojiantongji')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toArtilceStatisticsPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#faxingtongji')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toSubscribeStatisticsPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#caiwutongji')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toFinanceStatisticsPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#lishihuiad')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toAdStatisticsPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#dingdanguanli')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toSubOrderManagePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#qikanyouji')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toSubscribePostPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		//<!-- 发行编辑 end-->
		//<!-- 签发人 start-->
		$('#qianfa')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toIssueManagerPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		//<!-- 签发人 end-->

		//<!-- 主编 start-->
		$('#bianjiguanli')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toEditorManagerPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#zhuangjiaguanli')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toExpertManagerPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#qikanguanli')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toPeriodicalManagerPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#adzukan')
		.click(
				function() {
					$('#area').hide();
					$('#other').remove();
					$('.right')
							.append(
									'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/toAdGroupPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
				});
		//<!-- 主编 end-->

		$('#other').hide();
	});
	
	function excute (url) {
		$('#area').hide();
		$('#other').remove();
		$('.right')
				.append(
						'<div id="other"><iframe  width ="100%"   height = "530" src= "editor/'+url+'"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
	}
</script>
<style>
.top {
	height: 116px;
	background-image: url("img/portal/u2.jpg");
	line-height: 116px;
	padding-left: 30px;
}

.left {
	width: 200px;
	height: 540px;
	float: left;
}

.right {
	width: 1070px;
	height: 540px;
	float: left;
}

.buttom {
	height: 540px;
	margin-top: 1px;
}

.work_area {
	height: 30px;
	background: #4DA20B;
}

.area_name {
	height: 30px;
	margin-left: 45px;
	margin-top: 8px;
	cursor:pointer;
}

.mode_name {
	height: 30px;
	background: #4DA20B;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
}

.cLeft {
	height: 200px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 5px;
}

.leftUp {
	height: 60px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #349000;
	border-radius: 5px;
}

.li1, .li2, .li3, .li4, .li5, .li6, .li7, .li8, .li9, .li10, .li11,
	.li12, .li13, .li14, .li15, .li16, .li17, .li18 {
	height: 30px;
	line-height: 30px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor:pointer;
}

.li1, .li2, .li3, .li4, .li10, .li11, .li12, .li14, .li17 {
	border-top: 1px solid #349000;
	border-left: 1px solid #349000;
	border-right: 1px solid #349000;
}

.li5, .li6, .li7, .li8, .li9, .li13, .li15, .li16, .li18 {
	border: 1px solid #349000;
}

a {
	text-decoration: none;
	color: #000000
}
</style>
<body style="margin:0px;">
	<div class="top">
		<a>欢迎访问《 农药科学与管理 》网站！</a> <a href="logout"
			style='text-decoration: none;'>退出系统</a>
	</div>
	<div class="buttom">
		<div class="left">
			#if(${userInfo.roleId}=='1006')
			<div class="leftUp">
				<div class="work_area"></div>
				<div class="area_name">工作区首页</div>
			</div>
			<div id="1006" class="cLeft">
				<div class="mode_name">稿件管理</div>
				<div style="overflow: auto; padding: 10px;">
					<div class="li1" id="xingao">新稿</div>
					<div class="li2" id="yidengji">已登记</div>
					<div class="li3" id="fanxiu">返修</div>
					<div class="li4" id="tuigao">退稿</div>
					<div class="li5" id="daikan">待刊</div>
				</div>
				<div class="mode_name">排刊组稿</div>
				<div style="padding: 10px;">
					<div class="li6" id="paikanzugao">排刊组稿</div>
				</div>
				<div class="mode_name">稿件查询</div>
				<div style="padding: 10px;">
					<div class="li7" id="chaxungaojian">稿件查询</div>
				</div>
			</div>
			#elseif(${userInfo.roleId}=='1007')
			<div id="1007" class="cLeft">
				<div class="mode_name">理事会管理</div>
				<div style="overflow: auto; padding: 10px;">
					<div class="li8" id="huiyuanguanli">会员管理</div>
				</div>
				<div class="mode_name">广告管理</div>
				<div style="padding: 10px;">
					<div class="li17" id="adguanli">广告管理</div>
					<div class="li18" id="adzukan">广告组刊</div>
				</div>
			</div>
			#elseif(${userInfo.roleId}=='1008')
			<div id="1008" class="cLeft">
				<div class="mode_name">期刊管理</div>
				<div style="padding: 10px;">
					<div class="li14" id="dingdanguanli">订单管理</div>
					<div class="li15" id="qikanyouji">期刊邮寄</div>
				</div>
			</div>
			#elseif(${userInfo.roleId}=='1009')
			<div id="1009" class="cLeft">
				<div class="mode_name">发行管理</div>
				<div style="overflow: auto; padding: 10px;">
					<div class="li16" id="qianfa">签发</div>
				</div>
			</div>
			#elseif(${userInfo.roleId}=='1005')
			<div id="1009" class="cLeft">
				<!-- <div class="mode_name">信息统计</div>
				<div style="overflow: auto; padding: 10px;">
					<div class="li10" id="gaojiantongji">稿件统计</div>
					<div class="li11" id="faxingtongji">发行统计</div>
					<div class="li12" id="caiwutongji">财务统计</div>
					<div class="li13" id="lishihuiad">理事会与广告</div>
				</div> -->
				<div class="mode_name">人员管理</div>
				<div style="overflow: auto; padding: 10px;">
					<div class="li17" id="bianjiguanli">编辑管理</div>
					<div class="li18" id="zhuangjiaguanli">专家管理</div>
				</div>
				<!-- <div class="mode_name">稿件查询</div>
				<div style="overflow: auto; padding: 10px;">
					<div class="li18" id="">稿件查询</div>
				</div> -->
				<div class="mode_name">期刊管理</div>
				<div style="overflow: auto; padding: 10px;">
					<div class="li18" id="qikanguanli">添加期刊</div>
				</div>
			</div>
			#end
		</div>
		<div class="right">
			<div id="area" style="margin-top: 20px;">
			#if(${userInfo.roleId}=='1006')
				<a style="margin-left: 400px; font-size: 20px;">工作任务一览</a><br>
				<br>
				<table id="grid" class="easyui-datagrid"   data-options="singleSelect:true">
				<thead>
					<tr>
						<th data-options="field:'status',width:200">稿件</th>
						<th data-options="field:'total',width:200">总数</th>
						<th data-options="field:'option',width:200">操作</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr>
							<td>$!{editorAreaInfos.status}</td>
							<td>$!{editorAreaInfos.total}</td>
						</tr> -->
					#foreach($editorAreaInfos in ${list})
					<tr>
						<td>$!{editorAreaInfos.status}</td>
						<td>$!{editorAreaInfos.total}</td>
						#if($!{editorAreaInfos.status}=='0000')
						<td><a onclick="excute('toNewArticlePage')" href="#" class="easyui-linkbutton" >进行处理</a></td>
						#elseif($!{editorAreaInfos.status}=='0001')
						<td><a onclick="excute('toEnlistedArticlePage')" href="#" class="easyui-linkbutton" >进行处理</a></td>
						#elseif($!{editorAreaInfos.status}=='0003')
						<td><a onclick="excute('toPublishArticlePage')" href="#" class="easyui-linkbutton" >进行处理</a></td>
						#elseif($!{editorAreaInfos.status}=='0007')
						<td><a onclick="excute('toReturnedArticlePage')" href="#" class="easyui-linkbutton" >进行处理</a></td>
						#elseif($!{editorAreaInfos.status}=='0006')
						<td><a onclick="excute('toRepaireArticlePage')" href="#" class="easyui-linkbutton" >进行处理</a></td> 
						#else
						<td>what?</td> #end
					</tr>
					#end
					</tbody>
				</table>				
				#end
			</div>
		</div>
	</div>
</body>
</html>
