<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<form method="POST"  action="../editor/toSaveAdInfo">
			<input type="hidden" name="councilId" value="${c.councilId}">
			<table style="border: 1px solid green;" rules="all">
				<tr>
					<td>理事会名称:</td>
					<td>${c.councilCompany}</td>
				</tr>
				<tr>
					<td>广告名称：</td>
					<td><input type="text" name="adName" value=""></td>
				</tr>
				<!-- <tr>
					<td>广告类型：</td>
					<td><select name="adType">
						<option value="000">形象广告</option>
					</select></td>
				</tr>
				<tr>
					<td>刊登位置：</td>
					<td><select name="adInvestPosition">
						<option value="000">封面</option>
					</select></td>
				</tr> -->
				<tr>
					<td>广审号：</td>
					<td><input type="text" name="trialNo" value=""></td>
				</tr>
				<!-- <tr>
					<td>提交日期：</td>
					<td><input type="text" name="adSubmitTime" value=""></td>
				</tr>
				<tr>
					<td>审核日期：</td>
					<td><input type="text" name="adAuditTime" value=""></td>
				</tr> -->
				<tr>
					<td>审核意见：</td>
					<td><input type="text" name="adAuditOpinion" value=""></td>
				</tr>
				<tr>
					<td>广告附件名称：</td>
					<td><input type="text" name="adAttachmentName" value=""></td>
				</tr>
				<tr>
					<td>广告附件路径：</td>
					<td><input type="text" name="adAttachmentPath" value=""></td>
				</tr>
				<tr>
					<td>报批日期：</td>
					<td><input type="text" name="adRecordTime" value=""></td>
				</tr>
				<tr>
					<td>联系人姓名：</td>
					<td><input type="text" name="adContactName" value=""></td>
				</tr>
				<tr>
					<td>联系人电话：</td>
					<td><input type="text" name="adContactPhone" value=""></td>
				</tr>
				<tr>
					<td>刊登费：</td>
					<td><input type="text" name="adFee" value=""></td>
				</tr>
				<tr>
					<td><input type="button" value="返回"></td>
					<td><input type="submit" value="提交"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
