<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="../css/easyui.css" type="text/css" rel="stylesheet" />
    <link href="../css/icon.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../js/enums-table.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#fanhui').click(function(){
                history.go(-1);
            });
        })
    </script>
</head>
<body>
<!-- ../editor/toSaveAdGroup -->
<form id="sub2" action="" method="POST">
    <input type="hidden" name="periodicalIssueNo" value="${periodicalIssueNo}">
    <input type="hidden" name="periodicalId" value="${periodicalId}"> <br />

        <input type="button" id="fanhui" value="返回">
        &nbsp;
        <a href="../editor/downloadAllGuanGao?periodicalId=${periodicalId}&periodicalIsNo=${periodicalIssueNo}" class="easyui-linkbutton" data-options="width:120">广告下载</a>
        #foreach($item in ${sList})
            <div class='box'>
                <div>$!{item.sectionName}</div>
                <div class='sectionId' style="display:none;">$!{item.sectionId}</div>
                <table style="border:1px solid green;width:100%;font-size:14px;" rules="all" class='selectedTable'>
                    <tr>
                        <td width= "20%">广告编号</td>
                        <td width= "70%">广告标题</td>
                        <td width= "10%">广告类型</td>
                    </tr>
                    #foreach($it in ${item.listAd})
                        <tr class='selectAble'>
                            <td width= "20%">$!{it.ad_id}</td>
                            <td width= "70%">$!{it.ad_name}</td>
                            <td width= "10%">$!{it.ad_type}</td>
                        </tr>
                    #end
                </table>
            </div>
        #end
</form>
</body>
<SCRIPT LANGUAGE="JavaScript">

</SCRIPT>
</html>