<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		})
		
		$("input[name='periodicalCnName']").blur(function(){
			if ($("input[name='periodicalCnName']").val()=='') {
				alert('期刊名称不能为空');
				return;
			}
			else {
				$.post('../editor/isPerNameExsit',{name:$("input[name='periodicalCnName']").val()},function(data){
					if(data==true) {
						alert('期刊名称【'+$("input[name='periodicalCnName']").val()+'】已存在');
						$("input[name='periodicalCnName']").val('');
						return;
					}
				})
			}
		})
		
		$('#submit').click(function(){
			if ($("input[name='periodicalCnName']").val()=='') {
				alert('期刊名称不能为空');
				return;
			}
			else if ($("input[name='hostOrganization']").val()=='') {
				alert('期刊主办单位不能为空');
				return;
			}
			else if ($("input[name='press']").val()=='') {
				alert('编辑出版社不能为空');
				return;
			}
			else if ($("input[name='inFixPrice']").val()=='') {
				alert('单价不能为空');
				return;
			}
			else if ($("input[name='issnNo']").val()=='') {
				alert('期刊号不能为空');
				return;
			}
			else if ($("input[name='cycle']").val()=='') {
				alert('周期不能为空');
				return;
			}
			else if ($("input[name='payeeAccountNo']").val()=='') {
				alert('收款账户不能为空');
				return;
			}
			else if ($("input[name='payeeAccountName']").val()=='') {
				alert('收款姓名不能为空');
				return;
			}
			else if ($("input[name='payeeAccountOpen']").val()=='') {
				alert('开户行不能为空');
				return;
			}
			else if ($("input[name='payeeAccountAddress']").val()=='') {
				alert('邮局汇款收款单位地址不能为空');
				return;
			}
			else if ($("input[name='payeeAccountPost']").val()=='') {
				alert('邮局汇款收款单位不能为空');
				return;
			}
			else if ($("input[name='payeeAccountPostCode']").val()=='') {
				alert('汇款邮编不能为空');
				return;
			}
			else if ($("input[name='payeeIdcardNo']").val()=='') {
				alert('收款人卡号不能为空');
				return;
			}
			else {
				$('form').submit();
			}
		})
	})
</script>
<body>
	<div id="articleInfos">
	<form action="../editor/toSavePeriodicalInfo" method="POST">
		<table  style="border:1px solid green;margin-left:300px;margin-top:50px;" rules="all">
			<tr>
				<td>期刊名称</td>
				<td colspan="3"><input type="text" name="periodicalCnName" value=""/></td>
			</tr>
			<tr>
				<td>期刊主办单位</td>
				<td colspan="3"><input type="text" name="hostOrganization" value=""/></td>
			</tr>
			<tr>
				<td>主编</td>
				<td colspan="3"><input type="text" name="extend1" value=""/></td>
			</tr>
			<tr>
				<td>编辑出版社</td>
				<td colspan="3"><input type="text" name="press" value=""/></td>
			</tr>
			<tr>
				<td>地址</td>
				<td colspan="3"><input type="text" name="usedTitles" value=""/></td>
			</tr>
			<tr>
				<td>邮政编码</td>
				<td colspan="3"><input type="text" name="extend1" value=""/></td>
			</tr>
			<tr>
				<td>电话</td>
				<td colspan="3"><input type="text" name="extend3" value=""/></td>
			</tr>
			<tr>
				<td>电子邮件</td>
				<td colspan="3"><input type="text" name="extend4" value=""/></td>
			</tr>
			<tr>
				<td>国内统一刊号</td>
				<td colspan="3"><input type="text" name="cnNo" value=""/></td>
			</tr>
			<tr>
				<td>国际标准刊号</td>
				<td colspan="3"><input type="text" name="issnNo" value=""/></td>
			</tr>
			<tr>
				<td>国内定价</td>
				<td colspan="3"><input type="text" name="inFixPrice" value=""/></td>
			</tr>
			<tr>
				<td>国际定价</td>
				<td colspan="3"><input type="text" name="outFixPrice" value=""/></td>
			</tr>
			<tr>
				<td>期刊号</td>
				<td colspan="3"><input type="text" name="issnNo" value=""/></td>
			</tr>
			<tr>
				<td>周期</td>
				<td colspan="3"><input type="text" name="cycle" value=""/></td>
			</tr>
			<tr>
				<td>收款账户</td>
				<td colspan="3"><input type="text" name="payeeAccountNo" value=""/></td>
			</tr>
			<tr>
				<td>收款姓名</td>
				<td colspan="3"><input type="text" name="payeeAccountName" value=""/></td>
			</tr>
			<tr>
				<td>开户行</td>
				<td colspan="3"><input type="text" name="payeeAccountOpen" value=""/></td>
			</tr>
			<tr>
				<td>邮局汇款收款单位地址</td>
				<td colspan="3"><input type="text" name="payeeAccountAddress" value=""/></td>
			</tr>
			<tr>
				<td>邮局汇款收款单位</td>
				<td colspan="3"><input type="text" name="payeeAccountPost" value=""/></td>
			</tr>
			<tr>
				<td>汇款邮编</td>
				<td colspan="3"><input type="text" name="payeeAccountPostCode" value=""/></td>
			</tr>
			<tr>
				<td>收款人卡号</td>
				<td colspan="3"><input type="text" name="payeeIdcardNo" value=""/></td>
			</tr>
		</table>
	</form>
		<div style="margin-left:300px;">
		<input type="button"  value="返回"  id="back"/>
		<input type="button" id="submit" value="增加"/>
		</div>
	</div>
</body>
</html>
