<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<form action="" method="POST">
		<table class="easyui-datagrid"   data-options="singleSelect:true">
			<thead>
				<tr>
					<th data-options="field:'periodicalCnName',width:200">期刊名称</th>
					<th data-options="field:'periodicalIssueNo',width:200">期刊编号</th>
					<th data-options="field:'periodicalYear',width:100">发行年份</th>
					<th data-options="field:'cycleNums',width:100">发行期</th>
					<th data-options="field:'time',width:200">签发时间</th>
					<th data-options="field:'periodicalState',width:100">状态</th>
					<th data-options="field:'option',width:165">操作</th>
				</tr>
			</thead>
			<tbody>
			#foreach($periodical in ${list})   
			<tr>
				<td>${p.periodicalCnName}</td>
				<td>${periodical.periodicalIssueNo}</td>
				<td>${periodical.periodicalYear}</td>
				<td>${periodical.cycleNums}</td>
				<td>${periodical.cycleNums}</td>
				<td>${periodical.periodicalState}</td>
				#if(${periodical.periodicalState}=='APD')
				<td><a class="easyui-linkbutton" href="../editor/toAdGroupInfosPage?periodicalIssueNo=${periodical.periodicalIssueNo}&periodicalId=${periodical.periodicalId}">刊登广告</a></td>
				#elseif(${periodical.periodicalState}=='ADPO')
				<td>期刊已制作完成</td>
				#else
				<td>组稿中..</td>
				#end
			</tr>
			#end
			</tbody>
		</table>
		<br>
		</form>
	</div>
</body>
</html>
