<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-combox.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script>

	$(function(){
		$('#submit').click(function(){
			$('#table').datagrid({queryParams:getUrl()});
		});
			
		$('#table').datagrid({
			url:'../editor/toAdManagerPageSet',
			queryParams:getUrl(),
			pageSize:10,
			pageList: [10,15,20],
			onLoadSuccess:function(){
				var rows = $('#table').datagrid('getRows');
		        for(var i=0;i<rows.length;i++) { 
		        	rows[i].adType=getAdsType(rows[i].adType);
		        	$('#table').datagrid('refreshRow',i);
				}
			}
		});


        /**
         * 广告类型下拉框
         */
        $('#adType').combobox({
        	data:getAdType(),
        	editable:false
        });
        /**
         * 理事会类型下拉框
         */
        $('#councilType').combobox({
        	data:getCouncilType(),
        	editable:false
        });
        
        
        function getUrl() {
        	var url = {
        			'adName':$('input[name="adName"]').val(),
        			'councilName':$('input[name="councilName"]').val(),
        			'councilType':$('#councilType').combobox('getValue'),
        			'adType':$('#adType').combobox('getValue'),
        			'trialNo':$('input[name="trialNo"]').val(),
        			'contractStartTime':$('input[name="contractStartTime"]').val(),
        			'contractEndTime':$('input[name="contractEndTime"]').val()
        			};
        	return url;
        }
	});

</script>
<body>
	<div id="articleInfos">
		<form action="../editor/toAdManagerPage" method="POST">
			<table>
				<tr>
					<td>广告名称：</td>
					<td><input class="easyui-textbox" type="text" name="adName" value=""></td>
					<td>理事会名称：</td>
					<td><input class="easyui-textbox" type="text" name="councilName" value=""></td>
					<td>理事会类型：</td>
					<td><select id="councilType" data-options="panelHeight:'auto'" name="councilType"  class="easyui-combobox"  style="width:155px;">
					</select></td>
				</tr>
				<tr>
					<td>广告类型：</td>
					<td><select id="adType" name="adType"  data-options="panelHeight:'auto'" class="easyui-combobox"  style="width:155px;">
					</select></td>
					<td>广审号：</td>
					<td><input class="easyui-textbox" type="text" name="trialNo" value=""></td>
				</tr>
				<tr>
					<td>合同开始时间：</td>
					<td ><input class="easyui-datebox" type="text" name="contractStartTime" value="2015-01-01"></td>
					<td>合同结束时间：</td>
					<td><input class="easyui-datebox" type="text" name="contractEndTime" value="1"></td>
				</tr>
				<tr>
					<td colspan="6">
						<a  class="easyui-linkbutton"   style="width:50px;" href="#"  id="submit">查询</a>
					</td>
				</tr>
			</table>
		</form>
		<table   id="table"  class="easyui-datagrid"   data-options="fitColumns:true,singleSelect:true,toolbar:'#bt',pagination:true">
			<thead>
				<tr>
					<th data-options="field:'councilName',width:200">理事会名称</th>
					<th data-options="field:'adName',width:200">广告名称</th>
					<th data-options="field:'trialNo',width:100">广审号</th>
					<th data-options="field:'adType',width:100">广告类型</th>
					<th data-options="field:'createTime',width:100">注册时间</th>
					<th data-options="field:'startTime',width:100">合同开始时间</th>
					<th data-options="field:'endTime',width:100">合同结束时间</th>
					<!-- <th data-options="field:'option',width:100">操作</th> -->
				</tr>
			</thead>
		</table>
		<br>
	</div>
</body>
</html>
