<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		// 表格数据源  
        var data = [];  
        var rows = $('#table').datagrid('getRows');
        for(var i=0;i<rows.length;i++) {
        	 data.push({  
		 		 "periodicalCnName":rows[i].periodicalCnName,  
                 "periodicalIssueNo":rows[i].periodicalIssueNo,  
                 "periodicalYear":rows[i].periodicalYear,
                 "cycleNums":rows[i].cycleNums,  
                 "time":rows[i].time,
                 "periodicalState":getPeriodicalType(rows[i].periodicalState),
                 "option":rows[i].option
             }) ; 
		}
        $("#table").datagrid("loadData", data.slice(0, 15));
        var pager = $("#table").datagrid("getPager");  
        pager.pagination({  
            total:data.length, 
            pageSize:15,
            pageList: [15,20],
            onSelectPage:function (pageNo, pageSize) {  
                var start = (pageNo - 1) * pageSize;  
                var end = start + pageSize;  
                $("#table").datagrid("loadData", data.slice(start, end));  
                pager.pagination('refresh', {  
                    total:data.length,  
                    pageNumber:pageNo
                });  
            }  
        });  
	});
    function songQianFa(periodicalIssueNo ,periodicalId){
        $.ajax({
            type:"POST",
            url:"../expert/editSendToIssueGuangGao",
            data:{periodicalIssueNo:periodicalIssueNo,periodicalId:periodicalId},
            datatype: "json",
            beforeSend:function(){},
            success:function(data){
                if(data.message = "success"){
                    alert("送签发成功");
                    $("#span_qianfa").html("重新送签发");
                    $("#span_state").html("待签发");
                }
            }   ,
            complete: function(XMLHttpRequest, textStatus){
            },
            error: function(data){
                alert(data.message);
            }
        });

    }
</script>
<body>
	<div id="articleInfos">
		<form action="" method="POST">
		<table id="table" class="easyui-datagrid"   data-options="singleSelect:true,pagination:true">
			<thead>
				<tr>
					<th data-options="field:'periodicalCnName',width:200">期刊名称</th>
					<th data-options="field:'periodicalIssueNo',width:200">期刊编号</th>
					<th data-options="field:'periodicalYear',width:100">发行年份</th>
					<th data-options="field:'cycleNums',width:70">发行期</th>
					<th data-options="field:'time',width:200">签发时间</th>
					<th data-options="field:'periodicalState',width:100">状态</th>
					<th data-options="field:'option',width:195">操作</th>
				</tr>
			</thead>
			<tbody>
			#foreach($periodical in ${list})   
			<tr>
				<td>${p.periodicalCnName}</td>
				<td>${periodical.periodicalIssueNo}</td>
				<td>${periodical.periodicalYear}</td>
				<td>${periodical.cycleNums}</td>
				<td>${periodical.cycleNums}</td>
				<td>${periodical.periodicalState}</td>
				#if(${periodical.periodicalState}==''||   ${periodical.periodicalState}=='N' || ${periodical.periodicalState}=='ADPD')
				    <td><a class="easyui-linkbutton" href="../editor/toAdGroupInfosPage?periodicalIssueNo=${periodical.periodicalIssueNo}&periodicalId=${periodical.periodicalId}">刊登广告</a></td>
				#elseif(${periodical.periodicalState}=='ADPO')
				    <td>
                        <a class="easyui-linkbutton" href="../editor/toAdGroupInfosPage?periodicalIssueNo=${periodical.periodicalIssueNo}&periodicalId=${periodical.periodicalId}">重新刊登广告</a>
                        <a class="easyui-linkbutton" href="javascript:songQianFa('${periodical.periodicalIssueNo}','${periodical.periodicalId}')"><span id="span_qianfa">送签发</span></a>
                    </td>
                #elseif(${periodical.periodicalState}=='PI')
                    <td>
                        <a class="easyui-linkbutton" href="../editor/toAdGroupInfosPage?periodicalIssueNo=${periodical.periodicalIssueNo}&periodicalId=${periodical.periodicalId}">重新刊登广告</a>
                        <a class="easyui-linkbutton" href="javascript:songQianFa('${periodical.periodicalIssueNo}','${periodical.periodicalId}')">重新送签发</a>
                    </td>
                #else
                    <td>
                              签发完成
                    </td>
				#end
			</tr>
			#end
			</tbody>
		</table>
		<a class="easyui-linkbutton" style="width:50px;" href="../editor/toAdGroupPage">返回</a>
		</form>
	</div>
</body>
</html>
