<!DOCTYPE html>
<html>
<head>
<title>送审稿件明细</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		})
	})
</script>
<body>
	<div>
		<table style="border:1px solid;width:800px;" rules="all">
			<tr>
				<td><label>
						<span class="right">稿件状态:</span>
				</label></td>
				<td>$!{respDto.editorState}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">稿件中文:</span>
				</label></td>
				<td>$!{respDto.title}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">稿件英文标题:</span>
				</label></td>
				<td>$!{respDto.enTitle}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">中国分类号</span>
				</label></td>
				<td>$!{respDto.fNums}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">拟投栏目:</span>
				</label></td>
				<td>$!{respDto.section}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">中文关键字:</span>
				</label></td>
				<td>$!{respDto.cnKeywords}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">英文关键字:</span>
				</label></td>
				<td>$!{respDto.enKeyWords}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">中文摘要:</span>
				</label></td>
				<td>$!{respDto.cnSummary}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">英文摘要:</span>
				</label></td>
				<td>$!{respDto.enSummary}</td>
			</tr>
			<!-- <tr>
				<td><label>
						<span class="right">下载原稿件:</span>
				</label></td>
				<td>$!{respDto.attachName} 下载  $!{respDto.attachPath}</td>
			</tr> -->
		</table>
	</div>
	<div class="attr_con">
		<a href="../editor/toSubmitPage?articleId=$!{respDto.articleId}">送审</a>
	</div>
</body>
</html>
