<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script type="text/javascript">
    $(function(){
        $('#submit').click(function(){
            $('#table').datagrid({queryParams:getUrl()});
        });

        $('#table').datagrid({
            url:'../expert/toEnAuditePeriodicalPageSet',
            queryParams:getUrl(),
            pageSize:10,
            pageList: [10,15,20],
            onLoadSuccess:function(){
                var rows = $('#table').datagrid('getRows');
                for(var i=0;i<rows.length;i++) {

                    if(rows[i].pState =='PI'){
                        rows[i].option= getPeriodicalType(rows[i].pState);
                    }else {
                        rows[i].option='<a class="easyui-linkbutton" style="width:50px;" href="../expert/auditPeriodicalDetailPage?periodicalIssueNo='+rows[i].pIsNo+'&periodicalId='+rows[i].pId+'">审核</a>&nbsp;'+
                        '<a class="easyui-linkbutton"  style="width:50px;" href="javascript:songQianFa(\''+rows[i].pIsNo+'\',\''+rows[i].pId+'\')">送签发</a>';
                    }
                    rows[i].pState=getPeriodicalType(rows[i].pState);
                    rows[i].cNums="第"+rows[i].cNums+"期";
                    $('#table').datagrid('refreshRow',i);
                }
            }
        });

        function getUrl() {
            var url = {
                'articleId':$('input[name="articleId"]').val(),
                'articleCnTitle':$('input[name="title"]').val(),
                'creatTime':$('input[name="contriTime"]').val()
            };
            return url;
        }
    });

    function songQianFa(periodicalIssueNo ,periodicalId){
        $.ajax({
            type:"POST",
            url:"../expert/sendToIssueEditorPage",
            data:{periodicalIssueNo:periodicalIssueNo,periodicalId:periodicalId},
            datatype: "json",
            beforeSend:function(){},
            success:function(data){
                if(data.message = "success"){
                    alert("送签发成功");
                }else{
                    alert("请把全部稿件审核完毕后再送签发");
                }
            }   ,
            complete: function(XMLHttpRequest, textStatus){
            },
            error: function(data){
                alert(data.message);
            }
        });

    }
</script>
<body>
	<div id="articleInfos" style="margin-top: 50px;">
        <input id="periodicalIssueNo" value="${dtos.pIsNo}" type="hidden">
        <input id="periodicalId" value="${dtos.pId}" type="hidden">
        <form action="../expert/toEnAuditePeriodicalPageSet" method="POST">
            <table>
                <tr>
                    <td>稿件编号：</td>
                    <td><input class="easyui-textbox" type="text" name="articleId" value=""></td>
                    <td>稿件标题：</td>
                    <td><input class="easyui-textbox" type="text" name="title" value=""></td>
                    <td>投稿时间：</td>
                    <td ><input class="easyui-datebox" type="text" name="contriTime" value=""></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <a  class="easyui-linkbutton"   style="width:50px;" href="#"  id="submit">查询</a>
                    </td>
                </tr>
            </table>
        </form>
		<table   id="table"  class="easyui-datagrid"   data-options="fitColumns:true,singleSelect:true,pagination:true">
		<thead>
			<tr>
				<th data-options="field:'pCnName',width:45">期刊名称</th>
				<th data-options="field:'pIsNo',width:45">期刊号</th>
				<th data-options="field:'cNums',width:45">期号</th>
				<th data-options="field:'pState',width:45">状态</th>
				<th data-options="field:'option',width:45">操作</th>
			</tr>
		</thead>
		</table>
		<br>
	</div>
</body>
</html>
