<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		$('#back').click(function(){
			window.location.href='../expert/auditPeriodicalDetailPage?periodicalId=${periodicalId}&periodicalIssueNo=${periodicalIssueNo}';
		});
		$('#upload').click(function(){
			$('#formUp').submit();
		})
	})
</script>
<body>
	<div id="articleInfos"  style="margin-top:50px;">
		<table  id="grid" class="easyui-datagrid"   data-options="fitColumns:true,singleSelect:true">
			<thead>
				<tr>
					<th data-options="field:'name',width:200"></th>
					<th data-options="field:'value',width:800"></th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td>中文标题：</td>
				<td>$!{dto.articleCnTitle}</td>
			</tr>
			<tr>
				<td>英文标题：</td>
				<td>$!{dto.articleEnTile}</td>
			</tr>
			<tr>
				<td>中文关键词：</td>
				<td>$!{dto.articleCnKeywords}</td>
			</tr>
			<tr>
				<td>英文关键词：</td>
				<td>$!{dto.articleEnKeywords}</td>
			</tr>
			<tr>
				<td>中文摘要：</td>
				<td>$!{dto.articleCnSummary}</td>
			</tr>
			<tr>
				<td>英文摘要：</td>
				<td>$!{dto.articleEnSummary}</td>
			</tr>
			<tr>
				<td>审批稿件下载：</td>
				<!-- $!{detail.attachmentPath}  $!{detail.attachmentName}-->
				<td><a href="../expert/toDownLoadArticlePage?fileName=$!{dto.attachmentName}&filePath=$!{dto.attachmentPath}" class="easyui-linkbutton" data-options="width:50">下载</a></td>
			</tr>
			</tbody>
		</table>
		<input type="button" value="审核通过"  id="yes">
		<input type="button" value="审核不通过" id="no">
		<form id="formUp" action="../expert/toEnAuditDisagreePage" enctype="multipart/form-data">
			<input type="file" value="上传稿件" name="up">
		</form>
		<input type="button" value="上传稿件"  id="upload">
		<input type="button" value="返回上页"  id="back">
		<!-- <form action="../expert/toEnAuditAgreePage">
			<input type="text" name="aId" value="${dto.articleId}">
			<input type="text" name="pId" value="${periodicalId}">
			<input type="text" name="isNo" value="${periodicalIssueNo}">
			<input type="text" name="attachmentName" value="${dto.attachmentName}">
			<input type="text" name="attachmentPath" value="${dto.attachmentPath}">
			<input type="submit" value="审核通过">
		</form> -->
		<br>
	</div>
</body>
</html>
