<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos" style="margin-top: 50px;">
		<table style="border: 1px solid black; font-size: 14px;" rules="all">
			<tr>
				<td style="width: 20%; text-align: center;">期刊名称</td>
				<td style="width: 20%; text-align: center;">期刊号</td>
				<td style="width: 20%; text-align: center;">期号</td>
				<td style="width: 20%; text-align: center;">状态</td>
				<td style="width: 20%; text-align: center;">操作</td>
			</tr>

			#foreach($dtos in ${list})
			<tr>
				<td style="width: 20%; text-align: center;">$!{dtos.pCnName}</td>
				<td style="width: 20%; text-align: center;">$!{dtos.pIsNo}</td>
				<td style="width: 20%; text-align: center;">第$!{dtos.cNums}期</td>
				<td style="width: 20%; text-align: center;">$!{dtos.pState}</td>
				#if($!{dtos.pState}=='PI')
					<td style="width: 20%; text-align: center;">已完成</td>
				#else
					<td style="width: 20%; text-align: center;"><a
					href="../expert/auditPeriodicalDetailPage?periodicalIssueNo=${dtos.pIsNo}&periodicalId=${dtos.pId}">审核</a>
					<a
					href="../expert/sendToIssueEditorPage?periodicalIssueNo=${dtos.pIsNo}&periodicalId=${dtos.pId}">签发</a></td>
				#end
				
			</tr>
			#end
		</table>
		<br>
	</div>
</body>
</html>
