<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
</head>
<script>
	$(function(){
	    $('#back').click(function(){
	    	window.location.href='../expert/toArticleAuditePage';
		});
		$('#wait').click(function(){
            var daikanyijian = $("#daikanyijian_id").val();
            if(daikanyijian== ""){
                alert("请输入意见");
                return;
            }
            var files = $("#files").val();
            if(files== ""){
                alert("请上传附件");
                return ;
            }
            if(!checkFile(files)){
                return ;
            }
            $.ajaxFileUpload({
                url:'../expert/toPublishStateModify',            //需要链接到服务器地址
                secureuri:false,
                fileElementId:'files',                  //文件选择框的id属性
                dataType: 'json',                      //服务器返回的格式，可以是json, xml
                data:{filePath:"editorPath",articleId:'$!{respDto.oriArticleId}',dealOption:daikanyijian},
                success: function (data, status){     //相当于java中try语句块的用法
                    if (data.message == "success") {
                        alert('待刊成功');
                        window.location.href='../expert/toArticleAuditePage';
                    }
                },
                error: function (data, status, e){  //相当于java中catch语句块的用法
                    alert(data);
                }
            });
		});
		$('.down').click(function(){
			window.location.href='../expert/toDownLoadArticle?isDown=true&articleId=${respDto.oriArticleId}&expertDownload=${respDto.expertDownload}';
		});
		
		//返回刷新后根据带过来的值进行判断，决定走向
		if('${respDto.expertDownload}'=='Y') {
			$("#fx").removeAttr("disabled");
			$("#wait").removeAttr("disabled");
			$("#tg").removeAttr("disabled");
		}
		else {
			$("#fx").attr({"disabled":"disabled"});
			$("#wait").attr({"disabled":"disabled"});
			$("#tg").attr({"disabled":"disabled"});
		}
		
		if ('${isDown}'=='true') {
			$('#hid').click();
		}
		
		var data=$('#grid').datagrid('getData');
	    data.rows[1].value=ArticleStateEnums('$!{respDto.editorState}');
	    $("#grid").datagrid("loadData", data);  
	    
	});
	
	function fx () {
		window.location.href='../expert/toExpertRepairedPage?articleId=${respDto.oriArticleId}';
	}
	
	function tg () {
		window.location.href='../expert/toExpertRefundPage?articleId=${respDto.oriArticleId}';
	}
	
	//真正的点击下载按钮(隐藏)
	function download (a1,a2,a3) {
		window.location.href='../expert/toExpertDownLoadNewArticle?articleId='+a1+'&fileName='+a2+'&filePath='+a3;
	}
</script>
<body>
 <form action="../expert/toPublishStateModify" method="POST">
<input type="hidden" name="articleId" value="$!{respDto.oriArticleId}">
	<div>
		<table id="grid" class="easyui-datagrid"   data-options="singleSelect:true" >
		<thead>
			<tr>
				<th data-options="field:'name',width:200"></th>
				<th data-options="field:'value',width:800"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>稿件编号:</td>
				<td>$!{respDto.articleId}</td>
			</tr>
			<tr>
				<td>稿件状态:</td>
				<td>$!{respDto.editorState}</td>
			</tr>
			<tr>
				<td>稿件中文:</td>
				<td>$!{respDto.title}</td>
			</tr>
			<tr>
				<td>稿件英文标题:</td>
				<td>$!{respDto.enTitle}</td>
			</tr>
			<tr>
				<td>中国分类号</td>
				<td>$!{respDto.fNums}</td>
			</tr>
			<tr>
				<td>拟投栏目:</td>
				<td>$!{respDto.section}</td>
			</tr>
			<tr>
				<td>中文关键字:</td>
				<td>$!{respDto.cnKeywords}</td>
			</tr>
			<tr>
				<td>英文关键字:</td>
				<td>$!{respDto.enKeywords}</td>
			</tr>
			<tr>
				<td>中文摘要:</td>
				<td>$!{respDto.cnSummary}</td>
			</tr>
			<tr>
				<td>英文摘要:</td>
				<td>$!{respDto.enSummary}</td>
			</tr>
			<tr>
				<td>稿件:</td>
				<td>$!{respDto.attachName}</td>
			</tr>
			<tr>
                <td>上传附件:</td>
                <td> <input type="file" id="files" name="files"/><a style="font-size:12px;color:red;">(*)</a></td>
			</tr>
			<tr>
                <td>待刊意见:</td>
                <td> <textarea rows="10" cols="50" id="daikanyijian_id" ></textarea></td>
			</tr>

			</tbody>
		</table>
	</div>
	</form> 
	<div class="attr_con">
		<input type="button" id="back" value="返回">
		<input type="button" id="wait" value="待刊">
		<input type="button" id="fx" onclick="fx()" value="返修">
		<input type="button" id="tg" onclick="tg()" value="退稿">
		#set($d=$!{respDto.attachPath})
		<input type="button" class="down" value="下载">#set($d=$d.replace("\","\\"))
		<input type="button" onclick="download('${respDto.oriArticleId}','$!{respDto.attachName}','$d')"
               value="隐藏" id="hid" style="display:none;">
	</div>
</body>
</html>
