<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		
	});
</script>
<body>
	<div id="articleInfos">
	<form action="../expert/toArticleAuditePage" method="POST">
		<table style="border: 1px solid black;" rules="all" >
			<tr>
				<td>稿件标题</td>
				<td><input type="text" name="articleCnTitle" value=""></td>
				<td>作者</td>
				<td><input type="text" name="authorName" value=""></td>
				<td>稿件编号</td>
				<td><input type="text" name="articleId" value=""></td>
			</tr>
			<tr>
				<td>稿件状态</td>
				<td><input type="text" name="expertState" value=""></td>
				<td>栏目</td>
				<td><input type="text" name="section" value=""></td>
				<td>送审时间</td>
				<td><input type="text" name="creatTime" value=""></td>
			</tr>
			<tr>
				<td colspan="6"><input type="submit" value="查询"></td>
			</tr>
			</table>
		</form>	
		
		
		<table style="border: 1px solid black;" rules="all"  >
			<tr>
				<td>稿件编号</td>
				<td>稿件标题</td>
				<td>投稿时间</td>
				<td>稿件状态</td>
				<td>作者</td>
				<td>备注信息</td>
			</tr>
			
			#foreach($respDto in ${list})   
			<tr>
				<td>$!{respDto.articleId}</td>
				<td>$!{respDto.title}</td>
				<td>$!{respDto.contriTime}</td>
				<td>$!{respDto.expertState}</td>
				<td>$!{respDto.authorName}</td>
				#if($!{respDto.expertState}=='0003' || $!{respDto.expertState}=='0006' || $!{respDto.expertState}=='0007')
					<td><!-- 查看稿件信息 --></td>
				#else
				<td>
					<a href="../expert/toAuditeDetailPage?articleId=${respDto.articleId}">审核</a>
				</td>
				#end
			</tr>
			#end
		</table>
		<br>
	</div>
</body>
</html>
