<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#query').click(function(){
			$('form').submit();
		});
	});
</script>
<body>
	<div id="articleInfos">
		<form action="../expert/toArticleAuditePage" method="POST">
			<div>
				<a style="font-size:14px;">稿件标题：</a>
				<input class="easyui-textbox"  name="articleCnTitle"  data-options=""  style="width:150px"> 
				<a style="padding-left:50px;font-size:14px;">作者：</a>
				<input class="easyui-textbox"  name="authorName"  data-options="" style="width:150px"> 
				<a style="padding-left:50px;font-size:14px;">稿件编号：</a>
				<input class="easyui-textbox"  name="articleId"  data-options="" style="width:150px"> 
			</div>
			<div>
				<a  style="font-size:14px;">稿件状态：</a>
				<input class="easyui-textbox"  name="expertState" data-options="" style="width:150px"> 
				<a style="padding-left:50px;font-size:14px;">栏目：</a>
				<input class="easyui-textbox"  name="section"  data-options="" style="width:150px"> 
				<a style="padding-left:50px;font-size:14px;">送审时间：</a>
				<input class="easyui-textbox"  name="creatTime"  data-options="" style="width:150px"> 
				<a id="query" href="#" class="easyui-linkbutton" data-options="width:50" >查询</a>
			</div>
		</form>	
		<table class="easyui-datagrid"   data-options="singleSelect:true"  style="padding-top:30px;">
			<thead>   
		        <tr>   
		            <th data-options="field:'articleId',width:200">稿件编号</th>   
		            <th data-options="field:'title',width:180">稿件标题</th>   
		            <th data-options="field:'contriTime',width:180">投稿时间</th>
		            <th data-options="field:'expertState',width:180">稿件状态</th>   
		            <th data-options="field:'authorName',width:180">作者</th>   
		            <th data-options="field:'remark',width:100,align:'center'"'>备注信息</th>   
		        </tr>   
		    </thead> 
			#foreach($respDto in ${list})   
			<tbody>
				<tr>
					<td>$!{respDto.articleId}</td>
					<td>$!{respDto.title}</td>
					<td>$!{respDto.contriTime}</td>
					<td>$!{respDto.expertState}</td>
					<td>$!{respDto.authorName}</td>
					#if($!{respDto.expertState}=='0003' || $!{respDto.expertState}=='0006' || $!{respDto.expertState}=='0007')
						<td><!-- 查看稿件信息 --></td>
					#else
					<td>
						<a id="btn" href="../expert/toAuditeDetailPage?articleId=${respDto.articleId}" class="easyui-linkbutton" data-options="width:50">审核</a>  
					</td>
					#end
				</tr>
			<tbody>
			#end
		</table>
		<br>
	</div>
</body>
</html>
