<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript">
	$(function() {
		// 表格数据源  
		var data = [];
		var rows = $('#table').datagrid('getRows');
		for (var i = 0; i < rows.length; i++) {
			data.push({
				"id" : rows[i].id,
				"name" : rows[i].name,
				"option" : rows[i].option
			});
		}
		$("#table").datagrid("loadData", data.slice(0, 15));
		var pager = $("#table").datagrid("getPager");
		pager.pagination({
			total : data.length,
			pageSize : 15,
			pageList : [ 15,20 ],
			onSelectPage : function(pageNo, pageSize) {
				var start = (pageNo - 1) * pageSize;
				var end = start + pageSize;
				$("#table").datagrid("loadData", data.slice(start, end));
				pager.pagination('refresh', {
					total : data.length,
					pageNumber : pageNo
				});
			}
		});
		//$('#r1').attr('checked','checked');
		$('input[id^=r]').click(function(){
			if (this.checked==true) {
				var bID= this.id.replace('r','a');
				$('a[id^=a]').hide();
				$('#'+bID).show();
			}
		});
	});
</script>
<body>
	<div id="articleInfos" style="margin-top: 50px;">
		<div id="bt">稿件名称:${articleInfo.articleCnTitle}</div>
		<form action="">
			<table  id="table"  class="easyui-datagrid"   data-options="fitColumns:true,singleSelect:true,toolbar:'#bt',pagination:true">
				<thead>
					<th data-options="field:'id',width:45">选择第一作者填写账户信息</th>
					<th data-options="field:'name',width:45">作者姓名</th>
					<th data-options="field:'option',width:45">操作</th>
				</thead>
				<tbody>
				#foreach($dtos in ${list})
				<tr>
					<td><input type="radio"  name="selectRadio" id="r$!{velocityCount}"></td>
					<td>${dtos.authorName}</td>
##                    ${dtos.authorId}
					<td><a id="a$!{velocityCount}" style="display:none;" class="easyui-linkbutton"  href="../author/toAddAuthorPayeeInfoPage?articleId=${articleInfo.articleId}&authorId=${dtos.authorId}">编辑账户信息</a></td>
				</tr>
				#end
				</tbody>
			</table>
			<br>
		</form>
	</div>
</body>
</html>
