<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		var rows = $('#editTable').datagrid('getRows');
		for(var i=0;i<rows.length;i++) {
			$('#editTable').datagrid('beginEdit',i);
		}
		$('#submit').click(function(){
			var array=[];
			var data = $('#editTable').datagrid('getData');
			for(var i=0;i<data.rows.length;i++) {
				$('#editTable').datagrid('endEdit',i);
				var json={};
				json.pId = data.rows[i].pId;
				json.aId = data.rows[i].aId;
				json.nums = data.rows[i].nums;
				array.push(JSON.stringify(json));
			}
			window.location.href='../reader/toDistribution?array=['+array+']&periodicalId=$!{orderInfo.periodicalId}&orderNo=$!{orderInfo.orderNo}';
		});
		$('#back').click(function(){
			history.go(-1);
		});
	});
</script>
<body>
	<div>
		 <table id="editTable" class="easyui-datagrid" data-options="singleSelect:true">   
		    <thead>   
		        <tr>   
		            <th data-options="field:'id',width:150">序号</th>   
		            <th data-options="field:'pId',width:150">pdId</th>   
		            <th data-options="field:'aId',width:150">地址id</th>   
		            <th data-options="field:'rAddress',width:150">详细地址</th>   
		            <th data-options="field:'rContacter',width:150">联系人</th>   
		            <th data-options="field:'cMobile',width:150">联系电话</th>   
		            <th data-options="field:'nums',width:150,editor:'numberbox'" >邮寄本数</th>   
		        </tr>   
		    </thead>   
		    <tbody>   
		    	#foreach($dtos in ${list})
				<tr>
					<td>$!{velocityCount}</td>
					<td>$!{dtos.distributId}</td>
					<td>$!{dtos.addressId}</td>
					<td>$!{dtos.receiveAddress}</td>
					<td>$!{dtos.contacterName}</td>
					<td>$!{dtos.contacterTelephone}</td>
					<td>$!{dtos.distributNum}</td>
				</tr>
				#end
		    </tbody>   
		</table>
		<a id="back" class="easyui-linkbutton"  style="50px;">返回</a> 
		<a id="submit" class="easyui-linkbutton"  style="50px;">保存</a> 
	</div>
</body>
</html>
