<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			history.go(-1);
		});
		
		$('#submit').click(function(){
			if ($('input[name=file]').val()=='') {
				alert('请选择上传文件');
				return;
			}
			else {
				$('form').submit();
			}
		});
		
	})
</script>
<body>
	<div>
	<form action="../reader/toSaveOrderInfoPage" method="POST"  enctype="multipart/form-data">
	<input type="hidden" name="orderNo" value="$!{bo.orderNo}">
		<table style="border:1px solid green;width:800px;" rules="all">
			<tr>
				<td><label>
						<span class="right">订单号：</span>
				</label></td>
				<td>$!{bo.orderNo}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">期刊名称：</span>
				</label></td>
				<td>$!{bo.pCnName}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">应付总额：</span>
				</label></td>
				<td>$!{bo.oAmount}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">已付总额：</span>
				</label></td>
				<td>$!{bo.aPayAmount}</td>
			</tr>
			<tr>
				<td><label>
						<span class="right">汇票号：</span>
				</label></td>
				<td><input type="text" name="payNo" value=""></td>
			</tr>
			<tr>
				<td><label>
						<span class="right">汇款人姓名：</span>
				</label></td>
				<td><input type="text" name="payerName" value=""></td>
			</tr>
			<tr>
				<td><label>
						<span class="right">汇款金额：</span>
				</label></td>
				<td><input type="text" name="payAmount" value=""></td>
			</tr>
			<tr>
				<td><label>
						<span class="right">汇款地址：</span>
				</label></td>
				<td><input type="text" name="payAddress" value=""></td>
			</tr>
			<tr>
				<td><label>
						<span class="right">汇款人联系电话：</span>
				</label></td>
				<td><input type="text" name="payPhone" value=""></td>
			</tr>
			<tr>
				<td><label>
						<span class="right">汇款人账号：</span>
				</label></td>
				<td><input type="text" name="payerAccount" value=""></td>
			</tr>
			<tr>
				<td><label>
						<span class="right">汇款人附言：</span>
				</label></td>
				<td><input type="text" name="payRemark" value=""></td>
			</tr>
			<tr>
				<td><label>
						<span class="right">发票抬头：</span>
				</label></td>
				<td><input type="text" name="invoiceTile" value=""></td>
			</tr>
			<tr>
				<td>上传汇款凭证</td>
				<td><input type="file" value=""  name="file"></td>
			</tr>
			<!-- tr>
				<td><label>
						<span class="right">汇款时间：</span>
				</label></td>
				<td><input type="text" name="payTime" value=""></td>
			</tr> -->
		</table>
		</form>
		<input type="button"  value="返回"  id="back"/>
		<input type="button" id="submit"  value="提交">
	</div>
</body>
</html>
