<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/enums-combox.js"></script>
<script type="text/javascript" src="../js/enums-table.js"></script>
</head>
<script type="text/javascript">
    $(function(){
        $('#submit').click(function(){
            $('#table').datagrid({queryParams:getUrl()});
        });

        $('#table').datagrid({
            url:'../reader/toOrderManagePageSet',
            queryParams:getUrl(),
            pageSize:10,
            pageList: [10,15,20],
            onLoadSuccess:function(){
                var rows = $('#table').datagrid('getRows');
                for(var i=0;i<rows.length;i++) {
                    rows[i].option='<a href="../reader/toOrderPayPage?orderNo='+rows[i].orderNo+'" class="easyui-linkbutton" data-options="">订费登记</a>&nbsp;'+
                    '<a href="../reader/toDistributionPage?orderNo='+rows[i].orderNo+'"  class="easyui-linkbutton" data-options="">编辑订单</a>&nbsp;'+
                    '<a onclick="yijian(\''+rows[i].orderNo+'\')" href="#" class="easyui-linkbutton" >查看审稿意见</a>';
                    $('#table').datagrid('refreshRow',i);
                }
            }
        });

        $('#orderYear').combobox({
            data:getYear(),
            editable:false
        });

        function getUrl() {
            var url = {
                'orderNo':$('input[name="orderNoSearche"]').val(),
                'pYear':$('#orderYear').combobox('getValue')
            };
            return url;
        }
    });
    function yijian(value) {
        $.ajax({
            url:'../reader/queryOpinion',
            data:{orderNo:value},
            type:'POST',
            success:function(res){
                if (res=='null' || res=='') {
                    alert('无');
                }
                else {
                    alert(res);
                    //alert(eval('(' + res + ')').opinion);
                }
            }
        });
    }
</script>
<body>
	<div id="articleInfos">
		<div id="bt"  style="height:30px;line-height:30px;">订单管理</div>
        <form action="../reader/toOrderManagePageSet" method="POST">
            <table>
                <tr>
                    <td>订购年份：</td>
                    <td><select id="orderYear" name="orderYear"  data-options="panelHeight:'auto'" class="easyui-combobox"  style="width:155px;">
                    </select></td>
                    <td>订单编号：</td>
                    <td><input class="easyui-textbox" type="text" name="orderNoSearche" value=""></td>
                    <td><a  class="easyui-linkbutton"   style="width:50px;" href="#"  id="submit">查询</a></td>
                </tr>
            </table>
        </form>
		<table id="table" class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,toolbar:'#bt',pagination:true">
			<thead> 
				<tr>
					<th data-options="field:'orderNo',width:200">订单编号</th>
					<th data-options="field:'pYear',width:100">订购年份</th>
					<th data-options="field:'subNums',width:100">数量</th>
					<th data-options="field:'amount',width:130">金额</th>
					<th data-options="field:'submitTime',width:150">提交日期</th>
					<th data-options="field:'auditTime',width:150">审核日期</th>
	                <th data-options="field:'option',width:220">操作</th>
				</tr>
			</thead>
		</table>
		<!-- <a href="../reader/toCreatOrderPage"  class="easyui-linkbutton" data-options="">新建订单</a>  -->
		<!--  <a href="#"  onclick="import_download()" class="easyui-linkbutton" data-options="">下载订购指南</a>  --> 
		<iframe height="0" width="0"  name="saveImg" id="saveImg"  style="display:none;"></iframe>
		<br>
	</div>
</body>
</html>
