<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="css/easyui.css" type="text/css" rel="stylesheet" />
<link href="css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
</head>
<script type="text/javascript">
	$(function() {
		$('.area_name').click(function() {
			$('#other').hide();
			$('#area').show();
		});
		//$('#jiansuo').click(function(){
		//	$('#area').hide();
		//	$('#other').remove();
		//	$('.right').append('<div id="other"><iframe  width ="100%"   height = "530" src= "reader/toKeyWordsSearchPage?userId=${userId}"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
		//});
		$('#dingdanguanli')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "reader/toOrderManagePage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		
		$('#youjidizhiguanli')
		.click(
				function() {
					$('#area').hide();
					$('#other').remove();
					$('.right')
							.append(
									'<div id="other"><iframe  width ="100%"   height = "530" src= "reader/toDistributPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
				});
		
		$('#xiugaixinxi')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "setting/toUpdateSettingPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#xiugaimima')
				.click(
						function() {
							$('#area').hide();
							$('#other').remove();
							$('.right')
									.append(
											'<div id="other"><iframe  width ="100%"   height = "530" src= "setting/toUpdatePWPage"   frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
						});
		$('#other').hide();
	});
	function link (value) {
		$('#area').hide();
		$('#other').remove();
		$('.right')
				.append(
						'<div id="other"><iframe  width ="100%"   height = "530" src= "reader/toCreatOrderPage?periodicalId='+value+'"  frameborder="no" marginwidth="0" marginheight="0" scrolling="auto" allowtransparency="yes" ></iframe></div>');
	}
	//文件下载
	 function import_download () {
	   	 var htmlUrl = "reader/download";
		 $("#saveImg").attr("src",htmlUrl);
	 } 
</script>
<style>
.top {
	height: 80px;
	background-image: url("img/portal/u2.jpg");
	line-height: 80px;
	padding-left: 30px;
}

.left {
	width: 200px;
	height: 530px;
	float: left;
}

.right {
	width: 1070px;
	height: 530px;
	float: left;
}

.buttom {
	height: 540px;
	margin-top: 1px;
}

.work_area {
	height: 30px;
	background: #4DA20B;
}

.area_name {
	height: 30px;
	margin-left: 70px;
	margin-top: 8px;
	cursor: pointer;
}

.mode_name {
	height: 30px;
	background: #4DA20B;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
}

.cLeft {
	height: 200px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 5px;
}

.leftUp {
	height: 60px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #349000;
	border-radius: 5px;
}

.li1, .li2, .li3 {
	height: 30px;
	line-height: 30px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;
}

.li1 {
	border-top: 1px solid #349000;
	border-left: 1px solid #349000;
	border-right: 1px solid #349000;
	margin-top: 10px;
}

.li2 {
	border-top: 1px solid #349000;
	border-left: 1px solid #349000;
	border-right: 1px solid #349000;
}

.li3 {
	border: 1px solid #349000;
}

a {
	text-decoration: none;
	color: #000000
}
</style>
<body style="margin: 0px;">
	<div class="top">
		<a>欢迎访问《 农药科学与管理 》网站！</a> <a href="logout"
			style='text-decoration: none;'>退出系统</a>
	</div>
	<div class="buttom">
		<div class="left">
			#if(${userInfo.roleId}=='1002')
			<div class="leftUp">
				<div class="work_area"></div>
				<div class="area_name">读者</div>
			</div>
			<div class="cLeft">
				<div class="mode_name">期刊征订</div>
				<!-- <div  class="li1"  id="jiansuo">关键词检索</div> -->
				<div class="li2" style="margin-top: 10px;" id="dingdanguanli">订单管理</div>
				<div class="li3" id="youjidizhiguanli">邮寄地址管理</div>
、				<div class="mode_name" style="margin-top: 10px;">个人信息设置</div>
				<div class="li2" style="margin-top: 10px;" id="xiugaixinxi">修改个人信息</div>
				<div class="li3" id="xiugaimima">修改密码</div>
				<!-- div  class="mode_name"  style="margin-top:10px;">消息管理</div>
	       		<div  class="li2"  style="margin-top:10px;" id="xiugaixinxi">我的消息</div>
			    <div  class="li3" id="xiugaimima">发送消息</div> -->
			</div>
			#elseif(${userInfo.roleId}=='1011')
			<div class="leftUp">
				<div class="work_area"></div>
				<div class="area_name">省所读者</div>
			</div>
			<div class="cLeft">
				<div class="mode_name">期刊征订</div>
				<!-- <div  class="li1"  id="jiansuo">关键词检索</div> -->
				<div class="li2" style="margin-top: 10px;" id="dingdanguanli">订单管理</div>
				<div class="li3" id="gaofeidengji">订费登记</div>
				<div class="mode_name" style="margin-top: 10px;">个人信息设置</div>
				<div class="li2" style="margin-top: 10px;" id="xiugaixinxi">修改个人信息</div>
				<div class="li3" id="xiugaimima">修改密码</div>
			</div>
			#end
		</div>
		<div class="right">
			<div id="area" style="margin-top: 20px;">
				<div id="bt"  style="height:30px;line-height:30px;">可预订期刊列表 </div>
				<table class="easyui-datagrid" data-options="fitColumns:true,singleSelect:true,toolbar:'#bt'">
					<thead>
						<tr>
							<th data-options="field:'periodicalCnName',width:150">期刊中文名称</th>
							<th data-options="field:'issnNo',width:150">期刊号</th>
							<th data-options="field:'press',width:150">出版社</th>
							<th data-options="field:'hostOrganization',width:150">主管单位</th>
							<th data-options="field:'inFixPrice',width:150">国内定价</th>
							<th data-options="field:'outFixPrice',width:150">国际定价</th>
							<th data-options="field:'option',width:150">操作</th>
							
						</tr>
					</thead>
					<tbody>
						#foreach($dtos in ${list})
						<tr>
							<td>$!{dtos.periodicalCnName}</td>
							<td>$!{dtos.issnNo}</td>
							<td>$!{dtos.press}</td>
							<td>$!{dtos.hostOrganization}</td>
							<td>$!{dtos.inFixPrice}</td>
							<td>$!{dtos.outFixPrice}</td>
							<td >
								<a  onclick="link('${dtos.periodicalId}')" href="#" class="easyui-linkbutton"  data-options="width:50">预订</a>
								<a href="#"  onclick="import_download()" class="easyui-linkbutton" data-options="">下载订购指南</a>
							</td>
						</tr>
						#end
					</tbody>
				</table>
				<iframe height="0" width="0"  name="saveImg" id="saveImg"  style="display:none;"></iframe>
			</div>
		</div>
	</div>
</body>
</html>
