<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<table style="border: 1px solid black;" rules="all">
			<form enctype="multipart/form-data" action="../reader/toUploadAddressPage" method="POST">
				<tr>
				<td><input type="file" name="file" value=""></td>
				<td colspan="5"><input type="submit" value="上传"></td>
				</tr>
			</form>
			
			<tr>
				<td>地址id</td>
				<td>邮寄地址</td>
				<td>邮政编码</td>
				<td>联系人姓名</td>
				<td>联系人手机</td>
                <td>操作</td>
			</tr>
            #foreach($dtos in ${list})
                <tr>
                    <td>${dtos.aId}</td>
                    <td>${dtos.rAddress}</td>
                    <td>${dtos.rPostCode}</td>
                    <td>${dtos.rContacter}</td>
                    <td>${dtos.cMobile}</td>
                    <td><a href="../reader/toDeleteAddressInfo?addressId=${dtos.aId}">删除</a></td>
                </tr>
            #end
		</table>
		<br>
	</div>
</body>
</html>
