<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div id="articleInfos">
		<table style="border: 1px solid black;" rules="all">
			<tr>
				<td>订单编号</td>
				<td>订购年份</td>
				<td>数量</td>
				<td>金额</td>
				<td>提交日期</td>
                <td>审核日期</td>
                <td>银行汇款凭证</td>
                <td>操作</td>
			</tr>
            #foreach($orderInfo in ${list})
                <tr>
                    <td>${orderInfo.order_no}</td>
                    <td>${orderInfo.periodical_year}</td>
                    <td>${orderInfo.subscribe_nums}</td>
                    <td>${orderInfo.subscribe_nums}</td>
                    <td>${orderInfo.create_time}</td>
                    <td>${orderInfo.audit_time}</td>
                    <td>${orderInfo.id}</td>
                    <td><a href="../author/toArticleQueryDetailPage?artilceId=${articleQueryRespDto.articleId}">${articleQueryRespDto.articleCnTitle}</a></td>
                </tr>
            #end
		</table>
		<br>
	</div>
</body>
</html>
