<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	$(function(){
		// 表格数据源  
        var data = [];  
        var rows = $('#table').datagrid('getRows');
        for(var i=0;i<rows.length;i++) {
        	 data.push({  
                 "aId":rows[i].aId,  
                 "rAddress":rows[i].rAddress,
                 "rPostCode":rows[i].rPostCode,  
                 "rContacter":rows[i].rContacter,
                 "cMobile":rows[i].cMobile,
                 "option":rows[i].option
             }) ; 
		}
        $("#table").datagrid("loadData", data.slice(0, 5));
        var pager = $("#table").datagrid("getPager");  
        pager.pagination({  
            total:data.length, 
            pageSize:5,
            pageList: [5,10,15,20],
            onSelectPage:function (pageNo, pageSize) {  
                var start = (pageNo - 1) * pageSize;  
                var end = start + pageSize;  
                $("#table").datagrid("loadData", data.slice(start, end));  
                pager.pagination('refresh', {  
                    total:data.length,  
                    pageNumber:pageNo
                });  
            }  
        });  
	});
</script>
</head>
<body>
	<div id="articleInfos">
		<table id="table"  class="easyui-datagrid"   data-options="singleSelect:true,pagination:true">
			<thead>
			<tr>
				<th data-options="field:'aId',width:200">地址id</th>
				<th data-options="field:'rAddress',width:200">邮寄地址</th>
				<th data-options="field:'rPostCode',width:200">邮政编码</th>
				<th data-options="field:'rContacter',width:200">联系人姓名</th>
				<th data-options="field:'cMobile',width:200">联系人手机</th>
                <th data-options="field:'option',width:50">操作</th>
			</tr>
			</thead>
			<tbody>
            #foreach($dtos in ${list})
                <tr>
                    <td>${dtos.aId}</td>
                    <td>${dtos.rAddress}</td>
                    <td>${dtos.rPostCode}</td>
                    <td>${dtos.rContacter}</td>
                    <td>${dtos.cMobile}</td>
                    <td><a class="easyui-linkbutton" href="../reader/toDeleteAddressInfo?addressId=${dtos.aId}">删除</a></td>
                </tr>
            #end
            </tbody>
		</table>
		<br>
		<form action="../reader/toDownloadAddressPage" method="POST">
			<input type="submit" value="下载地址模板">
		</form>
		<form enctype="multipart/form-data" action="../reader/toUploadAddressPage" method="POST">
		<input type="file" name="file" value="">
		<input type="submit" value="上传">
		</form>
	</div>
</body>
</html>
