<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		var priceAllYear = ${periodicalInfo.inFixPrice} * ${periodicalInfo.cycle};
		$('#priceAllYear').text('全年定价：'+priceAllYear);
		
		$('#orderNums').blur(function(){
			if(!isNaN($('#orderNums').val())){
##			    var price = ${periodicalInfo.inFixPrice} * parseInt($('#orderNums').val());
			    var price = priceAllYear * parseInt($('#orderNums').val());
				$('#price').text('金额：'+price);
			}
			else {
				alert('请输入正确数字');
				$('#orderNums').val('0');
				$('#price').text('金额：0');
			}
			
		});


    }) ;
</script>
<body>
	<div id="articleInfos"  style="margin-left:300px;margin-top:50px;">
	<form action="../reader/toCreatOrder" method="POST">
		<input type="hidden" name="periodicalId" value="${periodicalInfo.periodicalId}">
		<input type="hidden" name="singlPrice" value="${periodicalInfo.inFixPrice}">
		<input type="hidden" name="payeeId" value="${periodicalInfo.payeeId}">
		<input type="hidden" name="cycle" value="${periodicalInfo.cycle}">
		<table style="border: 1px solid green;" rules="all">
			<tr>
				<th>期刊信息</th>
			</tr>
            <tr>
                <td>期刊名称：${periodicalInfo.periodicalCnName}</td>
            </tr>
            <tr>
                <td>刊号：${periodicalInfo.issnNo}</td>
            </tr>
            <tr>
                <td>出版周期：${periodicalInfo.cycle}</td>
            </tr>
            <tr>
                <td id="priceAllYear">全年定价：算出来</td>
            </tr>
            <tr>
                <td>收款单位：${payeeInfo.payeeAccountName}</td>
            </tr>
            <tr>
                <td>开户银行及账户：${payeeInfo.payeeAccountOpen}  ${payeeInfo.payeeAccountNo}</td>
            </tr>
            <tr>
                <td>邮局汇款：${payeeInfo.payeeAccountPost}</td>
            </tr>
            <tr>
                <td>地址：${payeeInfo.payeeAccountAddress}</td>
            </tr>
            <tr>
                <td>邮编：${payeeInfo.payeeAccountPostCode}</td>
            </tr>
            <!-- <tr>
                <td>订购指南：下载</td>
            </tr> -->
            
          	<tr>
                <th>订阅信息</th>
            </tr>
            <tr>
                <td>订阅期刊：
                    <select name="periodicalYear">
                	<option value="2015">2015</option>
                	<option value="2016">2016</option>
                	<option value="2017">2017</option>
                	<option value="2018">2018</option>
                	<option value="2019">2019</option>
                	<option value="2020">2020</option>
                	<option value="2021">2021</option>
                	<option value="2022">2022</option>
                	<option value="2023">2023</option>
                </select></td>
            </tr>
            <tr>
                <td>订阅数：<input type="text" name="orderNums" id="orderNums" value="0"></td>
            </tr>
            <tr>
                <td id="price">金额：0</td>
            </tr>
            <tr>
                <td>
	                <input type="submit" value="提交">
	                <input type="button" onclick="window.location.href='../reader/toOrderManagePage';" value="返回">
                </td>
            </tr>
		</table>
		<br>
		</form>
	</div>
</body>
</html>
