<!DOCTYPE html>
<html>
  <head>
    <title>注册页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../css/easyui.css" type="text/css" rel="stylesheet"/>
    <link href="../css/icon.css" type="text/css" rel="stylesheet"/>
 	<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
  </head>
  <script type="text/javascript">
  		$(function(){
  			$.extend($.fn.validatebox.defaults.rules, {    
  			    equals: {    
  			        validator: function(value,param){    
  			            return value == $(param[0]).val();    
  			        },    
  			        message: '密码不同.'   
  			    }    
  			});  
  			$('#email').blur(function(){
  					alert($('#email').validatebox('isValid'));
  			});
  		});
  </script>
  <style>
  		.all{width:80%;height:80%;margin:auto;}
  		.mode1{margin-left:300px;}
  		.sign{color:red;}
  		.wrong{color:red;}
  		.right{color:green;}
  		.tip{font-size:12px;}
  </style>
  <body>
    <div class="all">
		<div class="mode1">
			<!--Email-->
			<a class="sign">*</a><a>Email：</a>
			<input id="email" class="easyui-validatebox" 
						data-options="required:true,validType:'email',
												missingMessage:'不允许为空',
												invalidMessage:'请输入正确的Email格式'" />
			<a class="wrong">x</a><a class="right">√</a><br>
			<a class="tip">邮箱地址只能包含字母、数字、句点 (.)、连字符 (-) 或下划线 (_)。</a><br><br>
			
			<!--密码--> 
			<a class="sign">*</a><a>密码：</a>
			<input id="pwd" name="pwd" type="password" class="easyui-validatebox" 
						data-options="required:true,missingMessage:'不允许为空'" />
			<a class="wrong">x</a><a class="right">√</a><br>
			<a class="tip">密码至少6个字符，请不要和登录名相同。</a><br><br>
			
			<!--确认密码-->
			<a class="sign">*</a><a>确认密码：</a>
			<input id="rpwd" name="rpwd" type="password" class="easyui-validatebox"  
						data-options="missingMessage:'不允许为空',"    
			    		required="required"  validType="equals['#pwd']" />
			<a class="wrong">x</a><a class="right">√</a><br><br>
			
			<!--姓名-->
			<a class="sign">*</a><a>姓名：</a>
			<input id="name" class="easyui-validatebox" 
						data-options="required:true,missingMessage:'不允许为空'" />
			<a class="wrong">x</a><a class="right">√</a><br><br>
			
			<!--汉语拼音-->
			<a class="sign">*</a><a>汉语拼音：</a>
			<input id="pingyin" class="easyui-validatebox" 
						data-options="required:true,missingMessage:'不允许为空'" />
			<a class="wrong">x</a><a class="right">√</a><br><br>
			
			<!--证件-->
			<a class="sign">*</a><a>证件：</a>
			<select id="certificates" class="easyui-combobox" name="dept" style="width:200px;"> 
			    <option value="aa">身份证</option> 
			    <option>护照</option>   
			    <option>军警证</option>     
			</select><a class="wrong">x</a><a class="right">√</a><br><br>  
			
			<!--出生日期-->
			<a class="sign">*</a><a>出生日期：</a>
			<input id="birthday" class="easyui-validatebox" 
						data-options="required:true,missingMessage:'不允许为空'" />
			<a class="wrong">x</a><a class="right">√</a><br><br> 
			
			<!--提交按钮-->
			<input type="button"  value="注册"><input type="button"  value="返回">
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
    </div>
  </body>
</html>
