<!DOCTYPE html>
<html>
<head>
<title>个人信息修改</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			$('#other', window.parent.document).hide();
			$('#area', window.parent.document).show();
		});
		$('#certificateType').combobox('setValue','$!{authorInfo.certificateType}');
		$('#education').combobox('setValue','$!{authorInfo.degree}');
		$('#academicDegree').combobox('setValue','$!{authorInfo.academicDegree}');
		$('#compayType').combobox('setValue','$!{authorInfo.compayType}');
	})
</script>
<body>
	<form action="../setting/toUpdateSetting" method="POST">
		#if(${userInfo.roleId}=='1001')
		<div id="articleInfos">
			<input type="hidden" value="$!{authorInfo.id}" id="id" name="id">
			<table style="border: 1px solid green; width: 800px;" rules="all">
				<tr style="display:none;">
					<td>
						<label>
							<span class="right">用户ID：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.authorId}" id="authorId" name="authorId">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">作者姓名：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.authorName}" id="authorName"
						name="authorName">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">email：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey" value="$!{authorInfo.email}"
						id="email" name="email">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">姓名拼写：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.authorNameSpell}" id="authorNameSpell"
						name="authorNameSpell">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">证件号：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.certificateNo}" id="certificateNo"
						name="certificateNo">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">证件类型：</span>
						</label>
					</td>
					<td>
						<select id="certificateType" class="easyui-combobox" name="certificateType" style="width:80px;"> 
						    <option  value="IDCARD">身份证</option> 
						    <option  value="PASSPORT">护照</option>   
						    <option  value="OFFICERCARD">军警证</option>     
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">性别：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey" value="$!{authorInfo.sex}"
						id="sex" name="sex">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">出生日期：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="easyui-datebox"
						value="$!{authorInfo.birthday}" id="birthday" name="birthday">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">研究领域：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.researchArea}" id="researchArea"
						name="researchArea">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">学历：</span>
						</label>
					</td>
					<td>
						<select id="education" name="degree" class="easyui-combobox" style="width:100px;"> 
						    <option value="JUNIOR_SCHOOL">小学</option> 
						    <option value="MIDDLE_SCHOOL">初中</option> 
						    <option value="SENIOR_SCHOOL">高中</option> 
						    <option value="POLYTECHNIC_SCHOOL">中专</option> 
						    <option value="VOCATIONAL_SCHOOL">高职</option> 
						    <option value="JUNIOR_COLLEGE">专科</option> 
						    <option value="BACHELOR_DEGREE">本科</option> 
						    <option value="MASTER_DEGREE">硕士研究生</option> 
						    <option value="DOCTORAL">博士研究生</option> 
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">学位：</span>
						</label>
					</td>
					<td>
						<select id="academicDegree" class="easyui-combobox" name="academicDegree" style="width:100px;"> 
						    <option value="BACHELOR">学士</option> 
						    <option value="MASTER">硕士</option>   
						    <option value="DOCTOR">博士</option>     
						    <option value="POST">博士后</option>     
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">公司名称：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.companyName}" id="companyName"
						name="companyName">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">企业类型：</span>
						</label>
					</td>
					<td>
						<select id="compayType" class="easyui-combobox" name="compayType" style="width:100px;"> 
						    <option value="ENTERPRISES">国企</option> 
						    <option value="PRIVATE_ENTERPRISES">私企</option>   
						    <option value="FOREIGN_COMPANY">外企</option>     
						    <option value="RESEARCH_COMPANY">科研单位</option>     
						    <option value="COMPANY_OTHERS">其他</option>  
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">部门/院系：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.companyDepartment}" id="companyDepartment"
						name="companyDepartment">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">是否为第一作者：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{authorInfo.isfirstauthor}" id="isfirstauthor"
						name="isfirstauthor">
					</td>
				</tr>
			</table>
			<div class="attr_con">
				 <input type="button" value="返回"  id="back" ><input type="submit" value="保存">
			</div>
		</div>
		#elseif($!{userInfo.roleId}=='1002')
		<div id="articleInfos">
			<input type="hidden" value="$!{readerInfo.id}" id="id" name="id">
			<table style="border: 1px solid green; width: 800px;" rules="all">
				<!-- <tr style="display:none;">
					<td>
						<label>
							<span class="right">登录名：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{userInfo.logonName}" id="logonName" name="logonName">
					</td>
				</tr> -->
				<tr style="display:none;">
					<td>
						<label>
							<span class="right">用户ID：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.readerId}" id="readerId" name="readerId">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">读者姓名：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.readerName}" id="readerName"
						name="readerName">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">email：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey" value="$!{readerInfo.email}"
						id="email" name="email">
					</td>
				</tr>
				<!-- <tr>
					<td>
						<label>
							<span class="right">出生日期：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.birthday}" id="birthday" name="birthday">
					</td>
				</tr> -->
				<tr>
					<td>
						<label>
							<span class="right">公司名称：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.companyName}" id="companyName"
						name="companyName">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">部门/院系：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.companyDepartment}" id="companyDepartment"
						name="companyDepartment">
					</td>
				</tr>
			</table>
			<div class="attr_con">
				 <input type="button" value="返回"  id="back" ><input type="submit" value="保存">
			</div>
		</div>
		#elseif($!{userInfo.roleId}=='1003')
		<div id="articleInfos">
			<input type="hidden" value="$!{readerInfo.id}" id="id" name="id">
			<table style="border: 1px solid green; width: 800px;" rules="all">
				<!-- <tr style="display:none;">
					<td>
						<label>
							<span class="right">登录名：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{userInfo.logonName}" id="logonName" name="logonName">
					</td>
				</tr> -->
				<tr style="display:none;">
					<td>
						<label>
							<span class="right">用户ID：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.readerId}" id="readerId" name="readerId">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">读者姓名：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.readerName}" id="readerName"
						name="readerName">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">email：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey" value="$!{readerInfo.email}"
						id="email" name="email">
					</td>
				</tr>
				<!-- <tr>
					<td>
						<label>
							<span class="right">出生日期：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.birthday}" id="birthday" name="birthday">
					</td>
				</tr> -->
				<tr>
					<td>
						<label>
							<span class="right">公司名称：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.companyName}" id="companyName"
						name="companyName">
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span class="right">部门/院系：</span>
						</label>
					</td>
					<td>
						<input maxlength="30"
						class="wid333 ip_input_con lightgrey"
						value="$!{readerInfo.companyDepartment}" id="companyDepartment"
						name="companyDepartment">
					</td>
				</tr>
			</table>
			<div class="attr_con">
				 <input type="button" value="返回"  id="back" ><input type="submit" value="保存">
			</div>
		</div>
		#else
		
		#end
	
	

	</form>
</body>
</html>
