<!DOCTYPE html>
<html>
<head>
<title>修改密码</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../css/easyui.css" type="text/css" rel="stylesheet" />
<link href="../css/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui-lang-zh_CN.js"></script>
</head>
<script>
	$(function(){
		$('#back').click(function(){
			$('#other', window.parent.document).hide();
			$('#area', window.parent.document).show();
		});
		
		$('#submit').click(function(){
			if ($('#logonPwd').val()==$('#oldpwd').val()) {
				if ($('#newpwd1').val()=="" || $('#newpwd2').val()=="") {
					alert('新密码不允许为空');
				}
				if($('#newpwd1').val()==$('#newpwd2').val()) {
					$('form').submit();
				}
				else {
					alert('两次新密码不一致');
				}
			}
			else {
				alert('旧密码不正确');
			}
		});
	})
</script>
<body>
	<div id="articleInfos"  style="margin-left:300px;margin-top:50px;">
	<form action="../setting/toUpdatePwd" method="POST">
		<table style="border: 1px solid green;" rules="all">
			<input type="hidden" id="logonPwd" name="password" value="$!{userInfo.logonPwd}">
			<tr>
				<td>旧密码:</td>
				<td><input type="password" id="oldpwd" name="orgPw" value=""></td>
			</tr>
			<tr>
				<td>新密码:</td>
				<td><input type="password" id="newpwd1" name="newPw" value=""></td>
			</tr>
			<tr>
				<td>确认密码:</td>
				<td><input type="password" id="newpwd2"  name="confimNewPw" value=""></td>
			</tr>
		</table>
		</form>
		<input type="button" value="取消"  id="back"><input type="button" id="submit" value="确认修改">
	</div>
</body>
</html>
