
<form method="post" id="godownForma" name="godownForma" action="#">
	<div class="main">
		<div class="wrap">
			<div class="con">
				<div class="con_title">
					<h3 class="left fs14 marglr3020">科目详细</h3>
					<span class="grey"></span>
				</div>
				<div class="main_con">
					<div class="con_article_title02 paddtb20">
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">用户id：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.userId}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">登录名：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.logonName}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">登录密码：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.logonPwd}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.roleId}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.retryTimes}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.status}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.extend1}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.extend2}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.extend3}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.extend4}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.createTime}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="wid343 paddingt10">
									<label class="wid333 ip_input_con lightgrey">
										$!{pageInfo.updateTime}
									</label>
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
								<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
						<div class="blank20"></div>
					</div>
					<div id="areaHid"></div>
					<div class="con_core_info_div03 paddingl80">
						<div class="attr_con">
							<a class="chan_btn right wid93 margr40 margt10" href="${rc.contextPath}/params/userInfoIndex">返回</a> 
						</div>
					</div>
				</div>
			</div>
		</div>
</form>
