
<form method="post" id="godownForma" name="godownForma" action="${rc.contextPath}/params/saveUserInfo">
	<div class="main">
		<div class="wrap">
			<div class="con">
				<div class="con_title">
					<h3 class="left fs14 marglr3020">新增UserInfo</h3>
					<span class="grey"></span>
				</div>
				<div class="main_con">
					<div class="con_article_title02 paddtb20">
						<input type="hidden" value="" id="id" name="id">
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">系统生成用户id号：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="userId" name="userId">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">登录名：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="logonName" name="logonName">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">登录密码：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="logonPwd" name="logonPwd">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">关联id(根据role_id决定该值ref_id为哪个表的关联id)：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="refId" name="refId">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">角色id：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="roleId" name="roleId">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">系统id：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="systemId" name="systemId">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">密码重置次数(5次上限)：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="retryTimes" name="retryTimes">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">用户状态0:可用;1:不可用：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="status" name="status">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="extend1" name="extend1">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="extend2" name="extend2">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="extend3" name="extend3">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="extend4" name="extend4">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="createTime" name="createTime">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
							<div class="blank20"></div>
							<div class="con_core_info_div02 rel_pos wid500 padding0">
								<label class="label_txt wid135 txtright margt10 margr8">
									<span class="right">：</span></label>
								<div class="input_con_type_top wid343">
									<input maxlength="30" class="wid333 ip_input_con lightgrey" value="" id="updateTime" name="updateTime">
								</div>
								<div style="display: none;margin-left:150px;" class="left wid360">
									<span class="label_txt wid190 margt10 red01" error="userInfo"></span>
								</div>
							</div>
						<div class="blank20"></div>
					</div>
					<div id="areaHid"></div>
					<div class="con_core_info_div03 paddingl80">
						<div class="attr_con">
							<a class="chan_btn right wid93 margr40 margt10" href="${rc.contextPath}/params/userInfoIndex">返回</a> 
							<input type="submit" value="save">
						</div>
					</div>
				</div>
			</div>
		</div>
</form>
